Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

fix: ut
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(eviction): add skipped pod kind in numa cpu eviction
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

numa_pressure: avoiding ping-pong
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

numa_pressure: reduce grace period for reclaiming jobs
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

feat(qrm) support hybrid numa allocation
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hint_framework.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hint_framework_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/metric_hint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/dynamic/strategygroup/strategy_group.go
  pkg/consts/strategy_names.go
  pkg/util/machine/topology.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(resctrl): resource allocation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
Owners: @luomingmeng

refactor(hintoptimizer): update OptimizeHints to use ListOfTopologyHints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/serviceprofile/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/serviceprofile/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

refactor ServiceProfilingManager to support ServiceAggregateMetrics return quantity list
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/metaserver/spd/manager.go
  pkg/metaserver/spd/util.go
Owners: @luomingmeng

fix(controller): fix spd log
  pkg/controller/spd/spd.go
Owners: @luomingmeng

refactor(metric): rename GetIsVm to GetIsVM and simplify logic
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/node/node.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
Owners: @luomingmeng, @xu282934741, @JulyWindK

feat(qrm): qrm supports shared_cores with numa binding hint optimizer
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/serviceprofile/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/serviceprofile/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/custom-metric/store/data/types/aggragated.go
  pkg/metaserver/spd/fetcher.go
  pkg/metaserver/spd/manager.go
  pkg/metaserver/spd/util.go
  pkg/metaserver/spd/util_test.go
  pkg/util/native/resources.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741, @JulyWindK

refactor: remove MBWNUMAsPoint and simplify memory bandwidth handling
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/util/machine/util.go
Owners: @luomingmeng

refactor(hintoptimizer): restructure hint optimizer framework and policies
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/hintoptimizer/canonical.go
  cmd/katalyst-agent/app/options/qrm/hintoptimizer/hintoptimizer_base.go
  cmd/katalyst-agent/app/options/qrm/hintoptimizer/memorybandwidth.go
  cmd/katalyst-agent/app/options/qrm/hintoptimizer/metricbased.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/factory.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/registry/registry.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/serviceprofile/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/serviceprofile/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/util/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/metric_hint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/metric_hint_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/config/agent/qrm/hintoptimizer/canonical.go
  pkg/config/agent/qrm/hintoptimizer/hintoptimizer_base.go
  pkg/config/agent/qrm/hintoptimizer/memorybandwidth.go
  pkg/config/agent/qrm/hintoptimizer/metricbased.go
  pkg/consts/strategy_names.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(metaserver): simplify test configuration generation
  pkg/metaserver/agent/agent_test.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/kcc/manager_test.go
  pkg/metaserver/metaserver_test.go
  pkg/metaserver/spd/fetcher_test.go
Owners: @xu282934741, @waynepeking348, @JulyWindK, @luomingmeng

fix: handle SPD name not found error in memory bandwidth request
  pkg/metaserver/spd/util.go
Owners: @luomingmeng

wip
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

refactor(memory_test): simplify test configuration initialization
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat: calculate critical watermark by high watermark of normal zone
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/util/machine/topology.go
  pkg/util/machine/zone.go
  pkg/util/machine/zone_linux.go
  pkg/util/machine/zone_linux_test.go
  pkg/util/machine/zone_unsupported.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix incorrect log content
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_allocation_handlers.go
Owners: @luomingmeng

refactor(Makefile): modularize code generation steps for clarity
  Makefile
Owners: @xu282934741, @waynepeking348

feat: add support for milli-quantity in container resource requests
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/server/base_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

trivial
  pkg/agent/qrm-plugins/mb/plan/types_test.go
Owners: @luomingmeng

system_pressure: adding numa_id support for eviction
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
Owners: @luomingmeng

system_pressure: reduce grace period for reclaiming jobs
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
Owners: @luomingmeng

numa_pressure: avoiding ping-pong
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

numa_pressure: reduce grace period for reclaiming jobs
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

system_pressure: support minimumUsageThreshold for eviction
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
Owners: @luomingmeng

fix(memory): skip empty control knob values in allocation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
Owners: @luomingmeng

system_pressure: adding numa_id support for eviction
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure_test.go
Owners: @luomingmeng

chore: calculate memory headroom by util
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(qrm) support hybrid numa allocation
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hint_framework.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hint_framework_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/metric_hint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/dynamic/strategygroup/strategy_group.go
  pkg/consts/strategy_names.go
  pkg/util/machine/topology.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(qrm): drop cache health check rule optimize
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/util/general/healthz.go
Owners: @luomingmeng

system_pressure: reduce grace period for reclaiming jobs
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/memory_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

numa_pressure: reduce grace period for reclaiming jobs
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

numa_pressure: avoiding ping-pong
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
Owners: @luomingmeng

fix(qrm): check-cpuset healthz check rule optimize
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/metaserver/agent/pod/pod_stub.go
  pkg/util/native/pods.go
Owners: @luomingmeng

system_pressure: support minimumUsageThreshold for eviction
  pkg/agent/evictionmanager/plugin/memory/helper.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
Owners: @luomingmeng

feat: report cpu_codename and is_vm to resource property
  pkg/agent/resourcemanager/fetcher/system/systemplugin.go
  pkg/agent/resourcemanager/fetcher/system/systemplugin_test.go
Owners: @luomingmeng

mbm: + domain type
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
Owners: @luomingmeng

wip - resctrl mon to domain stat, in both directions
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon_test.go
  pkg/agent/qrm-plugins/mb/monitor/resctrl_mon.go
  pkg/agent/qrm-plugins/mb/monitor/types.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
