Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

add prjquota check
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
Owners: @luomingmeng

add metrics for apply v1 failed
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
Owners: @luomingmeng

fix mount option check
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
Owners: @luomingmeng

feat: unit tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

fix: remove deletion of files
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

feat: implement network state file migration
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

feat: implement state migration from memory to disk and vice versa
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
  pkg/util/inmemorystate/inmemorystate.go
Owners: @luomingmeng, @xu282934741

chore: format strict
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

fix: bug in storing state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

feat: remove old checkpoint file
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
Owners: @luomingmeng, @xu282934741

feat: implement pre-stop support and checkpoint fallback
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
Owners: @luomingmeng

feat: clean up test cases and improve code coverage
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
Owners: @luomingmeng

feat: refactor logic into new file
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

fix: issue with error not propagating properly
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(resource-plugin): add associated device allocation support
  pkg/agent/orm/endpoint/resource_plugin_stub.go
Owners: @caohe, @WangZzzhe

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(gpu): add associated device topology hints support
  go.mod
  go.sum
  pkg/agent/orm/endpoint/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @caohe, @WangZzzhe, @luomingmeng

fix: optimise logic for finding kata container path
  cmd/katalyst-agent/app/options/global/base.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/pod.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: MR comments
  cmd/katalyst-agent/app/options/global/base.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/pod.go
  pkg/util/cgroup/common/path_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(resctrl): fix nil resourceAllocation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
Owners: @luomingmeng

add resource package manager to meta server
  pkg/metaserver/metaserver.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/metaserver/resourcepackage/manager_test.go
Owners: @xu282934741, @waynepeking348

fix: issue with error not propagating properly
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

fix(irq-tuning): implement protection for controller concurrent run
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
Owners: @luomingmeng

feat: implement async logger
  cmd/base/options/generic.go
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  go.mod
  go.sum
  pkg/config/generic/generic_base.go
  pkg/config/generic/log.go
  pkg/util/logging/logger.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(gpu): remove redundant non-numa-affinity gpu allocation logic
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

fix typo and add logs
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(gpu): optimize GPU allocation by preferring NUMA nodes with most allocated memory
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

fix(cpu/assembler): correct condition for overlap share pool sizes
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix: MR comments
  cmd/katalyst-agent/app/options/global/base.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/pod.go
  pkg/util/cgroup/common/path_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

add resource package manager to meta server
  pkg/metaserver/metaserver.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/metaserver/resourcepackage/manager_test.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(resourcepackage): remove unused nodeName parameter and use passed ctx
  pkg/metaserver/resourcepackage/manager.go
Owners: @xu282934741, @waynepeking348

feat(cpu/hintoptimizer): add resource package hint optimizer
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/registry/registry.go
  pkg/util/resource-package/util.go
  pkg/util/resource-package/util_test.go
Owners: @luomingmeng

feat(machine): add L3 cache topology support
  pkg/util/machine/l3cache_topology_test.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(cpu-allocation): enhance topology-aware CPU allocation with L3 cache alignment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(metaServer): avoid returning error if kubelet continually returns an empty pod list
  cmd/katalyst-agent/app/options/metaserver/metaserver.go
  pkg/config/agent/metaserver/agent.go
  pkg/metaserver/agent/pod/pod.go
Owners: @xu282934741, @waynepeking348, @luomingmeng
