Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

chore: fix bulkhead lint checks
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/rels_test.go
  pkg/config/agent/qrm/bulkhead/bulkhead_test.go
Owners: @luomingmeng

refactor(qrm/cpu): add readonly state snapshot support
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_snapshot_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
Owners: @luomingmeng

feat(qrm/cpu): support bypassing cpuset adjustment for shared pools
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_bypass_cpuset_test.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore: fix bulkhead ci checks
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/rels_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology_inputs.go
  pkg/config/agent/qrm/bulkhead/bulkhead_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

test(cgroup): add reusable fake client
  pkg/util/cgroup/client/fake.go
  pkg/util/cgroup/client/fake_test.go
Owners: @luomingmeng

fix(cpu): address remaining bulkhead review issues
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/api/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/dag_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
Owners: @luomingmeng

fix(cpu): lazily initialize bulkhead manager
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bypass_cpuset_adjustment_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
Owners: @luomingmeng

feat(cpu): add core bulkhead handlers
  cmd/katalyst-agent/app/options/qrm/bulkhead/bulkhead.go
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/api/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/rels.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/rels_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/dag.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology_inputs.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bypass_cpuset_adjustment_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util/bypass.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/dynamic_base.go
  pkg/config/agent/qrm/bulkhead/bulkhead.go
  pkg/config/agent/qrm/bulkhead/bulkhead_test.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(qrm): refine cpuset bypass semantics
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_bypass_cpuset_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(cgroup): add sched load balance manager primitive
  pkg/util/cgroup/common/errors.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @luomingmeng

build: update katalyst-api dependency
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

test(cgroup): mark cache concurrency test parallel
  pkg/util/cgroup/client/cache_test.go
Owners: @luomingmeng

fix(qrm/cgroup): address PR review feedback
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_bypass_cpuset_test.go
  pkg/util/cgroup/client/cache.go
  pkg/util/cgroup/client/cache_test.go
Owners: @luomingmeng

test(asyncworker): stabilize queued work assertion
  pkg/util/asyncworker/async_workers_test.go
Owners: @luomingmeng

fix(cpu): skip unresolved bulkhead container paths
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
Owners: @luomingmeng

test(cpu): fix workqueue test contexts
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin_test.go
Owners: @luomingmeng

fix(cpu): allow overlapping bulkhead cpuset transitions
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

feat(bulkhead): support cpuset topology disabled reset
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

refactor(cpu): register bulkhead manager handlers directly
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bypass_cpuset_adjustment_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_bypass_cpuset_test.go
Owners: @luomingmeng

refactor(cpu): initialize bulkhead manager with dynamic policy
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bypass_cpuset_adjustment_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_bypass_cpuset_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

fix(cpu): enforce monotonic bulkhead cpuset updates
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

revert(cpu): remove unused readonly state snapshot
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_snapshot_test.go
Owners: @luomingmeng

fix(bulkhead): gate cpuset topology on non-overlap
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
Owners: @luomingmeng

chore(deps): update api bulkhead enable
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(bulkhead): add dynamic enable config
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin_test.go
Owners: @xu282934741, @waynepeking348

refactor(cpu): rename cpuset adjustment handlers
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/api/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuset_adjustment_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_cpuset_adjustment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util/cpuset_adjustment.go
Owners: @luomingmeng

fix(bulkhead): gate cpuset topology using state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/api/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin.go
Owners: @luomingmeng

feat(bulkhead): add dynamic bulkhead flags
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
Owners: @xu282934741, @waynepeking348

perf(bulkhead): compare stable partition view fields
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view_test.go
Owners: @luomingmeng

feat(bulkhead): gate plugins with enable switch
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
Owners: @luomingmeng

feat(bulkhead): add enable flag
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
Owners: @xu282934741, @waynepeking348

chore(bulkhead): satisfy format and license checks
  go.sum
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin_test.go
Owners: @xu282934741, @waynepeking348

feat(bulkhead/system_service): support disable reset in PeriodicalHandler
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin_test.go
Owners: @luomingmeng

fix(bulkhead): reset disabled plugin on restart
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
Owners: @luomingmeng

refactor(bulkhead): front gate cpu adjustment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/api/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry_test.go
Owners: @luomingmeng

feat(qrm/cpu): support pinning IRQs into reclaimed pool
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(bulkhead): baseline plugin enable when state missing
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
Owners: @luomingmeng

refactor(procfs): classify kthread via PF_KTHREAD flag from /proc/pid/stat
  pkg/util/procfs/common/proc_reader.go
  pkg/util/procfs/common/proc_reader_test.go
Owners: @luomingmeng

fix(qrm/cpu): bypass cpuset in non-dedicated responses
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_cpuset_adjustment_test.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(bulkhead): simplify disabled reset check via needsDisabledReset helper
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
