Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

PodMetaCustomCmp
  pkg/util/spd_baseline.go
Owners: @luomingmeng

refactor(gpu-strategy): reorganize gpu allocation strategy components
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/gpu_memory.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
Owners: @luomingmeng

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore: fix unit test, format and lint issues
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
Owners: @luomingmeng

chore: add context to interface methods
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/custom_device_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

fix(gpu): skip zero requests in GetGPUCount and optimize logging
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/util/util.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/test_util.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry.go
  pkg/util/machine/gpu.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(gpumemory): handle numa topology not ready case gracefully
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @luomingmeng

feat: implement binding strategy to prioritise device affinity during allocation
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
Owners: @luomingmeng

fix(gpu): handle NUMA node edge cases and improve logging
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/util/machine/device.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
Owners: @luomingmeng

feat: implement rdma custom device plugin and implement logic for accompany resource allocation
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/machine/device.go
  pkg/util/machine/gpu.go
  pkg/util/machine/rdma.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(qrm): remove unused state file directory fields
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng

feat: refactor code into resource plugins and custom device plugins
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

refactor: remove unused GenerateDummyGPUTopology function
  pkg/util/machine/topology.go
Owners: @luomingmeng

refactor: simplify the grouping of device affinity
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor: make allocation recursive to simplify logic
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
Owners: @luomingmeng

feat(gpu): add associated device topology hints support
  go.mod
  go.sum
  pkg/agent/orm/endpoint/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @caohe, @WangZzzhe, @luomingmeng

feat(gpumemory): add numa binding check and health status filter
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

refactor(gpu): remove redundant non-numa-affinity gpu allocation logic
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

fix: handling of nil device req
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
Owners: @luomingmeng

feat: develop device affinity binding and filtering strategies
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/util.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
Owners: @luomingmeng

fix: maintain affinity subgroup sequence in larger affinity groups
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat: introduce rdma state and allow states to share within gpu sub-plugins
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/util.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/rdma.go
Owners: @luomingmeng

refactor(gpu/strategy): optimize device affinity allocation algorithm
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
Owners: @luomingmeng

fix(gpumemory): handle unhealthy devices and correct capacity values
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

feat: refactor state to only be in one file
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/util.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/util.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor: simplify code by deleting redundant parameters and refactor function for allocating devices
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
Owners: @luomingmeng

feat(gpu): implement strategy-based GPU allocation framework
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/allocation/generic.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/bind/default.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/filter/gpu_memory.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/sort/gpu_memory.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

refactor(gpu): restructure device plugin and resource management
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor(gpumemory): move nil device request check after qos validation
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

refactor(gpu-strategy): make strategy fields private and add accessors
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
Owners: @luomingmeng

feat(device): add device affinity group support
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat: implement allocation of accompany resource first before device
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/test_util.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
Owners: @luomingmeng

chore: rebase katalyst-api
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(state): enhance gpu state management using refactored migration logic
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/generator_stub.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @luomingmeng

chore: add unit tests
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/custom_device_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/util.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/device_stub.go
  pkg/util/machine/device_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
