Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

docs(bulkhead): document reclaim partition invariants in view
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
Owners: @luomingmeng

docs(bulkhead): add reclaim convergence RCA
  docs/fix-2-3-implementation-plan.md
  docs/rca-reclaim-cgroup-ebusy.md
Owners: @pendoragon, @caohe

fix(bulkhead): defer safe reclaim parent shrink
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_defer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_reclaim_reuse_test.go
Owners: @luomingmeng

feat: add per-resource max reclaim ratio controls for CPU and memory
  cmd/katalyst-agent/app/options/global/base.go
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/memory/memory_advisor.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard_test.go
  pkg/config/agent/global/base.go
  pkg/config/agent/sysadvisor/qosaware/resource/memory/memory_advisor.go
  pkg/util/cgroup/common/path.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

refactor(qrm): unify reclaimed allocatable reporting
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/headroom_reporting.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/headroom_reporting_test.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_memory/headroom_reporting.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_memory/headroom_reporting_test.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng, @xu282934741

refactor(cpu-state): remove checkpoint rollback cache
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
Owners: @luomingmeng

refactor(cpu-state): remove store hook
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
Owners: @luomingmeng

docs(sysadvisor): document headroom diagnostics
  docs/superpowers/plans/2026-07-29-sysadvisor-kcnr-headroom-diagnostics.md
  docs/superpowers/specs/2026-07-29-sysadvisor-kcnr-headroom-diagnostics-design.md
Owners: @pendoragon, @caohe

fix(sysadvisor): add bounded headroom diagnostics
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

docs(cgroup): document relative path filtering
  docs/superpowers/plans/2026-07-29-existing-relative-cgroup-paths.md
  docs/superpowers/specs/2026-07-29-existing-relative-cgroup-paths-design.md
Owners: @pendoragon, @caohe

fix(cgroup): resolve existing relative paths
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/path_filter_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(qrm): preserve fake NUMA source pools
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_fake_numa_blocks_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
Owners: @luomingmeng

docs(qrm): document cpuset phase convergence
  docs/proposals/qos-management/qos-resource-manager/20260729-bulkhead-cpuset-phase-plan.md
Owners: @pendoragon, @caohe

fix(qrm): enforce phased cpuset convergence
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/gate.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/gate_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_defer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/transition.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/transition_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

style(qrm): format cpu plugin state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/convergence.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
Owners: @luomingmeng

docs(cpu): define dedicated reclaim isolation
  docs/superpowers/plans/2026-07-30-dedicated-reclaim-numa-isolation.md
  docs/superpowers/specs/2026-07-30-dedicated-reclaim-numa-isolation-design.md
Owners: @pendoragon, @caohe

fix(qrm): tolerate vanished dynamic cgroups
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot_test.go
Owners: @luomingmeng

fix(cpu): enforce dedicated reclaim isolation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

docs(cpu): define ramp-up reclaim ratio
  docs/superpowers/specs/2026-07-30-initial-ramp-up-reclaim-cpuset-design.md
Owners: @pendoragon, @caohe

fix(sysadvisor): floor reclaim ratio cap
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

docs(cpu): add complete ramp-up reclaim design
  docs/superpowers/specs/2026-07-30-ramp-up-reclaim-complete-design.md
Owners: @pendoragon, @caohe

fix(cpu): reconcile dedicated isolation merge
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision_test.go
  go.mod
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

docs(cpu): evaluate merged ramp-up reclaim design
  docs/superpowers/specs/2026-07-30-ramp-up-reclaim-merged-evaluation.md
Owners: @pendoragon, @caohe

chore: add CodeRabbit configuration
  .coderabbit.yaml
Owners: @xu282934741, @waynepeking348

chore: refine CodeRabbit instructions
  .coderabbit.yaml
Owners: @xu282934741, @waynepeking348

chore: simplify CodeRabbit guidance
  .coderabbit.yaml
Owners: @xu282934741, @waynepeking348

chore: enable automatic repository linking
  .coderabbit.yaml
Owners: @xu282934741, @waynepeking348

chore: refine CodeRabbit summaries
  .coderabbit.yaml
Owners: @xu282934741, @waynepeking348

fix(sysadvisor): align reclaim cap to even cores
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

docs(cpu): specify even ramp-up reclaim target
  docs/superpowers/specs/2026-07-31-ramp-up-even-target-and-duration-design.md
Owners: @pendoragon, @caohe

fix(cpu): round ramp-up reclaim target down to even
  docs/superpowers/plans/2026-07-31-ramp-up-even-target-and-duration.md
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util/ramp_up_reclaim.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util/ramp_up_reclaim_test.go
Owners: @pendoragon, @caohe, @luomingmeng

docs(cpu): clarify dedicated ramp-up duration
  docs/superpowers/plans/2026-07-31-ramp-up-even-target-and-duration.md
  docs/superpowers/specs/2026-07-31-ramp-up-even-target-and-duration-design.md
Owners: @pendoragon, @caohe

fix(qrm): propagate checkpoint write errors
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/checkpoint_error_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/checkpoint_error_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/checkpoint_error_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
Owners: @luomingmeng

docs: update ramp-up reclaim hard partition design
  docs/superpowers/plans/2026-07-30-ramp-up-reclaim-hard-partition.md
  docs/superpowers/plans/2026-07-31-ramp-up-reclaim-policy-complete-implementation.md
  docs/superpowers/specs/2026-07-30-initial-ramp-up-reclaim-cpuset-design.md
  docs/superpowers/specs/2026-07-30-ramp-up-reclaim-complete-design.md
  docs/superpowers/specs/2026-07-30-ramp-up-reclaim-merged-evaluation.md
  docs/superpowers/specs/2026-07-31-ramp-up-reclaim-policy-complete-technical-design.md
Owners: @pendoragon, @caohe

feat(qrm): add ramp-up reclaim hard partition config
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/ramp_up_reclaim_hard_partition.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/ramp_up_reclaim_hard_partition_test.go
  pkg/agent/utilcomponent/featuregatenegotiation/registry.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(resctrl): add shared resctrl lifecycle manager
  pkg/util/resctrl/manager.go
  pkg/util/resctrl/manager_test.go
  pkg/util/resctrl/scanner_linux.go
  pkg/util/resctrl/scanner_unsupported.go
Owners: @luomingmeng

refactor(reclaim): share pod reclaim policy evaluator
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper_test.go
  pkg/agent/utilcomponent/reclaimpolicy/evaluator.go
  pkg/agent/utilcomponent/reclaimpolicy/evaluator_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sysadvisor): preserve ramp-up hard reclaim minimum
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(sysadvisor): stabilize resource advisor fixtures
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(bulkhead): defer cpuset convergence on busy parents
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_defer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
