Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

feat(gpumemory): add numa binding check and health status filter
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

refactor(gpumemory): move nil device request check after qos validation
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

fix(gpumemory): handle numa topology not ready case gracefully
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
Owners: @luomingmeng

feat(state): enhance gpu state management using refactored migration logic
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/generator_stub.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(gpu): add device name tracking and allocation filtering
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
Owners: @luomingmeng

feat(cnr): report gpu device topology to cnr
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/cnr.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

fix: do not store state when getting topology hints
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/cnr.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: corner case bug
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(cpu): support dedicated numa-exclusive and non-exclusive regions
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_rama_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/helper.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

refactor(resource/cpu): improve pool size calculation and naming clarity
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): remove ReclaimedCoresSize and adjust cpu requirement calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/types/types.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(qosaware): update cpu server test cases with new pool info
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): split pod entry assembly for numa binding and normal pods
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu/assembler): correct share pool size calculation in reclaim logic
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu): correct numa binding flag usage and simplify block assembly
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(cpu): update test cases for reclaim pool sizing and overlap info
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(resource/cpu): correct reclaim pool size calculation and add debug logs
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): improve reclaim pool handling logic in cpu server
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu-advisor): skip validation for non-numa_exclusive allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/validator/validator_cpu_advisor.go
Owners: @luomingmeng

fix test
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): enhance pool entry handling for dedicated pods
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix: remove dependency on kubelet checkpoint file
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/util/customcheckpointmanager/customcheckpointmanager.go
  pkg/util/machine/device.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng

fix: state nil handling and name change of custom device plugin interface
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/custom_device_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @luomingmeng

fix test
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(irq-tuning): workaround for fixing syncNics failure
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

feat(metrics): add zram metrics collection and processing
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @xu282934741, @waynepeking348, @JulyWindK

feat(metrics): add zram metrics collection and processing
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @xu282934741, @waynepeking348, @JulyWindK

feat(*): add a switch to control whether to use existing NUMA hint results
  cmd/katalyst-agent/app/options/dynamic/adminqos/adminqos_base.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/adminqos_base_test.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
  pkg/config/agent/dynamic/adminqos/adminqos_base.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/qrm_base.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(*): add a switch to control whether to use existing NUMA hint results
  cmd/katalyst-agent/app/options/dynamic/adminqos/adminqos_base.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/adminqos_base_test.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
  pkg/config/agent/dynamic/adminqos/adminqos_base.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/qrm_base.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(metrics): add zram metrics collection and processing
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @xu282934741, @waynepeking348, @JulyWindK

fix(cgroup): change memory policy from MPOL_BIND to MPOL_PREFERRED
  pkg/util/cgroup/manager/memory_linux.go
Owners: @luomingmeng

fix: correct reclaimed cores quota calculation logic
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): add non-reclaimable pool tracking and overlap metrics
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix zen4 mb data adjustment
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @JulyWindK

add comments
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
Owners: @JulyWindK

list untrusted vf from namespace,support mlnx and brcm
  go.mod
  go.sum
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): init
  cmd/katalyst-agent/app/agent/qrm/sriov_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
