Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

fix(cpu): correct numa binding flag usage and simplify block assembly
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): support dedicated numa-exclusive and non-exclusive regions
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_rama_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/helper.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(cpu/assembler): correct share pool size calculation in reclaim logic
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): improve reclaim pool handling logic in cpu server
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(qosaware): update cpu server test cases with new pool info
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): remove ReclaimedCoresSize and adjust cpu requirement calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/types/types.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): split pod entry assembly for numa binding and normal pods
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(resource/cpu): correct reclaim pool size calculation and add debug logs
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(eviction): update numa-cpu-pressure grace period
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348

fix: PR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/qos/cpu_enhancement.go
Owners: @luomingmeng

mbm: distribute quota to ccds
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types_test.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_metrics.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng

mbm: mb plan, plan allocator
  go.mod
  go.sum
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator_test.go
  pkg/agent/qrm-plugins/mb/allocator/types.go
  pkg/agent/qrm-plugins/mb/plan/types.go
  pkg/agent/qrm-plugins/mb/plan/types_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

mbm: advisor metric emit
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_metrics.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/quota/capacity_reserve.go
  pkg/agent/qrm-plugins/mb/advisor/quota/capacity_reserve_test.go
  pkg/agent/qrm-plugins/mb/advisor/quota/types.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
  pkg/agent/qrm-plugins/mb/advisor/sankey/flow.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator_test.go
  pkg/agent/qrm-plugins/mb/allocator/types.go
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/plugin_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng

mbm: + arg mb-active-mb-threshold
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/monitor/group_stat.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

mbm: flip over incoming with outgoing
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon_test.go
  pkg/agent/qrm-plugins/mb/monitor/resctrl_mon.go
  pkg/agent/qrm-plugins/mb/monitor/types.go
Owners: @luomingmeng

mbm: undo numaInfo SiblingNumaMBWCapacity exposure
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

mbm: malachite realtime-mb payload revised
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @luomingmeng, @JulyWindK

mbm: integration
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster_test.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/feedback_adjuster.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/types.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

mbm: identify domains out of machine info (ccd info missing)
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/config/agent/qrm/mb_plugin.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

mbm: skeletal qrm plugin creation
  cmd/katalyst-agent/app/agent/qrm/mb_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  pkg/agent/qrm-plugins/mb/mb.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/config/agent/qrm/mb_plugin.go
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

mbm: metric reader with not-finalized mb json type
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/plugin_test.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @luomingmeng, @xu282934741, @waynepeking348, @JulyWindK

mbm: resctrl based domain mb stat in both directions
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon_test.go
  pkg/agent/qrm-plugins/mb/monitor/resctrl_mon.go
  pkg/agent/qrm-plugins/mb/monitor/types.go
Owners: @luomingmeng

mbm: assign ccds to mb domain
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/util/machine/die.go
  pkg/util/machine/die_test.go
Owners: @luomingmeng

mbm: trivial update
  pkg/agent/qrm-plugins/mb/monitor/domain_stat_help.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng

mbm: rebase after cpu-specific mbw allo rate change
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/agent/qrm-plugins/mb/policy/policy_test.go
  pkg/config/agent/qrm/mb_plugin.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

mbm: machine info ccd-numa topology
  pkg/util/machine/die.go
  pkg/util/machine/die_test.go
  pkg/util/machine/machine.go
  pkg/util/machine/machine_linux.go
Owners: @luomingmeng

mbm: outgoing targets adjust
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster_test.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/feedback_adjuster.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/feedback_adjuster_test.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
Owners: @luomingmeng

mbm: decide outgoing targets
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/quota/capacity_reserve.go
  pkg/agent/qrm-plugins/mb/advisor/quota/capacity_reserve_test.go
  pkg/agent/qrm-plugins/mb/advisor/quota/easers.go
  pkg/agent/qrm-plugins/mb/advisor/quota/types.go
  pkg/agent/qrm-plugins/mb/advisor/resource/group.go
  pkg/agent/qrm-plugins/mb/advisor/resource/group_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/one.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
  pkg/agent/qrm-plugins/mb/advisor/sankey/flow.go
  pkg/agent/qrm-plugins/mb/advisor/sankey/flow_test.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon_test.go
  pkg/agent/qrm-plugins/mb/monitor/types.go
Owners: @luomingmeng

mbm: domain group stat refactored
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/types.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/monitor/domain_stat.go
  pkg/agent/qrm-plugins/mb/monitor/domain_stat_help.go
  pkg/agent/qrm-plugins/mb/monitor/domain_stat_test.go
  pkg/agent/qrm-plugins/mb/monitor/group_stat.go
  pkg/agent/qrm-plugins/mb/monitor/resctrl_mon.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/plugin_test.go
Owners: @luomingmeng

mbm: raw resctrl data type int64 may fail json unmarshal
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @luomingmeng, @JulyWindK

mbm: malachite_realtime_mb hook up
  cmd/katalyst-agent/app/options/metaserver/metric.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator.go
  pkg/agent/qrm-plugins/mb/monitor/domain_stat.go
  pkg/agent/qrm-plugins/mb/monitor/domain_stat_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_mb_provisioner.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

mbm: plugin args
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

mbm: + incoming/outgoing mb stat metrics, more validation to ccd mb rate cal
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_metrics.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
Owners: @luomingmeng

mbm: advisor refactored
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/quota/types.go
  pkg/agent/qrm-plugins/mb/advisor/resource/group.go
  pkg/agent/qrm-plugins/mb/advisor/resource/group_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

mbm: mask no-throttle groups
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_metrics.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/monitor/domain_mon.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng

mbm: refactor domain type
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng

mbm: mb reset resctrl cleanup
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator_test.go
  pkg/agent/qrm-plugins/mb/allocator/types.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/plugin_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

mbm: trivial change of entrance
  pkg/agent/qrm-plugins/mb/plan/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

mbm: calc the incoming quotas of all domains
  go.mod
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort_test.go
  pkg/agent/qrm-plugins/mb/advisor/types.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

mbm: plan ccd mb min-max check
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng
