Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @gary-lgy, @WangZzzhe, @nightmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @gary-lgy @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/eviction @gary-lgy @luomingmeng
/cmd/katalyst-agent/app/options/qrm @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/reporter @luomingmeng
/cmd/katalyst-agent/app/options/sysadvisor @nightmeng

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @gary-lgy @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng @nightmeng
/pkg/config/agent/eviction/ @gary-lgy @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/ @nightmeng

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng @nightmeng
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @nightmeng
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng @nightmeng
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @nightmeng
/pkg/agent/sysadvisor/plugin/inference @nightmeng
/pkg/agent/sysadvisor/plugin/metric-emitter @gary-lgy @luomingmeng
/pkg/agent/utilcomponent/ @luomingmeng @nightmeng

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @nightmeng
/pkg/util/cgroup/ @nightmeng
/pkg/util/credential/ @gary-lgy @luomingmeng
/pkg/util/eviction/ @gary-lgy @luomingmeng
/pkg/util/external/ @nightmeng
/pkg/util/metric/ @nightmeng
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @gary-lgy @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng @gary-lgy

pap: trivial - function rename to NewPowerAwarePluginConfiguration
  pkg/config/agent/sysadvisor/poweraware/power_aware_plugin.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
Owners: @nightmeng

refector: refector node webhook
  pkg/webhook/mutating/node/allocatable_mutator.go
  pkg/webhook/mutating/node/node.go
Owners: @caohe, @luomingmeng

feat(agent): support cpu burst
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/config/agent/dynamic/adminqos/adminqos_base.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/fine_grained_resource_base.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/native/resources.go
  pkg/util/qos/cpu_enhancement.go
Owners: @nightmeng, @luomingmeng, @xu282934741, @waynepeking348

feat(agent): support disable core binding in native policy
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
Owners: @luomingmeng, @nightmeng

chore(qrm): refactor cpu/memory read-only state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
Owners: @luomingmeng, @nightmeng

pap: malachite client to read realtime power metric
  pkg/metaserver/agent/metric/provisioner/malachite/client/client.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_power.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_power_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/power.go
Owners: @nightmeng

pap: malachite_realtime provisioner saving power metric
  pkg/config/agent/metaserver/agent.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_provisioner_test.go
Owners: @xu282934741, @waynepeking348, @nightmeng

pap: power reader uses power metrics served by metric store
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/poweraware/reader/metric_store_power_reader.go
  pkg/agent/sysadvisor/plugin/poweraware/reader/metric_store_power_reader_test.go
Owners: @nightmeng

feat(qrm): adding support to cpu.weight
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/handlers/cpuweight/const.go
  pkg/agent/qrm-plugins/cpu/handlers/cpuweight/cpuweight_linux.go
  pkg/agent/qrm-plugins/cpu/handlers/cpuweight/cpuweight_linux_test.go
  pkg/agent/qrm-plugins/cpu/handlers/cpuweight/cpuweight_unsupported.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @nightmeng, @luomingmeng

ci: add test summary
  .github/workflows/ci.yml
Owners: @xu282934741, @waynepeking348
