Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

fix typo and add logs
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(gpu): add canonical strategy implementation and refactor gpu memory strategy
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
Owners: @luomingmeng

feat(resource-plugin): add associated device allocation support
  pkg/agent/orm/endpoint/resource_plugin_stub.go
Owners: @caohe, @WangZzzhe

refactor(gpu): restructure GPU strategy and state management
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/gpustrategy/allocate.go
  cmd/katalyst-agent/app/options/qrm/gpustrategy/strategy_base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/registry/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/registry/registry_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/gpustrategy/allocate.go
  pkg/config/agent/qrm/gpustrategy/strategy_base.go
  pkg/util/machine/device.go
Owners: @luomingmeng

Update gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
Owners: @luomingmeng

feat(gpu): optimize GPU allocation by preferring NUMA nodes with most allocated memory
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

feat(irq-tuning): support specify static normal throughput nics
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

pap: headroom loss metric
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator_discount.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator_discount_test.go
  pkg/consts/metric.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741, @waynepeking348

add qos-aware cpu sub resource advisor Init to ensure discount assmbler decorated properly
  pkg/agent/sysadvisor/plugin/qosaware/qos_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource_stub.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

pap: cpu headrrom discount
  cmd/katalyst-agent/app/options/sysadvisor/poweraware/power_aware_plugin.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/spec.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator_discount.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator_discount_test.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/config/agent/sysadvisor/poweraware/power_aware_plugin.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

arg: --cpu-headroom-power-discount-enable default to true
  cmd/katalyst-agent/app/options/sysadvisor/poweraware/power_aware_plugin.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator_discount.go
  pkg/config/agent/sysadvisor/poweraware/power_aware_plugin.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

fix: when pod request zero memory, vpa may always fail
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng

fix(cpu): correct numa binding flag usage and simplify block assembly
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): support dedicated numa-exclusive and non-exclusive regions
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_rama_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/helper.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

test(cpu): update test cases for reclaim pool sizing and overlap info
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): improve reclaim pool handling logic in cpu server
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): remove ReclaimedCoresSize and adjust cpu requirement calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/types/types.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu/assembler): correct share pool size calculation in reclaim logic
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(resource/cpu): correct reclaim pool size calculation and add debug logs
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(qosaware): update cpu server test cases with new pool info
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): split pod entry assembly for numa binding and normal pods
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(resource/cpu): improve pool size calculation and naming clarity
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): enhance pool entry handling for dedicated pods
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu-advisor): skip validation for non-numa_exclusive allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/validator/validator_cpu_advisor.go
Owners: @luomingmeng

fix test
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

chore: add unit tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/qos/cpu_enhancement.go
Owners: @luomingmeng

feat: ensure dedicated cores with no cpu burst policy still set cpu burst to 0
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng

feat: add closed policy for cpu burst
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: implement aqc kcc control for default cpu burst values
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/adminqos_base.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/fine_grained_resource.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(cpu): enable cpu burst support
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: PR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/qos/cpu_enhancement.go
Owners: @luomingmeng

go mod tidy
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

enable cfs quota for v1 by feature gate
  .go-version
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/provision/policy_base.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/quota_ctrl_knob.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/provision/policy_base.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: add TTL cache for cfs quota on sub cgroup checking
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

replace x/sync
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix UTs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

remove useless
  .go-version
Owners: @xu282934741, @waynepeking348

test
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

test 20
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
