Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

chore(*): update go.mod for agent offload
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(*): filte pod by node name
  pkg/metaserver/agent/pod/kubelet.go
Owners: @luomingmeng

feat(*): support reserving a specified cpu list
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/kubelet/config/kubeletconfig.go
Owners: @luomingmeng

debug(*): add debug info
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

debug(*): add debug info
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(*): opt get l3 cache group logic
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(*): fix GenerateCacheGroupZone logic
  pkg/util/cnr.go
Owners: @luomingmeng

fix(*): fix getZoneAttributes logic
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

numa_eviction: lower the booster starting point
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

numa_eviction: adding critical eviction
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

numa_pressure: checking excessive pressure before eviction decision
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
Owners: @luomingmeng

mem.eviction: set DefaultReclaimedGracePeriod=1
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
Owners: @xu282934741, @waynepeking348

general.info
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

fix
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_dynamic_quota.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): add NUMA-exclusive check for dedicated binding pods
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
Owners: @luomingmeng

add logs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat(evictionmanager): add pod uid to eviction key and fetcher support
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/podkiller/podkiller.go
  pkg/agent/evictionmanager/podkiller/podkiller_test.go
Owners: @luomingmeng

refine
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

var ThresholdMin = 0.0 if p.overloadNumaCount == 0 不返回
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
Owners: @luomingmeng

var ThresholdMin = 0.0 if p.overloadNumaCount == 0 不返回 if len(filteredPods) == 0 不返回 FilterCandidatePods不调用
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

var ThresholdMin = 0.0 if p.overloadNumaCount == 0 不返回 if len(filteredPods) == 0 不返回 FilterCandidatePods不调用 修改evictionInfoStr test metaserver get pod metric
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

feat: calculate critical watermark by low watermark multiply scale factor
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/memory_guard.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/config/agent/dynamic/adminqos/advisor/memory_guard.go
  pkg/util/machine/zone.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

refactor(cpu/assembler): restructure provision assembler for better maintainability
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): update NUMA binding checks and CPU set handling
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
Owners: @luomingmeng

feat(qrm): support NUMA not share for numa-binding containers
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/commonstate/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(cpu): optimize NUMA node filtering logic in hint calculation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix malachite mbm value report issue
  pkg/consts/common.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/common.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @xu282934741, @waynepeking348, @JulyWindK

var ThresholdMin = 0.0 if p.overloadNumaCount == 0 不返回 if len(filteredPods) == 0 不返回 FilterCandidatePods不调用 修改evictionInfoStr test metaserver get pod metric
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

change to getTopEvictionPods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

输出score
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
Owners: @luomingmeng

test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

thresholdmet中！nodeoverload不处理
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

feat(threshold): support metric threshold from npd
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/metaserver/metaserver.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/metricthreshold/metric_threshold.go
  pkg/config/agent/metaserver/agent.go
  pkg/consts/indicator.go
  pkg/consts/strategy_names.go
  pkg/metaserver/metaserver.go
  pkg/metaserver/npd/fetcher.go
  pkg/util/npd.go
  pkg/util/threshold/metric_threshold.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

thresholdmet中！nodeoverload不处理 减少日志输出
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

feat(gpu): add associated device topology hints support
  go.mod
  go.sum
  pkg/agent/orm/endpoint/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @caohe, @WangZzzhe, @luomingmeng

feat: add bs_v3_req
  pkg/consts/strategy_names.go
Owners: @xu282934741, @waynepeking348

thresholdmet返回修改
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

feat(qrm): consider request in cpu dynamic packing
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer.go
  pkg/consts/strategy_names.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

usagegapscorer参数
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
