Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

fix(sysadvisor): Polish the unit tests for the advisor component and improve test coverage
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(sysadvisor): fix CRD config `PoolNameConfigs` no initialization, to avoid panics
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @xu282934741, @waynepeking348

fix(go.sum): align go.sum with upstream
  go.sum
Owners: @xu282934741, @waynepeking348

fix: update katalyst-api
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(sysadvisor): SPD tmo indicator overrides PodEnableReclaim config
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(qrm-plugin, sysadvisor): Fix time interval calculation and path calculation issues in SysAdvisor
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(qrm, sysadvisor): Periodically (every 300s) clean up excessive (>2000) dying mem cgroups.
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(cgroup): Add log for memory reclaiming
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(cgroup): Add logging for dying memcg reclamation amount
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(qrm-plugin, cgroup): register control knob handler for dying_memcg_reclaim
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(cgroup): run `make fmt-strict` to format code
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(memory): prevent socket binding for numa_exclusive pods
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

fix: numa number needs to be more than 1 to cross numa
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng

feat: support numa number and numa ids
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: implement hugepages allocation
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/machine/topology.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

minor: resctrl json-tagged field name change
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @JulyWindK

perf(cpu/assembler): improve deterministic pool size regulation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat: implement canonical fallback if there is no device affinity
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
Owners: @luomingmeng

fix zen4 mb data adjustment
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @JulyWindK

feat: report borwein strategy upper and lower bound metrics
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(*): add cnr taint
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources.go
Owners: @luomingmeng

fix(irq): fix the issue of forbidden core not working
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
Owners: @luomingmeng

fix: allow non-consecutive affinity priority levels
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
Owners: @luomingmeng

feat(memory): add memory topology discovery with hugepages support
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat(sysadvisor): Add poolName specified tmoConfig for memory offloading
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(sysadvisor): fix CRD config `PoolNameConfigs` no initialization, to avoid panics
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741, @waynepeking348

feat(sysadvisor): add unit test for pool name config
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat(qrm, sysadvisor): Periodically (every 300s) clean up excessive (>2000) dying mem cgroups.
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(cgroup): Add logging for dying memcg reclamation amount
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(sys-advisor, qrm): encapsulate `GetCgroupNrDyingDescendants` in common `manager.go` interface, and using `MemoryOffloadingWithAbsolutePath` instead of self-written `invokeMemoryReclaim`
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(sys-advisor, qrm-plugin): add unit tests, and remove duplicate path calc
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler_dying_memcg_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading_test.go
  pkg/util/cgroup/manager/cgroup_test.go
  pkg/util/cgroup/manager/v2/fs_linux_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(sys-advisor): add a control switch for enabling or disabling dying memcg reclaim
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/qos_aware_plugin.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading_test.go
  pkg/config/agent/sysadvisor/qosaware/qos_aware_plugin.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

fix(memory): exclude static huge pages from total memory calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(memory): use normal memory capacity excluding static hugepages
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/memory_provisioner.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

feat(memory): add static hugepages tracking to memory topology
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

fix(state): remove path entries that are not files
  pkg/util/customcheckpointmanager/customcheckpointmanager.go
  pkg/util/general/file.go
Owners: @luomingmeng

feat(memory): add memory topology support for accurate capacity calculation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng

fix(state): rename directory into hidden entry
  pkg/util/customcheckpointmanager/customcheckpointmanager.go
  pkg/util/general/file.go
  pkg/util/general/file_test.go
Owners: @luomingmeng

feat(memory): add memory socket binding for dedicated and shared cores pods
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

fix(memory): prevent socket binding for numa_exclusive pods
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng
