Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

test(bulkhead): assert buildExpectedCPUSetByRel trims leading slash
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/rel_key_mismatch_test.go
Owners: @luomingmeng

fix(cpuset-topology): harden bulkhead cpuset DAG apply
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/rels.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

fix(cgroup/common): guard cgroup path handler slices with RWMutex
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng

refactor(bulkhead/system_service): unify migration via AttachPID, blacklist userspace
  cmd/katalyst-agent/app/options/qrm/bulkhead/bulkhead.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin_test.go
  pkg/config/agent/qrm/bulkhead/bulkhead.go
Owners: @luomingmeng

fix(bulkhead): trim leading slash on container rel key
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/rel_key_mismatch_test.go
Owners: @luomingmeng

style(qrm/cpu): fix misspell behaviour -> behavior in bulkhead plugin
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
Owners: @luomingmeng

feat(bulkhead): add system_service plugin
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/bulkhead/bulkhead.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry_test.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/qrm/bulkhead/bulkhead.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(qrm/cpu): cold-start seed target pool under DisableSharedCoresRampUp
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/util/consts.go
Owners: @luomingmeng

feat(cpuset-topology): support source carve with reclaim overlap
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool_test.go
Owners: @luomingmeng

feat(bulkhead): enforce non-reclaim pool min size
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view_test.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore(irq-tuner): add affinity diagnostics
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
Owners: @luomingmeng

feat(cpuset-topology): preallocate advisor source share blocks
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
Owners: @luomingmeng

fix(cpuset-topology): avoid protecting pod parent cpusets
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

feat(cpuset-topology): support advisor isolation source carve
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
Owners: @luomingmeng

fix(cpuset-topology): allow safe reclaim numa replacement
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

test(cpuset-topology): cover advisor NUMA carve fallback
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
Owners: @luomingmeng

feat(cpuset-topology): carve shared_cores isolation from source share pool
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool_test.go
Owners: @luomingmeng

fix(cpuset-topology): normalize reclaim target after primary widening
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

feat(cpuset-topology): prefer source share for dedicated cpuset reuse
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool_test.go
Owners: @luomingmeng

fix(cpuset-topology): preserve advisor carve CPU constraints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
Owners: @luomingmeng

fix(cpuset-topology): protect only expected kube cpusets
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

fix(bulkhead): harden cpuset reconciliation under churn
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusetmems/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusetmems/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/registry/registry_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology_inputs.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin_test.go
  pkg/util/cgroup/client/cache.go
  pkg/util/cgroup/client/cache_test.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

refactor(bulkhead): replace legacy writer with phase pipeline
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/convergence.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/domain.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/domain_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/gate.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/gate_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/reclaim_domain.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/reset.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/target_normalization.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/transition.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/transition_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

feat(reclaimed-resource): add reclaimed max ratios
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(bulkhead): keep reconciliation active for drift
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view_test.go
Owners: @luomingmeng

perf(cgroup): log slow AttachPID writes
  pkg/util/cgroup/client/client.go
  pkg/util/cgroup/client/client_test.go
Owners: @luomingmeng

fix(bulkhead): reconcile cpusets safely under churn
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/api/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusetmems/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusetmems/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/rels_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/dag.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/dag_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology_inputs.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/config/agent/dynamic/adminqos/qrm/cpu_plugin_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(qrm): preserve real numa source carve capacity
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
Owners: @luomingmeng

perf(bulkhead): remove redundant cpuset work
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/workqueue/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
Owners: @luomingmeng

fix(bulkhead): gate all logic behind global switch
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
Owners: @luomingmeng

docs: plan bulkhead healthz diagnostics
  docs/superpowers/plans/2026-07-25-bulkhead-healthz-diagnostics.md
Owners: @pendoragon, @caohe

fix(qrm): harden dynamic policy cleanup
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(config): validate reclaimed max ratio and round cpu cap
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741, @waynepeking348

perf(bulkhead): gate debug logs by level and fix slow-log timing
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/cgroup/client/client.go
Owners: @luomingmeng

build(deps): bump katalyst-api replace to 20260717084125-4a8dbf141210
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(dynamicpolicy): prefer reclaim-free dedicated allocation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool_test.go
Owners: @luomingmeng

fix(bulkhead): bound reclaim affinity by advisor raw pool
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(dynamicpolicy): preserve advisor reclaim for seed pools
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

test(dynamicpolicy): isolate TestAllocate from reclaim preference
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

fix(bulkhead): clamp reclaim descendants to NUMA bucket and propagate mems
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology_inputs.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
