Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

feat(sriov): improve allocation meta for missing pod
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng

Apply suggestions from code review
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
Owners: @luomingmeng

feat: support align by socket, full pcpus pairing and distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: support numa number and numa ids
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(irq): fix the issue of forbidden core not working
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
Owners: @luomingmeng

feat: implement hugepages allocation
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/machine/topology.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: remove need for numa information for rdma
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
Owners: @luomingmeng

feat: support align by socket, full pcpus pairing and distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: support numa number and numa ids
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(qosaware): remove overload check logic to avoid excessive eviction
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/cpuheadroom/util_based.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/estimation_canonical.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/cpuheadroom/util_based.go
  pkg/metaserver/agent/metric/helper/reclaim.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng, @JulyWindK

feat(*): support user memory watermark
  cmd/katalyst-agent/app/options/dynamic/dynamic_base.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/user_watermark_base.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/userwatermarkdefault/user_watermark_default_config.go
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/calculator.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/const.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/feedback.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/manager.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/reclaimer.go
  pkg/config/agent/dynamic/crd/dynamic_crd.go
  pkg/config/agent/dynamic/dynamic_base.go
  pkg/config/agent/dynamic/userwatermark/user_watermark_base.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix: custom metric emitter
  pkg/agent/sysadvisor/plugin/metric-emitter/metric_emitter.go
Owners: @xu282934741, @luomingmeng

feat(sriov): add containerType
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

feat(resource-pool): support numa level resource pool
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
  pkg/util/cnr_topology.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat(resctrl): add group lifecycle management and cleanup
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl/manager.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl/manager_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl/scanner_linux.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl/scanner_unsupported.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

Revert "fix(cpu-advisor): skip validation for non-numa_exclusive allocations"
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/validator/validator_cpu_advisor.go
Owners: @luomingmeng

refactor(device): remove unused deviceTopology initialization
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_stub.go
Owners: @luomingmeng

refactor(gpu/staticpolicy): reorder state check in clearResidualState
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

add attributes field for resource package
  go.mod
  go.sum
  pkg/util/resource-package/convert.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(resource-package): update resource package structure to include config
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(cpu): simplify resource package name retrieval and improve cpu allocation logic
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/helper.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

refactor(sysadvisor): restructure resource package handling and remove PinnedCPUSetInfo
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/metacache/metacache_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/agent/sysadvisor/types/resource_package.go
Owners: @luomingmeng, @xu282934741, @cheney-lin, @sun-yuliang

fix(cpu/dynamicpolicy): improve synchronization and test reliability
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

fix: check reclaim enable before updating min reclaimed cores quota
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(topology): centralize zone attribute names in consts package
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/consts/cnr.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(qosaware): enhance numa binding pool name handling with resource package
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(resource-package): enhance CPU allocation with resource package support
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

refactor(cpu): restructure pool allocation logic for pinned and common pools
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

feat(resource-package): add attributes support for resource packages
  pkg/util/cnr.go
  pkg/util/resource-package/convert.go
Owners: @luomingmeng

feat(cpu): add IRQ forbidden CPU selection by resource package attributes
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
Owners: @luomingmeng

feat(resource-package): add support for pinned cpuset and attributes in resource packages
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/util/cnr.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

trivial format fix caused by merge
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
Owners: @luomingmeng

fix: MR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(memory): add memory socket binding for dedicated and shared cores pods
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

feat(sysadvisor): Add poolName specified tmoConfig for memory offloading
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(sysadvisor): Fix the issue where nested maps in pod annotations are not handled correctly
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sysadvisor): use GetSpecifiedPoolName function to get Pod's pool name
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

trigger ci
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sysadvisor): add unit test for pool name config
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741
