Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

refactor(qosaware): use configTranslator for ownerPoolName translation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix: unit tests and documentation
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path_test.go
Owners: @luomingmeng

chore: format strict
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime_test.go
Owners: @luomingmeng

feat: cache not existed spd to avoid query apiserver
  pkg/metaserver/spd/cache.go
  pkg/metaserver/spd/fetcher.go
Owners: @luomingmeng

chore: format strict
  pkg/metaserver/agent/pod/pod.go
Owners: @luomingmeng

feat(threshold): support metric threshold from npd
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/metaserver/metaserver.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/metricthreshold/metric_threshold.go
  pkg/config/agent/metaserver/agent.go
  pkg/consts/indicator.go
  pkg/consts/strategy_names.go
  pkg/metaserver/metaserver.go
  pkg/metaserver/npd/fetcher.go
  pkg/util/npd.go
  pkg/util/strategygroup/strategy_group.go
  pkg/util/strategygroup/strategy_group_test.go
  pkg/util/threshold/metric_threshold.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat: refactor
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_pod.go
  pkg/metaserver/agent/pod/pod.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/external/network/manager.go
  pkg/util/external/network/manager_linux.go
  pkg/util/external/network/manager_unsupported.go
Owners: @luomingmeng, @JulyWindK, @yehlemias

chore: format strict
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng

met0.4 + freq limit 0.15 0.3 0.5 + metrics + new score strategy + config
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

feat: add kata runtime check
  pkg/metaserver/agent/pod/pod.go
Owners: @luomingmeng

fix(*): supplementary unit test for network linux
  pkg/util/machine/network_linux_test.go
Owners: @luomingmeng

fix(audit): fix missing audit handling
  pkg/agent/audit/sink/logbased.go
Owners: @xu282934741, @waynepeking348

chore(*): remove machine parallel
  .github/workflows/ci.yml
  pkg/util/machine/cpu_test.go
  pkg/util/machine/network_linux_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(sys): adjust sys code structure
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/general/sys.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/process/system.go
  pkg/util/procfs/manager/proc.go
Owners: @luomingmeng

fix(*): fix array out-of-bounds issue in misc
  pkg/util/general/misc.go
Owners: @luomingmeng

chore(*): add anno for config
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresadjust/cores_adjust_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresexclusion/cores_exclusion_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/loadbalance/load_balance_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/netoverload/net_over_load.go
Owners: @xu282934741, @waynepeking348

test(*): supplementary unit tests
  cmd/katalyst-agent/app/options/dynamic/dynamic_base_test.go
  pkg/agent/audit/manager_test.go
  pkg/agent/audit/sink/basesink_test.go
  pkg/util/general/misc_test.go
  pkg/util/machine/cpu_test.go
  pkg/util/machine/cpuset_test.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/topology_test.go
  pkg/util/procfs/manager/proc_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore(*): update katalyst-api version
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

chore(*): update the global coverage target
  codecov.yml
Owners: @xu282934741, @waynepeking348

refactor(misc): adjust misc code structure
  pkg/util/general/common.go
  pkg/util/general/common_test.go
  pkg/util/general/file.go
  pkg/util/general/file_test.go
  pkg/util/general/list.go
  pkg/util/general/list_test.go
  pkg/util/general/misc.go
  pkg/util/general/misc_test.go
  pkg/util/general/slice.go
  pkg/util/general/slice_test.go
Owners: @luomingmeng

chore(*): modify variable name
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresadjust/cores_decrease.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresadjust/cores_increase.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresexclusion/threshold.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/loadbalance/load_balance_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/loadbalance/tuning_threshold.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/low_throughput.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/normal_throughput.go
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/config/agent/dynamic/irqtuning/coresadjust/cores_decrease.go
  pkg/config/agent/dynamic/irqtuning/coresadjust/cores_increase.go
  pkg/config/agent/dynamic/irqtuning/coresexclusion/threshold.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
  pkg/config/agent/dynamic/irqtuning/loadbalance/load_balance_base.go
  pkg/config/agent/dynamic/irqtuning/loadbalance/tuning_threshold.go
  pkg/config/agent/dynamic/irqtuning/netoverload/net_over_load.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/low_throughput.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/normal_throughput.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/throughput_class_switch.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(*): modify some review comments
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/tuner/irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/tuner/irq_tuner_stub.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/utils/utils.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/util/general/sys.go
  pkg/util/machine/network_linux.go
  pkg/util/procfs/common/types.go
  pkg/util/sysfs/manager/cpu/cpu.go
  pkg/util/sysfs/manager/node/node.go
  pkg/util/sysfs/manager/sys_test.go
Owners: @luomingmeng

fix: unit tests
  pkg/metaserver/agent/pod/pod_test.go
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng

fix: remove unused variable
  pkg/util/cgroup/common/types.go
Owners: @luomingmeng

fix(sysadvisor): fix headroom assmble failed
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(irq-tuning): fix katalyst start failure in arm machine
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/util/machine/cpu.go
Owners: @luomingmeng

refactor(irq-tuning): move SocketCPUs to CPUSocket
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/util/machine/cpu.go
  pkg/util/machine/cpu_test.go
Owners: @luomingmeng

fix(irq-tuning): fix UT failure
  pkg/util/machine/cpu_test.go
Owners: @luomingmeng

add dynamic numa memory bandwidth capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

fix commits
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

add allocatable rate map
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

update allocatable numa memory bandwidth according to dynamic capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

chore(irq-tuning): remove bytedance private codes
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/util/consts.go
Owners: @luomingmeng

feat: get kata container cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_pod.go
  pkg/metaserver/agent/metric/provisioner/rodan/client/client_node_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_stub.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/path_test.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/external/network/manager.go
  pkg/util/external/network/manager_linux.go
  pkg/util/external/network/manager_unsupported.go
Owners: @luomingmeng, @JulyWindK, @yehlemias

chore: format strict
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_pod.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/external/network/manager.go
  pkg/util/external/network/manager_linux.go
  pkg/util/external/network/manager_unsupported.go
Owners: @luomingmeng, @JulyWindK, @yehlemias

fix: unit tests and documentation
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path_test.go
Owners: @luomingmeng

fix: unit tests
  pkg/metaserver/agent/pod/pod_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
Owners: @luomingmeng

feat: add kata runtime check
  pkg/metaserver/agent/pod/pod.go
Owners: @luomingmeng

chore(*): modify the comments to make them conform to the specification
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/util/machine/cpu.go
  pkg/util/machine/cpuset.go
  pkg/util/machine/network_linux.go
  pkg/util/process/system.go
  pkg/util/procfs/manager/procfs_linux.go
Owners: @luomingmeng

feat(*): convert irq tuner related variables to parameters
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/irqtuner/irqtunerbase.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/config/agent/qrm/irqtuner/irqtunerbase.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
