Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

fix(qrm-plugins): bypass cache when fetching pod for allocation update
  pkg/agent/qrm-plugins/util/reactor/pod_allocation_reactor.go
Owners: @luomingmeng

style: reorganize imports in policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

feat(qrm-plugin): ignore cgroup path not found error
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/util/consts.go
Owners: @luomingmeng

feat(resource): add disable reclaim level support for numa allocation
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical_test.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat(sysadvisor): refine util based algorithm
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/cpuheadroom/util_based.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/estimation_canonical.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/cpuheadroom/util_based.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat: remove old checkpoint file
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
Owners: @luomingmeng, @xu282934741

fix: issue with error not propagating properly
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

feat: clean up test cases and improve code coverage
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
Owners: @luomingmeng

feat: implement time check to check if state files are up to date
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
  pkg/util/general/file.go
  pkg/util/general/file_test.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

feat: implement network state file migration
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

chore: format strict
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

feat: unit tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

feat: implement state migration from memory to disk and vice versa
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
  pkg/util/inmemorystate/inmemorystate.go
Owners: @luomingmeng, @xu282934741

feat: refactor logic into new file
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

feat: implement pre-stop support and checkpoint fallback
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
Owners: @luomingmeng

fix: remove deletion of files
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

fix: bug in storing state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

add MetricMemTotalSystem to nodeRawMetricNameMapping
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/node/node.go
Owners: @xu282934741, @luomingmeng

update katalyst api
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/node/node.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

add resource package manager to meta server
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/metaserver/metaserver.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/metaserver/resourcepackage/manager_test.go
  pkg/util/cnr.go
  pkg/util/cnr_topology.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741, @waynepeking348

reconcile npd for resource package manager
  pkg/metaserver/metaserver.go
  pkg/metaserver/metaserver_test.go
  pkg/metaserver/resourcepackage/manager.go
Owners: @xu282934741, @waynepeking348

feat: split up logs based on severity
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  pkg/util/logging/logger.go
  pkg/util/logging/logger_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: implement async logger
  cmd/base/options/generic.go
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  go.mod
  go.sum
  pkg/config/generic/generic_base.go
  pkg/config/generic/log.go
  pkg/util/logging/logger.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore: unit tests
  pkg/util/logging/logger.go
  pkg/util/logging/logger_test.go
Owners: @luomingmeng

feat: add cleanup parameters in async logging
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  pkg/config/generic/log.go
  pkg/util/logging/logger.go
  pkg/util/logging/logger_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

borwein input
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/plugin/inference/consts/consts.go
  pkg/agent/sysadvisor/plugin/inference/inference.go
  pkg/agent/sysadvisor/plugin/inference/inference_test.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/borwein/borwein_test.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/model_input_fetcher.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/model_input_fetcher_test.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein_test.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_power_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv1.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv2.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/power.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
  pkg/util/cgroup/common/types.go
Owners: @xu282934741, @waynepeking348, @JulyWindK, @luomingmeng

fix BPE if the pod is not exist
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

fix
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

should find all sub cgroup and set to -f incase new sub cgroup
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

close v1 cfs quota
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/quota_ctrl_knob.go
Owners: @luomingmeng, @xu282934741

chore(*): relax sanityCheck
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_rama.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix: PR comments
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  pkg/config/generic/log.go
  pkg/util/logging/logger.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: make logger more dynamic by allowing synchronous lumberjack
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  pkg/config/generic/log.go
  pkg/util/logging/logger.go
  pkg/util/logging/logger_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: add TTL cache for cfs quota on sub cgroup checking
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

go mod tidy
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

replace x/sync
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix UTs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

chore(irq-tuning): improve universality of getting mapping of nic queue and irq
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
Owners: @luomingmeng

chores: fix typo in noderesourcetopology
  pkg/scheduler/plugins/noderesourcetopology/filter.go
Owners: @caohe, @WangZzzhe

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
