Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @gary-lgy, @WangZzzhe, @nightmeng

fix: check having upper bound
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/util/machine/zone.go
  pkg/util/machine/zone_linux.go
Owners: @nightmeng, @luomingmeng

fix(*): add NumericTopologyAlignResources to KubeletConfiguration
  pkg/util/native/kubelet.go
Owners: @luomingmeng

feat(qrm): add log cache eviction manager
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_linux.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_unsupported.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/interface.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/manager.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/manager_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @nightmeng, @luomingmeng

fix: fix nil panic when update tideNodePool fail in Tide.Reconcile
  pkg/controller/tide/tide.go
Owners: @caohe, @WangZzzhe

feat: support unstructure solve timeAfter check not available problem updateFunc() add Spec check to avoid unnecessary enqueue add deleteFunc() to cancel task in queue
  go.mod
  go.sum
  pkg/client/control/resourcerecommend.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/processor/percentile/processor.go
  pkg/controller/vpa/vpa.go
  pkg/util/resource-recommend/resource/k8s_resource.go
  pkg/util/resource-recommend/resource/k8s_resource_test.go
  pkg/util/resource-recommend/resource/k8s_resource_test_util.go
  pkg/util/resource-recommend/types/error/validate.go
  pkg/util/resource-recommend/types/recommendation/recommendation.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
  pkg/util/resource-recommend/types/recommendation/validate.go
  pkg/util/resource-recommend/types/recommendation/validate_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: use monkey insead of monkey in resource-recommend util test
  pkg/util/resource-recommend/types/conditions/conditions_test.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
Owners: @luomingmeng

fix: pass ci format/vet/lint
  go.mod
  go.sum
  pkg/client/control/resourcerecommend.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller_test.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller_test.go
  pkg/controller/resource-recommend/oom/oom_recorder_test.go
  pkg/controller/resource-recommend/processor/percentile/process_gc_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: pass ci gofmt
  cmd/katalyst-controller/app/controller/resourcerecommender.go
  pkg/client/control/resourcerecommend.go
  pkg/config/controller/resourcerecommender.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller_test.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller_test.go
  pkg/controller/resource-recommend/oom/oom_recorder.go
  pkg/controller/resource-recommend/oom/oom_recorder_test.go
  pkg/controller/resource-recommend/processor/percentile/process_gc.go
  pkg/controller/resource-recommend/processor/percentile/processor.go
  pkg/util/resource-recommend/resource/k8s_resource.go
  pkg/util/resource-recommend/resource/k8s_resource_test.go
  pkg/util/resource-recommend/resource/k8s_resource_test_util.go
  pkg/util/resource-recommend/types/conditions/conditions_test.go
  pkg/util/resource-recommend/types/recommendation/recommendation.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
  pkg/util/resource-recommend/types/recommendation/validate.go
  pkg/util/resource-recommend/types/recommendation/validate_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

fix: pass lint
  pkg/controller/resource-recommend/oom/oom_recorder.go
Owners: @luomingmeng

fix: pass lint's goimports warning
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
Owners: @luomingmeng

fix: pass lint's goimports error
  pkg/controller/resource-recommend/controller/oom_recorder_controller.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller_test.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/processor/manager/processor_manager.go
  pkg/controller/resource-recommend/processor/manager/processor_manager_test.go
  pkg/controller/resource-recommend/processor/percentile/process_gc.go
  pkg/controller/resource-recommend/processor/percentile/processor.go
  pkg/controller/resource-recommend/recommender/manager/recommender_manager.go
  pkg/controller/resource-recommend/recommender/recommenders/percentile_recommender.go
  pkg/controller/resource-recommend/recommender/recommenders/percentile_recommender_test.go
  pkg/util/resource-recommend/types/conditions/conditions.go
  pkg/util/resource-recommend/types/conditions/conditions_test.go
  pkg/util/resource-recommend/types/processor/task_key.go
  pkg/util/resource-recommend/types/processor/task_key_test.go
  pkg/util/resource-recommend/types/recommendation/recommendation.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
  pkg/util/resource-recommend/types/recommendation/validate.go
  pkg/util/resource-recommend/types/recommendation/validate_test.go
Owners: @luomingmeng

fix: pass lint's goimports error
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/processor/percentile/process_gc.go
  pkg/util/resource-recommend/resource/k8s_resource.go
  pkg/util/resource-recommend/types/recommendation/recommendation.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
  pkg/util/resource-recommend/types/recommendation/validate_test.go
Owners: @luomingmeng

fix: pass lint's goimports error again and more again
  cmd/katalyst-controller/app/controller/resourcerecommender.go
Owners: @luomingmeng, @caohe

feat(tmo): block config support kcc and optimize target size calc
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
Owners: @xu282934741, @waynepeking348, @nightmeng

feat: add control/resourcerecommend test
  pkg/client/control/resourcerecommend_test.go
Owners: @xu282934741, @waynepeking348

feat: enrich control/resourcerecommend test
  pkg/client/control/resourcerecommend_test.go
Owners: @xu282934741, @waynepeking348

feat: enrich control/resourcerecommend test again
  pkg/client/control/resourcerecommend_test.go
Owners: @xu282934741, @waynepeking348

fix: TestDummyUpdater missing Parallel tags
  pkg/client/control/resourcerecommend_test.go
Owners: @xu282934741, @waynepeking348

unsupportedManager: adding GetMemoryPressure
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @nightmeng

zone_unsupported: adding GetNormalZoneInfo
  pkg/util/machine/zone_unsupported.go
Owners: @luomingmeng

feat: report NUMA cpu usage
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter_test.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/fake_metric.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv1.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv2.go
  pkg/metaserver/agent/metric/types/metric.go
  pkg/util/metric/store.go
Owners: @nightmeng, @xu282934741, @waynepeking348

refactor: make kernel allocate zram memory at allowed NUMAs of workload process
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng, @nightmeng

test: add ut case
  pkg/util/cgroup/manager/cgroup_test.go
Owners: @nightmeng

feat(qrm): support low priority group in network plugin
  pkg/agent/qrm-plugins/network/state/consts.go
  pkg/agent/qrm-plugins/network/state/state.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/types.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/util/external/network/manager.go
  pkg/util/external/network/manager_linux.go
  pkg/util/general/common.go
  pkg/util/qrm/types.go
Owners: @luomingmeng, @nightmeng

refactor(qrm): refactor the state module for enhanced extensibility
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/util/util.go
Owners: @luomingmeng, @nightmeng

system_cores support set specific pool
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util.go
Owners: @luomingmeng, @nightmeng

support memory plugin system_cores hint handler and allocation handler
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
Owners: @luomingmeng, @nightmeng

system_cores with numa binding support set cpuset.mems to NUMAs without numa exclusive pods by default
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
Owners: @luomingmeng, @nightmeng

support numa_binding enhancement for other than shared or dedicated qos
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
Owners: @luomingmeng, @nightmeng

fix(tmo): modify calculation algorithm
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @nightmeng

feat(advisor): add generic_output InferenceResult in inference_svc.proto
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.pb.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.proto
Owners: @nightmeng

feat(advisor): add cpu usage ratio for pod and node custom metrics
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/node/node.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/pod.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
Owners: @xu282934741, @waynepeking348, @gary-lgy, @luomingmeng, @nightmeng

feat(advisor): support multi-models in borwein
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/model/borwein/borwein.go
  pkg/agent/sysadvisor/metacache/metacache_dummy.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/trainingtpreg/training_throughput_regression.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/trainingtpreg/training_throughput_regression_test.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.pb.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.proto
  pkg/agent/sysadvisor/plugin/inference/models/borwein/utils/utils.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/model.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/pod.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/pod_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
  pkg/config/agent/sysadvisor/qosaware/model/borwein/borwein.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @nightmeng, @gary-lgy, @luomingmeng, @xu282934741, @waynepeking348

cpu & memory advisor svc support numa headroom
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.pb.go
Owners: @luomingmeng, @nightmeng

cpu & memory qrm state support numa headroom
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

AllocationInfo refer AllocationMeta use non-pointer
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util_test.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng, @nightmeng

AllocationInfo refer AllocationMeta use non-pointer
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util_test.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng, @nightmeng

fix(qrm): fix cpu admit failed caused by float ceil
  Makefile
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @nightmeng

fix(qrm): fix cpu admit failed caused by float ceil
  Makefile
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @nightmeng

fix(qrm): support topology checking switch for normal share cores pods
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/vpa_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @nightmeng, @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @gary-lgy @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/eviction @gary-lgy @luomingmeng
/cmd/katalyst-agent/app/options/qrm @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/reporter @luomingmeng
/cmd/katalyst-agent/app/options/sysadvisor @nightmeng

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @gary-lgy @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng @nightmeng
/pkg/config/agent/eviction/ @gary-lgy @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/ @nightmeng

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng @nightmeng
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @nightmeng
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng @nightmeng
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @nightmeng
/pkg/agent/sysadvisor/plugin/inference @nightmeng
/pkg/agent/sysadvisor/plugin/metric-emitter @gary-lgy @luomingmeng
/pkg/agent/utilcomponent/ @luomingmeng @nightmeng

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @nightmeng
/pkg/util/cgroup/ @nightmeng
/pkg/util/credential/ @gary-lgy @luomingmeng
/pkg/util/eviction/ @gary-lgy @luomingmeng
/pkg/util/external/ @nightmeng
/pkg/util/metric/ @nightmeng
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @gary-lgy @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng @gary-lgy
