Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

fix(gpu): filter out unhealthy GPUs when generating topology hints
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
Owners: @luomingmeng

feat(gpu): implement topology hints for associated devices
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

fix ci skip verify when Upload coverage to Codecov2
  .github/workflows/ci.yml
Owners: @xu282934741, @waynepeking348

refactor(cpu/dynamicpolicy): add logs for pool allocation details
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng

refactor: remove unused mutex and resource package map fields
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
Owners: @luomingmeng

fix: update unit tests for optimizer CPU metrics refactor
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
Owners: @luomingmeng

test case fix: race among test cases
  pkg/agent/qrm-plugins/mb/advisor/priority/group_priority.go
Owners: @luomingmeng

qrm-mb-plugin: recalibrate ccd cap --mb-ccd-cap-groups=x=12345 --mb-ccd-cap-kp=0.1
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

feat(tmo): update go.mod
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat: support reading of kubelet state checkpoint
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng

fix: resolve klog format-string vet errors and remove toolchain directive
  go.mod
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/orm/manager_nri.go
  pkg/agent/orm/resourceprovider.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime.go
  pkg/controller/monitor/cnr.go
  pkg/controller/overcommit/node/node.go
  pkg/controller/vpa/vpa.go
  pkg/custom-metric/collector/prometheus/collector_promethes.go
  pkg/scheduler/eventhandlers/handler.go
  pkg/scheduler/plugins/noderesourcetopology/filter_native.go
  pkg/scheduler/plugins/noderesourcetopology/reserve.go
  pkg/util/general/healthz.go
  pkg/webhook/mutating/pod/pod.go
  pkg/webhook/mutating/pod/resource_mutator.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @caohe, @WangZzzhe, @JulyWindK

feat: support dummy region
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision_test.go
  pkg/agent/qrm-plugins/commonstate/pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/manager.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/manager_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_dynamic_quota.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_dynamic_quota_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_none.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_rama.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_rama_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dummy.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/regulator/regulator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_used.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/memory.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat: support scheduler gpu allocation
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/scheduler.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

qrm-mb-plugin: ccd cap more test cases
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor_test.go
Owners: @luomingmeng

feat(gpu-reporter): improve device allocation state handling
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/config/agent/global/base.go
  pkg/util/native/kubelet.go
  pkg/util/native/kubelet_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: reduce log severity for NodeResourcePackages error
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
Owners: @luomingmeng

feat(gpu-reporter): improve device allocation state handling
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/config/agent/global/base.go
  pkg/util/native/kubelet.go
  pkg/util/native/kubelet_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

comment of pController
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
Owners: @luomingmeng

feat(eviction): add system CPU pressure eviction plugin
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/cpu_system_eviction.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/eviction_base.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/plugin/cpu/system_pressure.go
  pkg/agent/evictionmanager/plugin/cpu/system_pressure_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_usage_numa_test.go
  pkg/config/agent/dynamic/adminqos/eviction/cpu_system_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/eviction_base.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(memory): exclude static huge pages from total memory calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(memory): add memory topology discovery with hugepages support
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat: implement hugepages allocation
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/machine/topology.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(memory): add static hugepages tracking to memory topology
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat(memory): add memory topology support for accurate capacity calculation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng

fix(memory): use normal memory capacity excluding static hugepages
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/memory_provisioner.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

fix: update allocation for distribute evenly across numa
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
Owners: @luomingmeng

fix: error when getting reserved memory
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng

chore: fix build issues
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

fix: panic when nil
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix: enable rama when cgroup=v1 for empty numa region
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_dynamic_quota.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_empty_numa.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(gpu): add retry mechanism for report building failures
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
Owners: @luomingmeng

fix(reporter): skip invalid GPU devices in checkpoint allocations
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
Owners: @luomingmeng

feat(gpu): add kubelet checkpoint fallback for device allocation
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng

fix(gpu-reporter): bypass cache when getting pod metadata
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
Owners: @luomingmeng

fix: update allocation for distribute evenly across numa
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
Owners: @luomingmeng

fix: panic when nil
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat(memory): add static hugepages tracking to memory topology
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat(memory): add memory topology support for accurate capacity calculation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng

feat: implement hugepages allocation
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/machine/topology.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

chore: fix build issues
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng
