Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

Add more unit tests
  pkg/agent/evictionmanager/podkiller/podkiller_test.go
Owners: @luomingmeng

chore: format strict
  pkg/agent/evictionmanager/podkiller/podkiller_test.go
Owners: @luomingmeng

unit test
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

unit test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

unit test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
Owners: @luomingmeng

feat(qrm): add sgc for cpu dynamic packing
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/consts/strategy_names.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

unit test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
Owners: @luomingmeng

unit test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
Owners: @luomingmeng

eviction frequency & filter & scorer
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/numa_history.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/pressure_metric.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

eviction frequency & filter & scorer
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/numa_history.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/pressure_metric.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

eviction frequency & filter & scorer
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/numa_history.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/pressure_metric.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(*): enable/disable irq-tunner by env conf
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @luomingmeng

feat(util): replace read and write operations for procfs and sysfs
  pkg/util/machine/cpuset.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

refactor(irq-tuning): enable/disable irq-tunner by env
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
Owners: @luomingmeng

feat(irq-tuning): implement misc utils
  pkg/util/general/misc.go
Owners: @luomingmeng

fix(irq-tuning): fix cgroup v1 and v2 cgrouppath prefix
  pkg/util/general/sys.go
Owners: @luomingmeng

feat(irq-tuning): log info when irq tuning config changed
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

chore(*): update replaced katalyst-api version to v1.0.11
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(irq-tuning): implement configurations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
Owners: @luomingmeng

feat(irq-tuning): report nic's balance-fair irq tuning
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

feat(sysfs): add sysfs interface implementation
  pkg/agent/audit/sink/basesink.go
  pkg/consts/common.go
  pkg/util/eventbus/types.go
  pkg/util/sysfs/common/sys_linux.go
  pkg/util/sysfs/manager/cpu/cpu.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/node/node.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
  pkg/util/sysfs/manager/sys_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(irq-tuning): implement controller
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/agent/qrm-plugins/util/consts.go
Owners: @luomingmeng

chore(irq-tuning): trivial fix
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
Owners: @luomingmeng

feat(*): enrich procfs and sysfs functions
  pkg/util/procfs/manager/manager.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/procfs_linux.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
Owners: @luomingmeng

feat(irq-tuning): introduce validation of irq tuning dynamic config
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

feat(irq-tuning): implement net utils
  go.mod
  go.sum
  pkg/agent/qrm-plugins/network/state/util.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/checker/ip.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/checker/ip_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/manager.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/manager_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/util.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(irq-tuning): support tx irq affinity tuning
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

feat(irq-tuning): implement cpu utils
  pkg/agent/qrm-plugins/cpu/nativepolicy/calculator/cpu_assignment_test.go
  pkg/util/machine/cpu.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

refactor(irq-tuning): remove check if irqbalance-ng is running
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

feat(irq-tuning): implement sys utils
  pkg/util/general/sys.go
Owners: @luomingmeng

chore(irq): update irq config
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresadjust/cores_increase.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/low_throughput.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/normal_throughput.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/throughput_class_switch.go
  go.mod
  go.sum
  pkg/config/agent/dynamic/irqtuning/coresadjust/cores_increase.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/low_throughput.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/normal_throughput.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/throughput_class_switch.go
Owners: @xu282934741, @waynepeking348

refactor(irq-tuning): optimize qualified ccd criteria for fair-balance
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

chore(irq-tuning): exclude forbidden cores for balance-fair irq affinity
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

feat(eviction): add QoS-aware pod killer implementation
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/podkiller/qos_killer.go
  pkg/agent/evictionmanager/podkiller/qos_killer_test.go
  pkg/config/agent/eviction/eviciton_base.go
Owners: @yehlemias, @luomingmeng

chore(*): adapt go format and golint
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/tuner/irq_tuner_stub.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/config/agent/dynamic/irqtuning/coresexclusion/cores_exclusion_base.go
  pkg/util/general/misc.go
  pkg/util/general/sys.go
  pkg/util/machine/cpu.go
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
  pkg/util/procfs/common/procfs_linux.go
  pkg/util/sysfs/common/sys_linux.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(irq-tuning): trvial fix
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

fix(*): adapt and modify the unit test of network linux
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

chore(*): supplement the missing license
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/util/general/misc.go
  pkg/util/general/sys.go
  pkg/util/sysfs/common/sys_linux.go
  pkg/util/sysfs/manager/cpu/cpu.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/node/node.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
  pkg/util/sysfs/manager/sys_test.go
Owners: @luomingmeng

resolve conversation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
Owners: @luomingmeng

resolve conversation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
