Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

chore: fix build issues
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

feat: implement hugepages allocation
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/machine/topology.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: update allocation for distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: error when getting reserved memory
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(fetcher): add checkpoint support for inner reporter plugins
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin_test.go
  pkg/agent/resourcemanager/fetcher/manager.go
  pkg/agent/resourcemanager/fetcher/manager_test.go
  pkg/agent/resourcemanager/fetcher/plugin/plugin.go
  pkg/agent/resourcemanager/fetcher/system/systemplugin.go
  pkg/agent/resourcemanager/fetcher/system/systemplugin_test.go
Owners: @luomingmeng

feat: topology annotations for allocations
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/agent/qrm-plugins/network/staticpolicy/util_test.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/util/general/common.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(qrm): support set memory.high to throttle reclaimed_cores
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v2/fs_linux.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat: enable reporting of allocations for gpu
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/state/util_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/util/machine/device.go
  pkg/util/native/object.go
Owners: @luomingmeng

feat(gpu): add state change notifiers for reporter updates
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/state/interface.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

feat(gpu): add default state generation for missing resources
  pkg/agent/qrm-plugins/gpu/state/util.go
Owners: @luomingmeng

fix(*): do not return error when reporter of gvk not found
  pkg/agent/resourcemanager/reporter/manager.go
Owners: @luomingmeng

fix(*): do not return error when reporter of gvk not found
  pkg/agent/resourcemanager/reporter/manager.go
Owners: @luomingmeng

feat: allow appending of errors only if it has been produced before
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/util/general/error.go
  pkg/util/general/error_test.go
Owners: @luomingmeng

fix: remove need for numa information for rdma
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
Owners: @luomingmeng

feat: implement rdma associated device allocation logic
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
Owners: @luomingmeng

feat: refactor of rdma allocation into a new generic preallocatedevice strategy
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/accompanyresource.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/util.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

fix: refactor code to fit new topology provider format
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

feat(sriov): skip dynamic VF allocation by pod annotations
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic_test.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

test(*): add unit test related to watermark
  cmd/katalyst-agent/app/options/dynamic/userwatermark/user_watermark_base_test.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/userwatermarkdefault/user_watermark_default_config_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/calculator_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/feedback_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/manager_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/reclaimer_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(*): support user memory watermark
  cmd/katalyst-agent/app/options/dynamic/dynamic_base.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/user_watermark_base.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/userwatermarkdefault/user_watermark_default_config.go
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/calculator.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/const.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/feedback.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/manager.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/reclaimer.go
  pkg/config/agent/dynamic/crd/dynamic_crd.go
  pkg/config/agent/dynamic/dynamic_base.go
  pkg/config/agent/dynamic/userwatermark/user_watermark_base.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: do not report rdma devices and ensure no panic
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/generator_stub.go
  pkg/agent/qrm-plugins/gpu/state/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/noop/noop.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/noop/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

fix: allow non-consecutive affinity priority levels
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
Owners: @luomingmeng

feat(*): add switch to support disabling some reporters
  cmd/katalyst-agent/app/options/reporter/reporter_base.go
  pkg/agent/resourcemanager/reporter/manager.go
  pkg/config/agent/reporter/reporter_base.go
Owners: @yehlemias, @luomingmeng

feat(*): add switch to support disabling cnr lifecycle
  cmd/katalyst-controller/app/controller/lifecycle.go
  cmd/katalyst-controller/app/options/lifecycle.go
  pkg/config/controller/lifecycle.go
Owners: @luomingmeng, @caohe

fix: remove need for numa information for rdma
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
Owners: @luomingmeng

feat: implement rdma associated device allocation logic
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
Owners: @luomingmeng

fix: refactor code to fit new topology provider format
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

feat: refactor of rdma allocation into a new generic preallocatedevice strategy
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/accompanyresource.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/util.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

fix: determine if the default resource state should be init at start
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/generator_stub.go
  pkg/agent/qrm-plugins/gpu/state/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/state/util_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/noop/noop.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/noop/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

minor refactor: functions naming combined groups
  pkg/agent/qrm-plugins/mb/advisor/advisor_decorator.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
Owners: @luomingmeng

fix(*): do not return error when reporter of gvk not found
  pkg/agent/resourcemanager/reporter/manager.go
  pkg/agent/resourcemanager/reporter/manager_test.go
Owners: @luomingmeng

refactor(irq-tuning): handle known failure of get GetNicQueue2Irq
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

fix: MR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat: support numa number and numa ids
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat: support align by socket, full pcpus pairing and distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: numa number needs to be more than 1 to cross numa
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

feat: support numa number and numa ids
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(memory): add memory topology discovery with hugepages support
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat(memory): add static hugepages tracking to memory topology
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng
