Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

feat(irq-tuning): support disable xps to resolve nic tx queues load imbalance
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux_test.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(network_linux): fix umount failure
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
Owners: @luomingmeng

feat(*): add cache group topology
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/cnr.go
  pkg/util/general/string.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(*): support reserving a specified cpu list
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/kubelet/config/kubeletconfig.go
Owners: @luomingmeng

feat(*): only AMD supports cache group info reporting
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

feat(cnr): add reporting of cpu thread topo info
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(*): if the reserved information is empty, no report will be made
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(*): support reporting CPU flags
  pkg/agent/resourcemanager/fetcher/system/systemplugin.go
  pkg/util/machine/cpu.go
  pkg/util/machine/cpu_linux_test.go
Owners: @luomingmeng

feat(*): implement aggregated reporting of device resources
  cmd/katalyst-agent/app/options/reporter/kubelet_plugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/reporter/kubelet_plugin.go
Owners: @yehlemias, @luomingmeng

feat(advisor): support numa reclaim reserve
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper_test.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat(sys-advisor): get borwein model input and store it in cache
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/plugin/inference/consts/consts.go
  pkg/agent/sysadvisor/plugin/inference/inference.go
  pkg/agent/sysadvisor/plugin/inference/inference_test.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/generic/generic.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/generic/generic_test.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/model_input_fetcher.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/model_input_fetcher_test.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein_test.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_power_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv1.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv2.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/power.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
  pkg/metaserver/agent/pod/pod.go
Owners: @xu282934741, @waynepeking348, @JulyWindK, @luomingmeng

fix(cpu): fix generateBlockCPUSet process numa binding shared_cores containers block
  pkg/agent/qrm-plugins/commonstate/pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

refactor(cpu): enhance block handling with owner pool info and allocation reuse
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

fix(cpu): correct cpuDetails assignment in tryAlignL3Caches
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
Owners: @luomingmeng

feat(cpu/hintoptimizer): add resource package hint optimizer
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/registry/registry.go
  pkg/util/resource-package/util.go
  pkg/util/resource-package/util_test.go
Owners: @luomingmeng

feat(cpu-allocation): enhance topology-aware CPU allocation with L3 cache alignment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(machine): add L3 cache support
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(machine): add L3 cache support
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(cpu/hintoptimizer): add resource package hint optimizer
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/registry/registry.go
  pkg/util/resource-package/util.go
  pkg/util/resource-package/util_test.go
Owners: @luomingmeng

fix(cpu): correct cpuDetails assignment in tryAlignL3Caches
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
Owners: @luomingmeng

refactor(cpu): enhance block handling with owner pool info and allocation reuse
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat(cpu-allocation): enhance topology-aware CPU allocation with L3 cache alignment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

test(*): fix unit test
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(*): add a switch to control reported attributes
  cmd/katalyst-agent/app/options/reporter/kubelet_plugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/system/systemplugin.go
  pkg/config/agent/reporter/kubelet_plugin.go
Owners: @yehlemias, @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang, @waynepeking348

feat(cpu-allocation): enhance topology-aware CPU allocation with L3 cache alignment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(machine): add L3 cache topology support
  pkg/util/machine/l3cache_topology_test.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(network): extract net class cleanup logic to a separate method
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
Owners: @luomingmeng

fix: remove redundant pre stop env
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/qos/cpu_enhancement.go
Owners: @luomingmeng

feat(cpu): enable cpu burst support
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat: implement aqc kcc control for default cpu burst values
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/adminqos_base.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/fine_grained_resource.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(qosaware): skip empty topology check during container ramp up
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat: ensure dedicated cores with no cpu burst policy still set cpu burst to 0
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
Owners: @luomingmeng

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(gpu): restructure device plugin and resource management
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor(gpu): remove redundant non-numa-affinity gpu allocation logic
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng
