Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

feat(metaServer): log instead of return error if got empty list pod resources response
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat: implement time check to check if state files are up to date
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
  pkg/util/general/file.go
  pkg/util/general/file_test.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
Owners: @luomingmeng

feat(resourcepackage): add periodic sync for resource package map
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
Owners: @luomingmeng

feat(metaServer): fix UT
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

fix(cpu): correct cpuDetails assignment in tryAlignL3Caches
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
Owners: @luomingmeng

feat(qrm-plugin): retry get pod
  pkg/agent/qrm-plugins/util/reactor/pod_allocation_reactor.go
Owners: @luomingmeng

refactor(irq-tuning): optimize irq-tuning config equal function
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
Owners: @luomingmeng

chore: unit tests
  pkg/util/logging/logger.go
  pkg/util/logging/logger_test.go
Owners: @luomingmeng

rootfs pressure support path ignore
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
  pkg/config/agent/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(qrm-plugin): optimize logic of skip kubelet pod cache empty error
  pkg/metaserver/agent/pod/pod.go
Owners: @luomingmeng

refactor(resourcepackage): remove unused nodeName parameter and use passed ctx
  pkg/metaserver/resourcepackage/manager.go
Owners: @xu282934741, @waynepeking348

feat(cpu/hintoptimizer): add resource package hint optimizer
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/registry/registry.go
  pkg/util/resource-package/util.go
  pkg/util/resource-package/util_test.go
Owners: @luomingmeng

feat(cpu-allocation): enhance topology-aware CPU allocation with L3 cache alignment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

feat(machine): add L3 cache topology support
  pkg/util/machine/l3cache_topology_test.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

add resource package manager to meta server
  pkg/metaserver/metaserver.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/metaserver/resourcepackage/manager_test.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(irq-tuning): fix golint error
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
Owners: @luomingmeng

borwein input
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/plugin/inference/consts/consts.go
  pkg/agent/sysadvisor/plugin/inference/inference.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelinputfetcher/model_input_fetcher.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/borwein_test.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv1.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv2.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/power.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
  pkg/util/cgroup/common/types.go
Owners: @xu282934741, @waynepeking348, @JulyWindK, @luomingmeng

feat: split up logs based on severity
  cmd/base/options/log.go
  cmd/katalyst-agent/app/agent.go
  pkg/util/logging/logger.go
  pkg/util/logging/logger_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

add resource package manager to meta server
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/metaserver/metaserver.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/metaserver/resourcepackage/manager_test.go
  pkg/util/cnr.go
  pkg/util/cnr_topology.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741, @waynepeking348

refactor(topology): add periodic sync for memory bandwidth data
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

refactor(topology): add periodic sync for memory bandwidth data
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

refactor(hintoptimizer): modify Run method to return error and wait for cache sync
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/factory.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

feat(qrm-plugin): fix kubeletPodsContinuesEmptyCount
  pkg/metaserver/agent/pod/pod.go
Owners: @luomingmeng

feat(resourcepackage): add periodic sync for resource package map
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
Owners: @luomingmeng

fix(cpu): correct cpuDetails assignment in tryAlignL3Caches
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
Owners: @luomingmeng

fix(cpu): correct numa binding flag usage and simplify block assembly
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): support dedicated numa-exclusive and non-exclusive regions
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_rama_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/helper.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

chore(irq-tuning): check if netns exist after failed to list nics
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
Owners: @luomingmeng

refactor(cpu): enhance block handling with owner pool info and allocation reuse
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

chore(*): test
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): split pod entry assembly for numa binding and normal pods
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu/assembler): correct share pool size calculation in reclaim logic
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): improve reclaim pool handling logic in cpu server
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): remove ReclaimedCoresSize and adjust cpu requirement calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/types/types.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(resource/cpu): correct reclaim pool size calculation and add debug logs
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(cpu): update test cases for reclaim pool sizing and overlap info
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(qosaware): update cpu server test cases with new pool info
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

chore(*): test
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
Owners: @luomingmeng

refactor(memory): simplify numa binding allocation logic
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
