Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @gary-lgy, @WangZzzhe, @nightmeng

advisor server support resource headroom manager
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/manager.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/server.go
Owners: @nightmeng

feat: report NUMA cpu usage
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/cache_reaper.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/fake_metric.go
  pkg/metaserver/agent/metric/helper/container.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv1.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/cgroupv2.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/metric/types/metric.go
  pkg/util/metric/store.go
  pkg/util/metric/store_util.go
Owners: @luomingmeng, @nightmeng, @xu282934741, @waynepeking348

supports response the Pod NUMA binding result resource annotation by memory plugin for reclaim pods that are actually bound to specific NUMA nodes
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/consts/qrm.go
Owners: @nightmeng, @luomingmeng, @xu282934741, @waynepeking348

qrm cpu & memory plugin support set numa binding numa id to allocation state for shared or dedicated numa binding without exclusive pods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng, @nightmeng

qrm memory plugin support reclaimed with numa binding admission and provision
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng, @nightmeng

supports patching the Pod NUMA binding result for pods that are actually bound to specific NUMA nodes
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/interface.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @nightmeng, @luomingmeng, @xu282934741, @waynepeking348

qrm cpu plugin support reclaimed with numa binding admission and provision
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @nightmeng, @luomingmeng

cpu & memory qrm state support numa headroom
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

cpu & memory advisor svc support numa headroom
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.pb.go
Owners: @luomingmeng, @nightmeng

rename qrm cpu plugin vpa_test to resize_test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
Owners: @luomingmeng, @nightmeng

modify memory numa headroom type from float64 to int64
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

sort node metrics to avoid updating cnr too frequent and confused
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
Owners: @nightmeng

pressure suppression eviction support numa binding reclaim pods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @nightmeng

memory guard and cpu idle support numa binding reclaim cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/metaserver/agent/agent.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/agent/metric/provisioner/cgroup/provisioner.go
  pkg/metaserver/agent/metric/provisioner/kubelet/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner.go
  pkg/metaserver/metaserver_test.go
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng, @nightmeng, @xu282934741, @waynepeking348

util(process): adding D-stat checking method
  pkg/util/process/system.go
  pkg/util/process/system_test.go
Owners: @luomingmeng

metrics: adding metric for memory fragScore related info
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @xu282934741, @waynepeking348, @nightmeng

feat(fragmem): unified solution for memory compaction
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/const.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_unsupported.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/utils_linux.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @nightmeng, @luomingmeng

memory guard and cpu idle support numa binding reclaim cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/metaserver/agent/agent.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/agent/metric/provisioner/cgroup/provisioner.go
  pkg/metaserver/agent/metric/provisioner/kubelet/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner.go
  pkg/metaserver/metaserver_test.go
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng, @nightmeng, @xu282934741, @waynepeking348

feat(sysadvisor): support reclaimed-core numa binding
  Makefile
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/const.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/const.go
  pkg/agent/sysadvisor/plugin/qosaware/qos_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter_test.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/manager.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource_stub.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/server.go
  pkg/agent/sysadvisor/types/cpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @nightmeng

pressure suppression eviction support numa binding reclaim pods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @nightmeng

modify memory numa headroom type from float64 to int64
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

supports response the Pod NUMA binding result resource annotation by memory plugin for reclaim pods that are actually bound to specific NUMA nodes
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/consts/qrm.go
Owners: @nightmeng, @luomingmeng, @xu282934741, @waynepeking348

cpu & memory qrm state support numa headroom
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

supports patching the Pod NUMA binding result for pods that are actually bound to specific NUMA nodes
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/interface.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @nightmeng, @luomingmeng, @xu282934741, @waynepeking348

sort node metrics to avoid updating cnr too frequent and confused
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
Owners: @nightmeng

cpu & memory advisor svc support numa headroom
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.pb.go
Owners: @luomingmeng, @nightmeng

chore(sysadvisor): use specified struct for memory numa headroom
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
Owners: @nightmeng

qrm cpu & memory plugin support set numa binding numa id to allocation state for shared or dedicated numa binding without exclusive pods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng, @nightmeng

rename qrm cpu plugin vpa_test to resize_test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
Owners: @luomingmeng, @nightmeng

qrm cpu plugin support reclaimed with numa binding admission and provision
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @nightmeng, @luomingmeng

qrm memory plugin support reclaimed with numa binding admission and provision
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng, @nightmeng

chore(*): refine malachite metric provisioner to skip not exists cgroup path
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_cgroup.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
Owners: @nightmeng

chore(qrm): refine ControlKnobKeyCPUNUMAHeadroom
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/const.go
Owners: @luomingmeng, @nightmeng

chore(metrics): check reclaim abs cgroup path exist instead of relative root cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
Owners: @luomingmeng, @nightmeng

chore(sysadvisor): response cpu_numa_headroom not in milli-value
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @nightmeng

feat(sysadvisor): support reclaimed-core numa binding
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/const.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/const.go
  pkg/agent/sysadvisor/plugin/qosaware/qos_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter_test.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/manager.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource_stub.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/server.go
  pkg/agent/sysadvisor/types/cpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @nightmeng

fix(qrm): fix memory plugin non-RNB numa set
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @nightmeng

feat(sysadvisor): add offline per numa cgroup
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
  pkg/metaserver/agent/agent.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/agent/metric/provisioner/cgroup/provisioner.go
  pkg/metaserver/agent/metric/provisioner/kubelet/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_cgroup.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner.go
  pkg/metaserver/metaserver_test.go
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng, @nightmeng, @xu282934741, @waynepeking348

fix: slide headroom result per-numa
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
Owners: @nightmeng

test
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
Owners: @nightmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @gary-lgy @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/eviction @gary-lgy @luomingmeng
/cmd/katalyst-agent/app/options/qrm @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/reporter @luomingmeng
/cmd/katalyst-agent/app/options/sysadvisor @nightmeng

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @gary-lgy @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng @nightmeng
/pkg/config/agent/eviction/ @gary-lgy @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/ @nightmeng

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng @nightmeng
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @nightmeng
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng @nightmeng
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @nightmeng
/pkg/agent/sysadvisor/plugin/inference @nightmeng
/pkg/agent/sysadvisor/plugin/metric-emitter @gary-lgy @luomingmeng
/pkg/agent/utilcomponent/ @luomingmeng @nightmeng

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @nightmeng
/pkg/util/cgroup/ @nightmeng
/pkg/util/credential/ @gary-lgy @luomingmeng
/pkg/util/eviction/ @gary-lgy @luomingmeng
/pkg/util/external/ @nightmeng
/pkg/util/metric/ @nightmeng
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @gary-lgy @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng @gary-lgy
