Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

feat(cpu-allocation): enhance topology-aware CPU allocation with L3 cache alignment
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

refactor(network): move UnknownNumaNode constant to common file
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

feat(machine): add L3 cache topology support
  pkg/util/machine/l3cache_topology_test.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

refactor(test): replace unix.Getpagesize() with hardcoded page size in tests
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(evictionmanager): handle empty candidate pods in eviction result collection
  pkg/agent/evictionmanager/manager.go
Owners: @luomingmeng

feat(eviction): update ThresholdMet to accept GetThresholdMetRequest
  go.mod
  go.sum
  pkg/agent/evictionmanager/endpoint/endpoint.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
  pkg/agent/evictionmanager/plugin/memory/rss_overuse.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure_test.go
  pkg/agent/evictionmanager/plugin/network/network.go
  pkg/agent/evictionmanager/plugin/plugin.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resource_test.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_overuse.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_balancer.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat(eviction): add eviction record manager to track pod disruptions
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/record/interface.go
  pkg/agent/evictionmanager/record/registry.go
  pkg/config/agent/eviction/eviciton_base.go
Owners: @yehlemias, @luomingmeng

feat(irq-tuning): provide configuration for excluding irq cores in rps_cpus
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

fix commits
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

add dynamic numa memory bandwidth capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

add allocatable rate map
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

update allocatable numa memory bandwidth according to dynamic capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat: unit tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

rootfs pressure eviction support system prjquota
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/config/agent/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/config/agent/metaserver/agent.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/provisioner/prjquota/provisioner.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

simplify the implement
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/config/agent/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

add test log print
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
Owners: @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(*): add irq tuning conf item
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base_test.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/rpsexcludeirqcore/rps_exclude_irq_cores.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
  pkg/config/agent/dynamic/irqtuning/rpsexcludeirqcore/rps_exclude_irq_cores.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(advisor): support numa reclaim reserve
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat: remove old checkpoint file
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

met0.4 + freq limit 0.15 0.3 0.5 + metrics + new score strategy + evict config
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/util/metric_ring.go
  pkg/agent/qrm-plugins/cpu/util/numa_history.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(eviction): add frequency control, filters and scorers for numa cpu pressure eviction
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/util/metric_ring.go
  pkg/agent/qrm-plugins/cpu/util/numa_history.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

add resource package manager
  go.mod
  go.sum
  pkg/metaserver/metaserver.go
  pkg/metaserver/resourcepackage/manager.go
Owners: @xu282934741, @waynepeking348

fix(qrm): fix the bug in the CPU pressure eviction plugin related to accumulating shared pool limits when SNB pods are present
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
Owners: @luomingmeng

mbm: trivial comment update
  pkg/agent/qrm-plugins/mb/monitor/domain_stat_help.go
Owners: @luomingmeng

fix(irq-tuning): trivial fix
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

refactor(network): move UnknownNumaNode constant to common file
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

fix(*): fix the concurrent read and write issues of sysadvisor metacache map
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @xu282934741

test(*): update go test timeout temporarily
  Makefile
Owners: @xu282934741, @waynepeking348

fix(*): fix containerCreateTimestamp data race
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @xu282934741

feat(advisor): support numa reclaim reserve
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper_test.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat(*): add irq tuning conf item
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base_test.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/rpsexcludeirqcore/rps_exclude_irq_cores.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
  pkg/config/agent/dynamic/irqtuning/rpsexcludeirqcore/rps_exclude_irq_cores.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(irq-tuning): provide configuration for excluding irq cores in rps_cpus
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

feat: support cgv1 for quota control knob
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_dynamic_quota.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/quota_ctrl_knob.go
Owners: @luomingmeng, @xu282934741, @cheney-lin, @sun-yuliang

support cgroup in container
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

rootfs pressure support path ignore
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
  pkg/config/agent/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refine test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

feat(resctrl): don't create mon_groups if over limit
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

fix(*): fix unit-test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/tuner/irq_tuner_stub.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/cgroup_linux.go
  pkg/util/machine/cpu_test.go
  pkg/util/machine/network.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/process/system.go
  pkg/util/procfs/manager/manager_linux.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/proc_linux.go
  pkg/util/procfs/manager/procfs_linux.go
Owners: @luomingmeng

add tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
