Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

mbm: support local be victim and total all read malachite resctrl config
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

mbm: initial integration
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/types.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/plugin_test.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/util/machine/die.go
Owners: @luomingmeng

mbm: mb plugin
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/policy.go
Owners: @luomingmeng

mbm: from limits to incoming targets
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/quota/easers.go
  pkg/agent/qrm-plugins/mb/advisor/quota/throttlers.go
  pkg/agent/qrm-plugins/mb/advisor/quota/throttlers_test.go
  pkg/agent/qrm-plugins/mb/advisor/quota/types.go
  pkg/agent/qrm-plugins/mb/advisor/resource/one.go
  pkg/agent/qrm-plugins/mb/advisor/resource/state.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

mbm: log mb plan detail
  pkg/agent/qrm-plugins/mb/plan/types.go
  pkg/agent/qrm-plugins/mb/plan/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

mbm: + domain type
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
Owners: @luomingmeng

mbm: malachite provisioner for realtime-mb and mb reader
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/policy/plugin_test.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
  pkg/config/agent/metaserver/agent.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_mb_provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_mb_provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @luomingmeng, @xu282934741, @waynepeking348, @JulyWindK

mbm: reuse CPUTopoInfo.L3CacheID for numa-ccds lookup
  pkg/agent/qrm-plugins/mb/domain/types.go
  pkg/agent/qrm-plugins/mb/domain/types_test.go
  pkg/util/machine/die.go
  pkg/util/machine/die_test.go
  pkg/util/machine/machine.go
  pkg/util/machine/machine_linux.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang, @waynepeking348

fix(evictionmanager): move deletionOptions nil check inside forceEvictPod condition
  pkg/agent/evictionmanager/eviction_resp_collector.go
Owners: @luomingmeng

feat(resctrl): customized enabled qos
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

stateful spd baseline based on shard
  pkg/controller/spd/spd_baseline.go
  pkg/controller/spd/spd_baseline_test.go
  pkg/controller/spd/spd_test.go
  pkg/util/spd_baseline.go
  pkg/util/spd_baseline_test.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang, @waynepeking348

ExtendedBaselineSentinel unmarshal
  pkg/util/spd_baseline.go
Owners: @luomingmeng

format
  pkg/util/spd_baseline.go
Owners: @luomingmeng

fix(evictionmanager): move deletionOptions nil check inside forceEvictPod condition
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources.go
Owners: @luomingmeng

feat: add closed policy for cpu burst
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(evictionmanager): restructure zone resource plugin and add tests
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources.go
Owners: @luomingmeng

feat(evictionmanager): improve zone resource plugin with concurrent processing
  pkg/agent/evictionmanager/plugin/resource/zone_resources.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources_threshold_test.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/helper.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_llc_aligned.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang, @waynepeking348

feat: add closed policy for cpu burst
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: refactor migration logic into checkpointmanager
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_test.go
  pkg/util/customcheckpointmanager/customcheckpointmanager.go
  pkg/util/customcheckpointmanager/customcheckpointmanager_test.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager.go
  pkg/util/qrmcheckpointmanager/qrmcheckpointmanager_test.go
  pkg/util/state/types.go
Owners: @luomingmeng

feat(irq-tuning): support specify static normal throughput nics
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/config/config_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(agent): eviction enhancement
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/resource/resources_test.go
  pkg/agent/evictionmanager/podnotifier/notifier.go
  pkg/agent/evictionmanager/podnotifier/notifier_test.go
  pkg/agent/evictionmanager/podnotifier/podnotifier.go
  pkg/agent/evictionmanager/podnotifier/podnotifier_test.go
  pkg/config/agent/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  pkg/config/agent/eviction/eviciton_base.go
  pkg/consts/common.go
  pkg/consts/evictionmanager.go
  pkg/controller/kcc/kcct_integration_test.go
  pkg/util/kcct_test.go
  pkg/util/native/pods.go
  pkg/util/native/pods_test.go
Owners: @xu282934741, @waynepeking348, @yehlemias, @luomingmeng

fix
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
Owners: @luomingmeng

fix: PR comments
  pkg/util/customcheckpointmanager/customcheckpointmanager.go
Owners: @luomingmeng

fix: increase NIC unhealthy tolerance duration to 5 minutes
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/network_eviction.go
Owners: @xu282934741, @waynepeking348

fix
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
Owners: @luomingmeng

refactor(qrm): remove unused state file directory fields
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

refactor: remove unused GenerateDummyGPUTopology function
  pkg/util/machine/topology.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
Owners: @luomingmeng

feat(gpu): optimize GPU allocation by preferring NUMA nodes with most allocated memory
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

fix: maintain affinity subgroup sequence in larger affinity groups
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

fix typo and add logs
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore: add context to interface methods
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/custom_device_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

feat: introduce rdma state and allow states to share within gpu sub-plugins
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/util.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/rdma.go
Owners: @luomingmeng

feat(gpu): add associated device topology hints support
  go.mod
  go.sum
  pkg/agent/orm/endpoint/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @caohe, @WangZzzhe, @luomingmeng

feat(gpu): add canonical strategy implementation and refactor gpu memory strategy
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
