Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

feat(sriov): implement state
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

feat(sriov): implement plugin interfaces
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

feat(sriov): replace VfInfo with machine.VFInterfaceInfo and add allocation annotations
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/config/agent/qrm/sriov_plugin.go
  pkg/util/machine/vf.go
Owners: @luomingmeng

feat(sriov): add rdma devices
  go.mod
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/util/machine/vf.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

support vf with combined queue number and ib device
  pkg/util/machine/network_linux.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

fix(sriov): fix
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
Owners: @luomingmeng

list vf ibdevice from verbs, cm, mad dir
  pkg/util/machine/network_linux.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat(sriov): using latest machine.VFInterfaceInfo
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

add GetNSNetworkVFName
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

refract vf structure and GetNSNetworkVFs func
  pkg/util/machine/sriov.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat(sriov): implement GetTopologyAwareResources and add state reconciler
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/state.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

feat(sriov): optimize static policy
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
Owners: @luomingmeng

feat(sriov): add dynamic policy
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/state_reconciler.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

feat(sriov): add sriov vf result annotation
  go.mod
  pkg/agent/qrm-plugins/sriov/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/state_reconciler.go
  pkg/agent/qrm-plugins/sriov/util/util.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): update go mod
  go.mod
Owners: @xu282934741, @waynepeking348

fix(sriov): fix state reconciler
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/util/state_reconciler.go
  pkg/agent/qrm-plugins/sriov/util/util.go
Owners: @luomingmeng

fix(sriov): force return nil when dryRun
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

feat(sriov): fix list vf
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

fix(sriov): fix numaset filter
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): disable dryrun in GetTopologyAwareAllocatableResources
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): fix clone AllocationInfo
  pkg/agent/qrm-plugins/sriov/state/state.go
Owners: @luomingmeng

fix(sriov): fix addMissingAllocationInfo
  pkg/agent/qrm-plugins/sriov/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
  pkg/agent/qrm-plugins/sriov/util/state_reconciler.go
  pkg/agent/qrm-plugins/sriov/util/util.go
Owners: @luomingmeng

feat(sriov): optimize log
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

refactor(sriov): refactor sriov policy
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/sriov/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/util/util.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

feat(sriov): fix init checkpoint
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

fix(sriov): fix log
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat(sriov): fix vf duplicate
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat(sriov): return empty response instead of nil when dryRun is enabled
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): handler cases when vf extra info is nil
  pkg/agent/qrm-plugins/sriov/policy/base.go
Owners: @luomingmeng

fix(sriov): fix nil pointer of cpuset
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): fix dynamic policy
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/sriov/dynamicpolicy/policy.go
Owners: @luomingmeng

fix(sriov): fix nil pointer
  pkg/agent/qrm-plugins/sriov/policy/base.go
Owners: @luomingmeng

feat(sriov): fix agent
  cmd/katalyst-agent/app/enableagents.go
Owners: @xu282934741, @waynepeking348

fix(sriov): dryrun allocate
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

feat(sriov): fix log
  pkg/agent/qrm-plugins/sriov/staticpolicy/policy.go
Owners: @luomingmeng

feat(sriov): refactor vf util
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat(sriov): sort vf by numa node and index, add netns annotation key
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/config/agent/qrm/sriov_plugin.go
Owners: @luomingmeng

fix(sriov): fix vf extra info
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
Owners: @luomingmeng

fix(sriov): include vf allocated by pod to count allocatable
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): add ut
  pkg/util/machine/sriov_linux_test.go
Owners: @luomingmeng
