Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

fix: error when getting reserved memory
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat: implement hugepages allocation
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  go.mod
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/machine/topology.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(memory): exclude static huge pages from total memory calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(memory): use normal memory capacity excluding static hugepages
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/memory_provisioner.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

chore: fix build issues
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

feat(memory): add memory topology support for accurate capacity calculation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng

fix: update allocation for distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: topology annotations for allocations
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/agent/qrm-plugins/network/staticpolicy/util_test.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/consts/qrm.go
  pkg/util/general/common.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

chore: rebase hugepages feature
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: support setting of cpu burst only for main container
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @luomingmeng

feat(*): support user memory watermark
  cmd/katalyst-agent/app/options/dynamic/dynamic_base.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/user_watermark_base.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/userwatermarkdefault/user_watermark_default_config.go
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/calculator.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/const.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/feedback.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/manager.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/reclaimer.go
  pkg/config/agent/dynamic/crd/dynamic_crd.go
  pkg/config/agent/dynamic/dynamic_base.go
  pkg/config/agent/dynamic/userwatermark/user_watermark_base.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor: policy uses the advisor able to process groups of identical priority
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_metrics.go
  pkg/agent/qrm-plugins/mb/advisor/priority_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/priority_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/uniq_priority_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/uniq_priority_advisor_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

feat(qrm): support set memory.high to throttle reclaimed_cores
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v2/fs_linux.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat: refactor device affinity and support strict device affinity requirement
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

test(*): add unit test related to watermark
  cmd/katalyst-agent/app/options/dynamic/userwatermark/user_watermark_base_test.go
  cmd/katalyst-agent/app/options/dynamic/userwatermark/userwatermarkdefault/user_watermark_default_config_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/calculator_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/feedback_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/manager_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/userwatermark/reclaimer_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: panic when nil
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix: simplify the device affinity logic
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

feat(irq-tuning): support GCP gve nic
  pkg/util/machine/network.go
  pkg/util/machine/network_linux.go
Owners: @luomingmeng

feat(cpu): add attributes to ResourcePackageItemConfig and update related logic
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/util/resource-package/util.go
Owners: @luomingmeng

refactor(sysadvisor): restructure resource package handling and remove PinnedCPUSetInfo
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/metacache/metacache_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/agent/sysadvisor/types/resource_package.go
Owners: @luomingmeng, @xu282934741, @cheney-lin, @sun-yuliang

refactor(cpu): restructure pool allocation logic for pinned and common pools
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

feat(resource-package): add support for non-reclaimable pinned CPUs
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/types/resource_package.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/util/resource-package/util.go
  pkg/util/resource-package/util_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

refactor(cpu): simplify resource package name retrieval and improve cpu allocation logic
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/helper.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(cpu): add IRQ forbidden CPU selection by resource package attributes
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
Owners: @luomingmeng

fix: check reclaim enable before updating min reclaimed cores quota
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(topology): centralize zone attribute names in consts package
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/consts/cnr.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(cpu/dynamicpolicy): improve synchronization and test reliability
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

feat(qosaware): enhance numa binding pool name handling with resource package
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(resource-package): enhance CPU allocation with resource package support
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

refactor(resource): enhance resource package state handling with attributes
  pkg/agent/sysadvisor/metacache/metacache_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/agent/sysadvisor/types/resource_package.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

feat(cpu): add debug logs for resource package state changes
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
Owners: @luomingmeng

feat(cgroup): add cpuset partition support for cgroupv2
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux_test.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @luomingmeng

feat(cpu): add debug logs for CPU allocation tracking
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

fix(cpu/dynamicpolicy): handle non-pinned resource packages and attributes
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package_test.go
Owners: @luomingmeng

feat(util): add ParseSelector function for label parsing
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/util/general/common.go
  pkg/util/general/common_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat(qosaware): add debug logs for cpu resource allocation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu): check cpu set size before wrapping owner pool name
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

refactor(cpu): simplify topology allocation annotations logic
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
Owners: @luomingmeng

fix(cpu): improve numa-aware cpu allocation with resource packages
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng
