Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

add dynamic numa memory bandwidth capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

update allocatable numa memory bandwidth according to dynamic capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

add allocatable rate map
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

fix commits
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

chore: documentation and logging
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng

feat(resctrl): don't create mon_groups if over limit
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

fix(cpu): correct reclaimed cores quota calculation and size aggregation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(resource-plugin): add associated device allocation support
  pkg/agent/orm/endpoint/resource_plugin_stub.go
Owners: @caohe, @WangZzzhe

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

refactor(gpu): remove redundant non-numa-affinity gpu allocation logic
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

feat(gpu): add associated device topology hints support
  go.mod
  go.sum
  pkg/agent/orm/endpoint/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @caohe, @WangZzzhe, @luomingmeng

fix typo and add logs
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/gpu.go
Owners: @luomingmeng

fix: PR comments
  pkg/metaserver/agent/metric/provisioner/rodan/client/client_node_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/kata_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_stub.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_stub.go
  pkg/util/cgroup/common/path.go
Owners: @JulyWindK, @luomingmeng

fix(qrm-plugins): improve hint generation logic for best effort allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(memory/dynamicpolicy): correct error message in reclaimedCoresWithNUMABindingHintHandler
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat(eviction): update ThresholdMet to accept GetThresholdMetRequest
  go.mod
  go.sum
  pkg/agent/evictionmanager/endpoint/endpoint.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
  pkg/agent/evictionmanager/plugin/memory/rss_overuse.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure_test.go
  pkg/agent/evictionmanager/plugin/network/network.go
  pkg/agent/evictionmanager/plugin/plugin.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resource_test.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_overuse.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_balancer.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat(eviction): add eviction record manager to track pod disruptions
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/record/interface.go
  pkg/agent/evictionmanager/record/registry.go
  pkg/config/agent/eviction/eviciton_base.go
Owners: @yehlemias, @luomingmeng

refactor(test): replace unix.Getpagesize() with hardcoded page size in tests
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(*): the interrupt pool is initialized only when irqtuner is enabled
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
Owners: @luomingmeng

chore: code coverage
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/path_test.go
Owners: @luomingmeng

feat(sysadvisor): add shared numa binding check and rename numa binding func
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory_test.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sysadvisor): add shared numa binding check and rename numa binding func
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory_test.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu): correct reclaimed cores quota calculation and size aggregation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(qosaware): exclude numa nodes in socket from reclaim when binding pool is disabled
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(qrm-plugins): improve hint generation logic for best effort allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(memory/dynamicpolicy): correct error message in reclaimedCoresWithNUMABindingHintHandler
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(irq-tuning): fix irq-core selection
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

fix: PR comments
  pkg/metaserver/agent/metric/provisioner/rodan/client/client_node_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/kata_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_stub.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_stub.go
  pkg/util/cgroup/common/path.go
Owners: @JulyWindK, @luomingmeng

chore(irq-tuning): add tags to classify according to specified dimensions
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

chore(irq-tuning): add some logs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller.go
Owners: @luomingmeng

feat: implement state migration from memory to disk and vice versa
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
  pkg/util/inmemorystate/inmemorystate.go
Owners: @luomingmeng, @xu282934741

fix(*): fix the concurrent read and write issues of sysadvisor metacache map
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @xu282934741

feat: implement network state file migration
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

fix: remove deletion of files
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

fix: bug in storing state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741

chore: format strict
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @luomingmeng, @xu282934741
