Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @gary-lgy, @WangZzzhe, @nightmeng

fix: slide headroom result per-numa
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
Owners: @nightmeng

feat: refactor resource-recommend controller
  cmd/katalyst-controller/app/controller/resourcerecommender.go
  cmd/katalyst-controller/app/options/resourcerecommender.go
  go.mod
  go.sum
  pkg/client/control/resourcerecommend.go
  pkg/client/control/resourcerecommend_test.go
  pkg/config/controller/resourcerecommender.go
  pkg/controller/resource-recommend/controller/controller.go
  pkg/controller/resource-recommend/controller/controller_test.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller_test.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller_test.go
  pkg/controller/resource-recommend/oom/oom_recorder.go
  pkg/controller/resource-recommend/oom/oom_recorder_test.go
  pkg/controller/resource-recommend/processor/manager/processor_manager.go
  pkg/controller/resource-recommend/processor/percentile/process_gc.go
  pkg/controller/resource-recommend/processor/percentile/process_gc_test.go
  pkg/controller/resource-recommend/processor/percentile/processor.go
  pkg/util/resource-recommend/resource/k8s_resource.go
  pkg/util/resource-recommend/resource/k8s_resource_test.go
  pkg/util/resource-recommend/resource/k8s_resource_test_util.go
  pkg/util/resource-recommend/types/conditions/conditions_test.go
  pkg/util/resource-recommend/types/recommendation/recommendation.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
  pkg/util/resource-recommend/types/recommendation/validate.go
  pkg/util/resource-recommend/types/recommendation/validate_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

feat(sysadvisor): assemble headroom
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
Owners: @nightmeng

fix(qrm): fix printing of numa mem migrate container stats
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng, @nightmeng

feat(sysadvisor): eliminate GetHeadroom API of resource advisor
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource.go
Owners: @nightmeng

fix(cgmgr): fix get numa memory stat for cgroupv1
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/cgroup/common/cgroup_linux_test.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
Owners: @nightmeng

feat(sysadvisor): get RNB NUMA topo
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
Owners: @nightmeng

test
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
Owners: @nightmeng

feat(sysadvisor): enrich debug info
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_exclusive.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
Owners: @nightmeng

cpu & memory advisor svc support numa headroom
  pkg/agent/qrm-plugins/advisorsvc/advisor_svc.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/inferencesvc/inference_svc.pb.go
Owners: @luomingmeng, @nightmeng

cpu & memory qrm state support numa headroom
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

modify memory numa headroom type from float64 to int64
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/util/general/deepcopy.go
Owners: @luomingmeng, @nightmeng

memory guard and cpu idle support numa binding reclaim cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/metaserver/agent/agent.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/agent/metric/provisioner/cgroup/provisioner.go
  pkg/metaserver/agent/metric/provisioner/kubelet/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner.go
  pkg/metaserver/metaserver_test.go
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng, @nightmeng, @xu282934741, @waynepeking348

sort node metrics to avoid updating cnr too frequent and confused
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
Owners: @nightmeng

chore(sysadvisor): use specified struct for memory numa headroom
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
Owners: @nightmeng

pressure suppression eviction support numa binding reclaim pods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/util/qos/mem_enhancement.go
Owners: @luomingmeng, @nightmeng

chore(metrics): check reclaim abs cgroup path exist instead of relative root cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
Owners: @luomingmeng, @nightmeng

chore(sysadvisor): response cpu_numa_headroom not in milli-value
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @nightmeng

chore(metaserver): add reclaim cgroup path and reclaim numa cgroup path to k8s cgroup path
  cmd/katalyst-agent/app/options/global/base.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/agent.go
  pkg/metaserver/agent/pod/pod.go
  pkg/util/cgroup/common/path.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @nightmeng

chore(sysadvisor): memory guard non-actual numa-binding reclaim memory limit only consider NUMAs without actual numa-binding pod
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
Owners: @nightmeng

chore(qrm): refine ControlKnobKeyCPUNUMAHeadroom
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/const.go
Owners: @luomingmeng, @nightmeng

feat(sysadvisor): add offline per numa cgroup
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_cgroup.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
Owners: @nightmeng

fix: slide headroom result per-numa
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
Owners: @nightmeng

feat(sysadvisor): assemble headroom
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/memory_server.go
Owners: @nightmeng

feat(sysadvisor): eliminate GetHeadroom API of resource advisor
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/resource.go
Owners: @nightmeng

feat(sysadvisor): get RNB NUMA topo
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
Owners: @nightmeng

feat(sysadvisor): enrich debug info
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_exclusive.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
Owners: @nightmeng

fix(sysadvisor): fix sliding windows
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
Owners: @nightmeng

fix(sysadvisor): fix sliding windows
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
Owners: @nightmeng

fix(sysadvisor): fix sliding windows
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
Owners: @nightmeng

fix(sysadvisor): zero headroom
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
Owners: @nightmeng

fix(sysadvisor): ensure headroom exists in each numa
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
Owners: @nightmeng

fix(sysadvisor): ensure headroom exists in each numa
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
Owners: @nightmeng

feat(sockmem): keep the values in tcp_mem consistent
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
Owners: @luomingmeng, @nightmeng

chore(cgroup): fix memory policy build not in linux
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/cgroup_test.go
  pkg/util/cgroup/manager/memory_linux.go
  pkg/util/cgroup/manager/memory_linux_test.go
  pkg/util/cgroup/manager/memory_unsupported.go
Owners: @nightmeng

fix(sysadvisor): check result
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
Owners: @nightmeng

pap: power aware plugin not enabled by default
  cmd/katalyst-agent/app/options/sysadvisor/poweraware/power_aware_plugin.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
Owners: @nightmeng

pap: advisor plugin + power eviction server + power cap server
  cmd/katalyst-agent/app/options/sysadvisor/poweraware/power_aware_plugin.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/capper.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/instruction.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/instruction_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/fanout_notifier.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/fanout_notifier_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/server.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/service.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/service_integration_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/service_test.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/action/action.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/action/action_test.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/action/strategy/strategy.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/action/strategy/strategy_test.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/controller.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/controller_test.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/reconciler.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/reconciler_test.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/load_evictor.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/load_evictor_test.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/pod_evictor.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service_test.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware_test.go
  pkg/agent/sysadvisor/plugin/poweraware/reader/reader.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/fetcher.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/fetcher_test.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/spec.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/spec_test.go
  pkg/agent/sysadvisor/sysadvisor.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/sysadvisor/poweraware/power_aware_plugin.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
Owners: @nightmeng

pap: enforce Init, Start and Stop semantic; capping service delivers the pending reset on new connection; various refactorings
  cmd/katalyst-agent/app/options/sysadvisor/poweraware/power_aware_plugin.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/action.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/action_test.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/strategy/strategy.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/strategy/strategy_test.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor_test.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/reconciler.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/reconciler_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/capper.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/fanout_notifier.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/fanout_notifier_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/service.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/service_integration_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/server/service_test.go
  pkg/agent/sysadvisor/plugin/poweraware/controller/reconciler_test.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/percentage_evictor.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/percentage_evictor_test.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/pod_evictor.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service_test.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware_test.go
  pkg/agent/sysadvisor/plugin/poweraware/reader/reader.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/fetcher.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/fetcher_test.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/spec.go
  pkg/agent/sysadvisor/plugin/poweraware/spec/spec_test.go
  pkg/config/agent/sysadvisor/poweraware/power_aware_plugin.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
Owners: @nightmeng

fix(qrm): align the core num reserved for reclaim to numa total count
  pkg/util/machine/cpu.go
  pkg/util/machine/cpu_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @gary-lgy @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/eviction @gary-lgy @luomingmeng
/cmd/katalyst-agent/app/options/qrm @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/reporter @luomingmeng
/cmd/katalyst-agent/app/options/sysadvisor @nightmeng

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @gary-lgy @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng @nightmeng
/pkg/config/agent/eviction/ @gary-lgy @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/ @nightmeng

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng @nightmeng
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @nightmeng
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng @nightmeng
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @nightmeng
/pkg/agent/sysadvisor/plugin/inference @nightmeng
/pkg/agent/sysadvisor/plugin/metric-emitter @gary-lgy @luomingmeng
/pkg/agent/utilcomponent/ @luomingmeng @nightmeng

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @nightmeng
/pkg/util/cgroup/ @nightmeng
/pkg/util/credential/ @gary-lgy @luomingmeng
/pkg/util/eviction/ @gary-lgy @luomingmeng
/pkg/util/external/ @nightmeng
/pkg/util/metric/ @nightmeng
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @gary-lgy @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng @gary-lgy
