Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

minor: irregular discount value explicit treatment
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/decorator/decorator_discount.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

add unit tests
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @JulyWindK

fix format
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @JulyWindK

fix(network): handle zero resource requests in NIC selection
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

test(sriov): sort sriov vf list
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
Owners: @luomingmeng

test(sriov): fix
  pkg/util/machine/network_linux_test.go
Owners: @luomingmeng

fix(sriov): fix nil pointer
  pkg/agent/qrm-plugins/sriov/state/state_mem.go
Owners: @luomingmeng

refactor(resource-package): update resource package structure to include config
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(sriov): set SkipSriovStateCorruption to false
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
Owners: @luomingmeng

feat(sriov): adjust logging
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): fix numa filter of dynamic policy
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
Owners: @luomingmeng

fix: give reasons for when the health checker is not healthy
  pkg/agent/qrm-plugins/network/staticpolicy/nic/interface.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/manager.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/manager_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

fix(sriov): fix syncMachineState
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
Owners: @luomingmeng

feat(*): remove sysadvisor metacache persistence
  pkg/agent/sysadvisor/metacache/metacache.go
Owners: @xu282934741

fix: be mem limit
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(sriov): fix brcm pf index
  pkg/agent/qrm-plugins/sriov/policy/dynamic_test.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
Owners: @luomingmeng

fix(sriov): add log
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

fix(sriov): add sriov log
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

fix(sriov): add GetSriovVFList debug log
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

fix(sriov): adjust GetSriovVFList debug log
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

feat: support align by socket, full pcpus pairing and distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(sriov): add handler ut
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/base_test.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic_test.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
  pkg/agent/qrm-plugins/sriov/state/state.go
Owners: @luomingmeng

refactor(cpu): rename sharedCoresNUMABindingResultAnnotationKey to NUMABindingResultAnnotationKey
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @luomingmeng

fix(sriov): fix ut and lint
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

fix(vpa): skip qrm hinter check when pod request is scaling down
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(sriov): fix ut
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

add new test cases
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/consts/resctrl.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(sriov): support sriov static and dynamic policy
  cmd/katalyst-agent/app/agent/qrm/sriov_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/sriov_plugin.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

test(sriov): add ut
  .github/workflows/ci.yml
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/base_test.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic_test.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_mem.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): refactor vf util
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat: support numa number and numa ids
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

dev: support numa affinity
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/pool.go
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/commonstate/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_usage_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/reactor/numa_allocation_reactor_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/validator/validator_cpu_advisor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/types/helper.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

chore(*): run add license
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/reactor/numa_allocation_reactor_test.go
Owners: @luomingmeng

feat(sysadvisor): use GetSpecifiedPoolName function to get Pod's pool name
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(sysadvisor): fix CRD config `PoolNameConfigs` no initialization, to avoid panics
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @xu282934741, @waynepeking348

fix(sysadvisor): Fix the issue where nested maps in pod annotations are not handled correctly
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sysadvisor): Add poolName specified tmoConfig for memory offloading
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(sriov): add more ut
  go.mod
  go.sum
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

support same priority
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

feat(borwein): add multiple models support for latency regression
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression_test.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/model.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang
