Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

feat(*): adjust watermark for hugepages
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_linux.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_linux_test.go
  pkg/util/procfs/manager/manager.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/proc_test.go
  pkg/util/procfs/manager/procfs_linux.go
Owners: @luomingmeng

feat(sriov): refactor vf util
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

feat(sriov): support sriov static and dynamic policy
  cmd/katalyst-agent/app/agent/qrm/sriov_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/sriov_plugin.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

test(sriov): add ut
  .github/workflows/ci.yml
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/base_test.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic_test.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_mem.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(sriov): add more ut
  go.mod
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): optimize logging
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): indicates that there is no numa preference if vf is available on all sockets for non-numa binding pod
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): skip runtime sandbox without ready state to avoid adding deleted pod into vf state
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
Owners: @luomingmeng

fix(sriov): using sorted cache state to update checkpoint
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
Owners: @luomingmeng

feat(sriov): update kubelet
  go.mod
Owners: @xu282934741, @waynepeking348

feat(sriov): fix ut of static GetTopologyHints
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @luomingmeng

feat(sriov): fix ut
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @luomingmeng

feat(sriov): add containerType
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

feat(sriov): improve allocation meta for missing pod
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng

fix(sriov): fix some bug
  pkg/util/machine/sriov_linux.go
Owners: @luomingmeng

fix(sriov): fix some lint warning
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_mem.go
Owners: @luomingmeng

Apply suggestions from code review
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
Owners: @luomingmeng

feat(sriov): rebase and update go.mod
  go.mod
  go.sum
  pkg/util/machine/sriov_linux.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): update go.mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(sriov): update go.mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(cpu/dynamicpolicy): improve synchronization and test reliability
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

refactor(topology): centralize zone attribute names in consts package
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/consts/cnr.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(sysadvisor): restructure resource package handling and remove PinnedCPUSetInfo
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/metacache/metacache_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
  pkg/agent/sysadvisor/types/resource_package.go
Owners: @luomingmeng, @xu282934741, @cheney-lin, @sun-yuliang

fix: check reclaim enable before updating min reclaimed cores quota
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): restructure pool allocation logic for pinned and common pools
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

feat(resource-package): enhance CPU allocation with resource package support
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(qosaware): enhance numa binding pool name handling with resource package
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): simplify resource package name retrieval and improve cpu allocation logic
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/helper.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(cpu): add IRQ forbidden CPU selection by resource package attributes
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
Owners: @luomingmeng

feat(sysadvisor): Add poolName specified tmoConfig for memory offloading
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(sysadvisor): fix CRD config `PoolNameConfigs` no initialization, to avoid panics
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741, @waynepeking348

feat(sysadvisor): add unit test for pool name config
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

update go.mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(evictionmanager): add CNR taint health check registration
  pkg/agent/evictionmanager/manager.go
Owners: @luomingmeng

Fix the pool name obtained from the pod
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(resource-pool): support numa level resource pool
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
  pkg/util/cnr_topology.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix: reporting of resources and devices in CNR
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

feat(gpu): support multiple GPU device types and topology management
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/state/util_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

fix: reporting of resources and devices in CNR
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

feat(*): support pod annotation verification
  cmd/katalyst-agent/app/options/qrm/network_plugin.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/validator/nic_annotation_validator.go
  pkg/agent/qrm-plugins/network/staticpolicy/validator/nic_annotation_validator_test.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/qrm-plugins/util/validator/validator.go
  pkg/agent/qrm-plugins/util/validator/validator_test.go
  pkg/config/agent/qrm/network_plugin.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
