Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

test uts
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

feat: support allocate reserve cpu reversely
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @luomingmeng

feat(qrm): numa cpu eviction filter out consumer pod
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper_test.go
  pkg/util/native/pods.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

chore(irq): update irq config
  cmd/katalyst-agent/app/options/dynamic/irqtuning/coresadjust/cores_increase.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/irq_tuning_base.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/low_throughput.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/normal_throughput.go
  cmd/katalyst-agent/app/options/dynamic/irqtuning/throughputclassswitch/throughput_class_switch.go
  go.mod
  go.sum
  pkg/config/agent/dynamic/irqtuning/coresadjust/cores_increase.go
  pkg/config/agent/dynamic/irqtuning/irq_tuning_base.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/low_throughput.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/normal_throughput.go
  pkg/config/agent/dynamic/irqtuning/throughputclassswitch/throughput_class_switch.go
Owners: @xu282934741, @waynepeking348

feat(sysfs): add sysfs interface implementation
  pkg/agent/audit/sink/basesink.go
  pkg/consts/common.go
  pkg/util/eventbus/types.go
  pkg/util/sysfs/common/sys_linux.go
  pkg/util/sysfs/manager/cpu/cpu.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/node/node.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
  pkg/util/sysfs/manager/sys_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore(*): update go.mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix: correct metric type for checkpoint load failure
  pkg/metaserver/kcc/manager.go
Owners: @xu282934741, @waynepeking348

fix(cpu): add memory bandwidth hints error for cpu plugin
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
Owners: @luomingmeng

change test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

test again
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

test again
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

refine
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat: calculate critical watermark by low watermark multiply scale factor
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/memory_guard.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/config/agent/dynamic/adminqos/advisor/memory_guard.go
  pkg/util/machine/zone.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat: store headroom to metaCache
  pkg/agent/sysadvisor/metacache/checkpoint.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/agent/sysadvisor/plugin/qosaware/qos_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter_test.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/manager.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/cpu.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/generic_test.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/manager/resource/memory.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

feat(qrm): support hybrid numa allocation
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/hint_framework.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/hint_framework_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/dynamic/strategygroup/strategy_group.go
  pkg/consts/strategy_names.go
  pkg/util/machine/topology.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(*): enrich procfs and sysfs functions
  pkg/util/procfs/manager/manager.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/procfs_linux.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
Owners: @luomingmeng

delete unused code
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

fix(qrm-plugins): improve hint generation logic for best effort allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(memory/dynamicpolicy): correct error message in reclaimedCoresWithNUMABindingHintHandler
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

scorer,filter
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/numa_history.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/history/pressure_metric.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/rules_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat(resource-plugin): add associated device allocation support
  pkg/agent/orm/endpoint/resource_plugin_stub.go
Owners: @caohe, @WangZzzhe

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

wip - mbm: calc the incoming quotas of all domains
  go.mod
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort_test.go
  pkg/agent/qrm-plugins/mb/advisor/types.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/rules_test.go
Owners: @luomingmeng

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

feat(resource-plugin): add associated device allocation support
  pkg/agent/orm/endpoint/resource_plugin_stub.go
Owners: @caohe, @WangZzzhe

feat(*): add cache group topology
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/cnr.go
  pkg/util/cnr_topology.go
  pkg/util/general/string.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(*): adapt lock file
  cmd/katalyst-agent/app/agent.go
Owners: @xu282934741, @waynepeking348

debug(*): add debug info
  pkg/util/cnr_topology.go
Owners: @luomingmeng

fix(*): fix nil pointer for GetCacheGroupCPUs
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

fix(*): fix cache group zone resource
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(*): adapt Cache Group allocatable resource statistics
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
