Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

refactor(resource-package): update resource package structure to include config
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(resource-package): add attributes support for resource packages
  pkg/util/cnr.go
  pkg/util/resource-package/convert.go
Owners: @luomingmeng

hostwatermark: adding support
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/const.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_linux.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_unsupported.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/utils_linux.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/utils_linux_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

fix(cpu/dynamicpolicy): improve synchronization and test reliability
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

fix: cap adjuster
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/cap_adjuster_test.go
  pkg/agent/qrm-plugins/mb/advisor/adjuster/types.go
Owners: @luomingmeng

add more tests
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
Owners: @luomingmeng

add new test cases
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/consts/resctrl.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

add missing file
  pkg/agent/qrm-plugins/mb/monitor/domain_stat.go
Owners: @luomingmeng

refactor advisor
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

support same priority
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

refactor code
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
Owners: @luomingmeng

refactor
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

args: + --mb-extra-group-priorities=machine=9000 --mb-enhanced-advisor
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/priority/group_priority.go
  pkg/agent/qrm-plugins/mb/advisor/priority/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/priority/group_sort_test.go
  pkg/agent/qrm-plugins/mb/advisor/types.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/config/agent/qrm/mb_plugin.go
  pkg/consts/resctrl.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

minor refactor: MBBody renamed to GroupMBM in line with json tag etc
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
  pkg/agent/qrm-plugins/mb/monitor/group_stat.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/realtime_mb_provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @luomingmeng, @JulyWindK

feat(resource-pool): support numa level resource pool
  go.mod
  go.sum
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/headroom_reporter.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
  pkg/util/cnr_topology.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

fix: do not report CNR with missing information
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: implement watching of topology when it changes
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
  pkg/util/machine/device_stub.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

feat(gpu): implement lazy state initialization in static policy
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @luomingmeng

refactor: optimize logic for file watching and periodic resync
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
  pkg/util/machine/device_stub.go
  pkg/util/machine/device_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: breaking unit tests
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
  pkg/util/machine/device_stub.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

fix(sysadvisor): SPD tmo indicator overrides PodEnableReclaim config
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sriov): support sriov static and dynamic policy
  cmd/katalyst-agent/app/agent/qrm/sriov_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/sriov_plugin.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(sriov): refactor vf util
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_sriov.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
  pkg/util/machine/vf.go
  pkg/util/machine/vf_linux.go
Owners: @luomingmeng

test(sriov): add ut
  .github/workflows/ci.yml
  cmd/katalyst-agent/app/options/qrm/sriov_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/accompanyresource/interface.go
  pkg/agent/qrm-plugins/sriov/consts/consts.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/base_test.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/dynamic_test.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
  pkg/agent/qrm-plugins/sriov/sriov.go
  pkg/agent/qrm-plugins/sriov/state/checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state.go
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
  pkg/agent/qrm-plugins/sriov/state/state_mem.go
  pkg/agent/qrm-plugins/sriov/state/state_test.go
  pkg/agent/qrm-plugins/sriov/types/types.go
  pkg/agent/qrm-plugins/sriov/utils/util.go
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/machine/sriov.go
  pkg/util/machine/sriov_linux.go
  pkg/util/machine/sriov_linux_test.go
  pkg/util/machine/sriov_unsupported.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(sriov): indicates that there is no numa preference if vf is available on all sockets for non-numa binding pod
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): skip runtime sandbox without ready state to avoid adding deleted pod into vf state
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
Owners: @luomingmeng

fix(sriov): add more ut
  go.mod
  go.sum
  pkg/agent/qrm-plugins/sriov/handler/statereconciler_test.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): optimize logging
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

feat(sriov): update kubelet
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(sriov): using sorted cache state to update checkpoint
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
Owners: @luomingmeng

feat(sriov): fix ut of static GetTopologyHints
  go.sum
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fragmem: support MemOrderScores
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @JulyWindK

feat(sriov): fix ut
  pkg/agent/qrm-plugins/sriov/policy/base.go
  pkg/agent/qrm-plugins/sriov/policy/static_test.go
Owners: @luomingmeng

feat(memory): support SetMemTHP
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_unsupported.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/util/procfs/manager/manager.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/procfs_linux.go
Owners: @luomingmeng, @xu282934741, @waynepeking348, @JulyWindK

feat(qrm-plugin): support reclaimed cores vpa
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng

feat(cpu): add IRQ forbidden CPU selection by resource package attributes
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cnr.go
  pkg/util/cnr_test.go
Owners: @luomingmeng

feat: enable default cpu burst for shared cores pods
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): udpate go.mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat: implement rdma associated device allocation logic
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
Owners: @luomingmeng

fix(qosaware): remove overload check logic to avoid excessive eviction
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/estimation_canonical.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741
