Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

fix(borwein): reset indicator offset when updating failed
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(borwein): add borwein v3 model support
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/model/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/consts/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
  pkg/config/agent/sysadvisor/qosaware/model/borwein/borwein.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

feat(borwein): emit borwein v3 metrics
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/model.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/pod.go
Owners: @xu282934741, @luomingmeng

feat(borwein): add special time support for borwein v3
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

trigger ci
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

chore(*): add logs
  pkg/util/cgroup/manager/memory_linux.go
Owners: @luomingmeng

trigger ci
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(sysadvisor): add unit test for pool name config
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(sysadvisor): Polish the unit tests for the advisor component and improve test coverage
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(qrm-plugin, cgroup): register control knob handler for dying_memcg_reclaim
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(cgroup): Add logging for dying memcg reclamation amount
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(qrm-plugin, sysadvisor): Fix time interval calculation and path calculation issues in SysAdvisor
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(qrm, sysadvisor): Periodically (every 300s) clean up excessive (>2000) dying mem cgroups.
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(cgroup): run `make fmt-strict` to format code
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

feat: topology annotations for allocations
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/util/general/common.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

feat(cgroup): Add log for memory reclaiming
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

refactor advisor
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

add more tests
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
Owners: @luomingmeng

refactor(cpu): improve cpu usage calculation and quota adjustment
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_dynamic_quota.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(qosaware): add test cases for dynamic quota policy
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_dynamic_quota_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(borwein): add multiple models support for latency regression
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression_test.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/model.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang

fix(cpu): reject inplace update from non-snb to snb allocation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

fix(memory): reject inplace update from non-numa_binding to numa_binding
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

fix(sriov): using sorted cache state to update checkpoint
  pkg/agent/qrm-plugins/sriov/state/state_checkpoint.go
Owners: @luomingmeng

feat(borwein): add borwein v3 model support
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/model/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression.go
  pkg/agent/sysadvisor/plugin/inference/models/borwein/consts/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein_test.go
  pkg/config/agent/sysadvisor/qosaware/model/borwein/borwein.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

feat(borwein): emit borwein v3 metrics
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/model.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/pod.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/pod_test.go
Owners: @xu282934741, @luomingmeng

revisit AMD SNB local-is-victim-writes customization
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
Owners: @luomingmeng

minor: lower system group prio
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort_test.go
Owners: @luomingmeng

fix(sriov): indicates that there is no numa preference if vf is available on all sockets for non-numa binding pod
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

fix(sriov): skip runtime sandbox without ready state to avoid adding deleted pod into vf state
  pkg/agent/qrm-plugins/sriov/handler/statereconciler.go
Owners: @luomingmeng

refactor(resource-package): update resource package structure to include config
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/metaserver/resourcepackage/manager.go
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(sriov): optimize logging
  pkg/agent/qrm-plugins/sriov/policy/dynamic.go
  pkg/agent/qrm-plugins/sriov/policy/static.go
Owners: @luomingmeng

feat(resource-package): add attributes support for resource packages
  pkg/util/cnr.go
  pkg/util/resource-package/convert.go
Owners: @luomingmeng

fragmem: support MemOrderScores
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @JulyWindK

fragmem: adding SetMemTHP
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_unsupported.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

fragmem: adding SetMemTHP
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_unsupported.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

fragmem: support MemOrderScores
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
Owners: @JulyWindK

feat: implement watching of topology when it changes
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
  pkg/util/machine/device_stub.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

refactor(resource-package): change pinned cpuset representation from pool to boolean
  pkg/util/resource-package/convert.go
  pkg/util/resource-package/convert_test.go
Owners: @luomingmeng
