Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

fix malachite mbm value report issue
  pkg/consts/common.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/common.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
  pkg/util/metric/store_util.go
Owners: @xu282934741, @waynepeking348, @JulyWindK

chore(*): update unit test timeout
  Makefile
Owners: @xu282934741, @waynepeking348

test(*): supplementary unit tests for utils
  pkg/util/machine/cpu_test.go
  pkg/util/machine/network_linux_test.go
  pkg/util/procfs/manager/proc_test.go
Owners: @luomingmeng

chore(*): remove machine parallel
  .github/workflows/ci.yml
  pkg/util/machine/cpu_test.go
  pkg/util/machine/network_linux_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

test(*): supplementary network linux unit test
  pkg/util/machine/network_linux_test.go
Owners: @luomingmeng

refactor(memory): replace metaServer with metaReader for numa binding
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_numa_aware_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memset_binder.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(memory_offloading): improve offloading target size calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(resource): add disable reclaim for share pools and improve CPU provision logic
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat(cpu): add NUMA-exclusive check for dedicated binding pods
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
Owners: @luomingmeng

refactor(cpu): update NUMA binding checks and CPU set handling
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
Owners: @luomingmeng

refactor(qosaware): use configTranslator for ownerPoolName translation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu/assembler): restructure provision assembler for better maintainability
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(qrm): support NUMA not share for numa-binding containers
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/commonstate/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(cpu): optimize NUMA node filtering logic in hint calculation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

test(*): supplementary audit unit test
  pkg/agent/audit/manager_test.go
  pkg/agent/audit/sink/basesink_test.go
Owners: @xu282934741, @waynepeking348

feat(resctrl): don't create mon_groups if over limit
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/resctrl_hinter_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @luomingmeng

test(*): supplement misc unit test
  pkg/util/general/misc_test.go
Owners: @luomingmeng

feat(agent): eviction enhancement
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/podnotifier/notifier.go
  pkg/agent/evictionmanager/podnotifier/podnotifier.go
  pkg/config/agent/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  pkg/config/agent/eviction/eviciton_base.go
  pkg/consts/common.go
  pkg/consts/evictionmanager.go
  pkg/controller/kcc/kcct_integration_test.go
  pkg/util/kcct_test.go
  pkg/util/native/pods.go
Owners: @xu282934741, @waynepeking348, @yehlemias, @luomingmeng

add dynamic numa memory bandwidth capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
Owners: @luomingmeng

update allocatable numa memory bandwidth according to dynamic capacity
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

add allocatable rate map
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/consts/common.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

test(*): add unit test
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resource_test.go
Owners: @luomingmeng

feat(*): supports NUMA-granular be resource eviction
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
Owners: @luomingmeng

chore(*): correct variable naming spelling errors
  pkg/agent/evictionmanager/plugin/resource/resources.go
Owners: @luomingmeng

feat(cpu): add NUMA-exclusive check for dedicated binding pods
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
Owners: @luomingmeng

feat(qrm): support NUMA not share for numa-binding containers
  go.mod
  go.sum
  pkg/agent/qrm-plugins/commonstate/state.go
  pkg/agent/qrm-plugins/commonstate/util.go
  pkg/agent/qrm-plugins/commonstate/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(cpu/assembler): restructure provision assembler for better maintainability
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(cpu): update NUMA binding checks and CPU set handling
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
Owners: @luomingmeng

refactor(cpu): optimize NUMA node filtering logic in hint calculation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(pod_finder): return empty pod list instead of error when no pods match
  pkg/controller/spd/cnc_test.go
  pkg/controller/vpa/util/resource_test.go
  pkg/util/native/pod_finder.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

perf(controller): increase workload worker count and add metrics
  pkg/controller/spd/spd.go
Owners: @luomingmeng

fix(memory_offloading): improve offloading target size calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat: support cgv1 for quota control knob
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/util.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_dynamic_quota.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/quota_ctrl_knob.go
Owners: @luomingmeng, @xu282934741, @cheney-lin, @sun-yuliang

fix(qrm): fix health state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
Owners: @luomingmeng

feat(agent): eviction enhancement
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/resource/resources_test.go
  pkg/agent/evictionmanager/podnotifier/notifier.go
  pkg/agent/evictionmanager/podnotifier/notifier_test.go
  pkg/agent/evictionmanager/podnotifier/podnotifier.go
  pkg/agent/evictionmanager/podnotifier/podnotifier_test.go
  pkg/config/agent/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  pkg/config/agent/eviction/eviciton_base.go
  pkg/consts/common.go
  pkg/consts/evictionmanager.go
  pkg/controller/kcc/kcct_integration_test.go
  pkg/util/kcct_test.go
  pkg/util/native/pods.go
  pkg/util/native/pods_test.go
Owners: @xu282934741, @waynepeking348, @yehlemias, @luomingmeng

rootfs pressure eviction support system prjquota
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/config/agent/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/config/agent/metaserver/agent.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/metric_provisoner.go
  pkg/metaserver/agent/metric/provisioner/prjquota/provisioner.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

refactor(test): replace unix.Getpagesize() with hardcoded page size in tests
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(eviction): add eviction record manager to track pod disruptions
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/record/interface.go
  pkg/agent/evictionmanager/record/registry.go
  pkg/config/agent/eviction/eviciton_base.go
Owners: @yehlemias, @luomingmeng

feat(eviction): update ThresholdMet to accept GetThresholdMetRequest
  go.mod
  go.sum
  pkg/agent/evictionmanager/endpoint/endpoint.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
  pkg/agent/evictionmanager/plugin/memory/rss_overuse.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure.go
  pkg/agent/evictionmanager/plugin/memory/system_pressure_test.go
  pkg/agent/evictionmanager/plugin/network/network.go
  pkg/agent/evictionmanager/plugin/plugin.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_overuse.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
  pkg/agent/sysadvisor/plugin/poweraware/evictor/server/evictor_service.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_balancer.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat(qrm): consider request in dynamic packing
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
