Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

feat(dynamicpolicy): wire ramp-up reclaim planner admission
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/batch_pool_allocator.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/batch_pool_allocator_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/candidate.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/candidate_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/freshness.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/freshness_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/ramp_up_reclaim_admission.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/ramp_up_reclaim_admission_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/resource_package_domain_cache.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/resource_package_domain_cache_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/snapshot.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/stable_summary.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/planner/stable_summary_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_fake_numa_blocks_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_reclaim_reuse_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_source_pool_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/target_state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util/ramp_up_reclaim.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util/ramp_up_reclaim_test.go
Owners: @luomingmeng

docs(cpu): define reclaim identity stability design
  docs/superpowers/specs/2026-08-01-reclaim-generation-identity-stability-design.md
Owners: @pendoragon, @caohe

feat(eviction): change qos aware pod killer to rule based pod killer
  cmd/katalyst-agent/app/agent/context.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/podkiller/qos_killer.go
  pkg/agent/evictionmanager/podkiller/qos_killer_test.go
  pkg/agent/evictionmanager/podkiller/qos_rule.go
  pkg/agent/evictionmanager/podkiller/qos_rule_test.go
  pkg/agent/evictionmanager/podkiller/registry.go
  pkg/agent/evictionmanager/podkiller/registry_test.go
  pkg/agent/evictionmanager/podkiller/rule_based_killer.go
  pkg/agent/evictionmanager/podkiller/rule_based_killer_test.go
  pkg/agent/evictionmanager/podkiller/rule_registry.go
  pkg/agent/evictionmanager/podkiller/rule_registry_test.go
  pkg/metaserver/external/cgroupid/manager.go
  pkg/metaserver/external/cgroupid/manager_linux.go
  pkg/metaserver/external/cgroupid/manager_linux_test.go
  pkg/metaserver/external/cgroupid/manager_unsupported.go
  pkg/metaserver/metaserver.go
  pkg/metaserver/metaserver_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @caohe

fix(gpu/qrm): fix accompany resource allocation returning empty devices
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/accompanyresource/bind_test.go
Owners: @luomingmeng

feat(cgroup): support skipping path handlers
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/kata_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/path_test.go
  pkg/util/cgroup/common/types.go
Owners: @luomingmeng

feat(cgroup): support skipping path handlers
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/kata_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/path_test.go
  pkg/util/cgroup/common/types.go
Owners: @luomingmeng

gpu(qrm): add kubelet checkpoint fallback support
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/kubelet_state.go
  pkg/agent/qrm-plugins/gpu/baseplugin/kubelet_state_test.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/kubelet/checkpoint.go
  pkg/agent/qrm-plugins/gpu/kubelet/checkpoint_test.go
Owners: @luomingmeng

feat(gpu-qrm): add pod annotation override for virtual GPU timeslice
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

refactor(cpu qrm): allow dynamic updating of reserved cpus
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_package_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/resize_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
Owners: @luomingmeng

test(cpu): cover container cpu idle config plumbing
  cmd/katalyst-agent/app/options/qrm/cpu_plugin_test.go
  pkg/config/agent/qrm/qrm_base_test.go
  pkg/util/qos/container_cpu_idle_rate_test.go
Owners: @luomingmeng

feat(cpu): support container cpu idle config
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

test(cpu): cover container cpu idle reconciliation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuidle/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

feat(cpu): reconcile container cpu idle settings
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuidle/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
Owners: @luomingmeng

feat(cpu): add container cpu idle config plumbing
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/qos/container_cpu_idle_rate.go
Owners: @luomingmeng

feat(machine): add GetDeviceNUMANodes API and related tests
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

docs: use current reclaimed resource names
  docs/proposals/scheduling/20220913-katalyst-scheduler-design.md
  docs/tutorial/colocation.md
  examples/kcc-eviction-reclaimed-resource-config.yaml
  examples/scheduler-policy-binpack.yaml
  examples/scheduler-policy-custom.yaml
  examples/scheduler-policy-spread.yaml
Owners: @pendoragon, @caohe

docs: label event output block
  docs/tutorial/colocation.md
Owners: @pendoragon, @caohe

refactor(cpu): reuse api container cpu idle config type
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuidle/manager.go
  pkg/util/qos/container_cpu_idle_rate.go
  pkg/util/qos/container_cpu_idle_rate_test.go
Owners: @luomingmeng

feat(machine): add device topology clone and prevent external mutation
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

refactor(gpu baseplugin): extract allocation meta generation and use pod resource entries
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/kubelet_state.go
  pkg/agent/qrm-plugins/gpu/baseplugin/kubelet_state_test.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
Owners: @luomingmeng

feat: support sale mode eviction ranking
  cmd/base/options/generic.go
  cmd/base/options/generic_test.go
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/cpu/system_pressure.go
  pkg/agent/evictionmanager/plugin/cpu/system_pressure_test.go
  pkg/agent/evictionmanager/plugin/memory/helper.go
  pkg/agent/evictionmanager/plugin/memory/helper_test.go
  pkg/config/agent/dynamic/adminqos/eviction/eviction_base.go
  pkg/config/agent/eviction/eviciton_base.go
  pkg/config/generic/generic_base.go
  pkg/util/native/pod_sorter.go
  pkg/util/native/pod_sorter_test.go
Owners: @xu282934741, @waynepeking348, @yehlemias, @luomingmeng

feat: move fragmem and hostwatermark config to dynamic config
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/fragmem.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/fragmem_test.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/host_watermark.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/host_watermark_test.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/memory_plugin.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/memory_plugin_test.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/qrm_base_test.go
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  cmd/katalyst-agent/app/options/qrm/memory_plugin_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_linux.go
  pkg/agent/qrm-plugins/memory/handlers/hostwatermark/hostwatermark_linux_test.go
  pkg/config/agent/dynamic/adminqos/qrm/fragmem.go
  pkg/config/agent/dynamic/adminqos/qrm/fragmem_test.go
  pkg/config/agent/dynamic/adminqos/qrm/host_watermark.go
  pkg/config/agent/dynamic/adminqos/qrm/host_watermark_test.go
  pkg/config/agent/dynamic/adminqos/qrm/memory_plugin.go
  pkg/config/agent/dynamic/adminqos/qrm/memory_plugin_test.go
  pkg/config/agent/qrm/memory_plugin.go
  pkg/metaserver/kcc/manager_test.go
  pkg/util/procfs/manager/manager.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/procfs_linux.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(thpmode): remove extra validation from normalizeTHPMode
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
Owners: @luomingmeng

build(deps): pin katalyst-api fork for THP policy
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(thpmode): add static THP config policy
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/fragmem.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/qrm/fragmem_test.go
  go.sum
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
  pkg/config/agent/dynamic/adminqos/qrm/fragmem.go
  pkg/config/agent/dynamic/adminqos/qrm/fragmem_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(network): add allocatable NIC filtering
  cmd/katalyst-agent/app/options/qrm/network_plugin.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/filter/interface.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/filter/registry.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/manager.go
  pkg/agent/qrm-plugins/network/staticpolicy/nic/manager_test.go
  pkg/config/agent/qrm/network_plugin.go
Owners: @luomingmeng

feat: add memory set eviction configuration and options
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/eviction_base.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/memory_set_eviction.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/memory_set_eviction_test.go
  go.mod
  go.sum
  pkg/config/agent/dynamic/adminqos/eviction/eviction_base.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_set_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_set_eviction_test.go
Owners: @xu282934741, @waynepeking348

fix(network): isolate netclass data per container
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
Owners: @luomingmeng

test(network): stabilize netclass concurrency test
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
Owners: @luomingmeng

test(network): avoid global mock in netclass test
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
Owners: @luomingmeng

refactor(procfs): centralize vm.min_free_kbytes path
  pkg/util/procfs/manager/procfs_linux.go
Owners: @luomingmeng

fix(thpmode): preserve vm.min_free_kbytes when enabling madvise
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
Owners: @luomingmeng

fix(test): serialize fragmem THP path overrides
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
Owners: @luomingmeng

feat(gpu-qrm): add support for multiple weight env variables
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

feat(fragmem): support typed static THP config
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/fragmem/fragmem_thp_linux.go
  pkg/config/agent/dynamic/adminqos/qrm/fragmem.go
  pkg/config/agent/dynamic/adminqos/qrm/fragmem_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

chore(deps): update katalyst-api replace to 545ecc9
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

Handle small resource sets in balanced allocation scoring
  pkg/scheduler/plugins/noderesourcetopology/balanced_allocation.go
  pkg/scheduler/plugins/noderesourcetopology/balanced_allocation_test.go
  pkg/scheduler/plugins/noderesourcetopology/score_test.go
Owners: @caohe, @WangZzzhe
