Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

wip
  pkg/agent/qrm-plugins/mb/domain/types_test.go
Owners: @luomingmeng

feat(advisor): support indicator updated on region level
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression.go
  pkg/agent/sysadvisor/plugin/inference/modelresultfetcher/borwein/latencyregression/latency_regression_test.go
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/pod/model.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein_test.go
Owners: @xu282934741, @luomingmeng, @cheney-lin, @sun-yuliang

machine/topology: support page.size
  pkg/util/machine/topology.go
Owners: @luomingmeng

shouldRemove: update katalyst-api
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

numa_pressure: align page sizes for amd64/arm64
  pkg/agent/evictionmanager/plugin/memory/numa_pressure.go
  pkg/agent/evictionmanager/plugin/memory/numa_pressure_test.go
Owners: @luomingmeng

go.mod: update katalyst-api
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(cnrreporter): rename newCNR references to cnr for consistency
  pkg/agent/resourcemanager/reporter/cnr/cnrreporter.go
Owners: @luomingmeng

feat(evictionmanager): add metrics emission for CNR taints
  pkg/agent/evictionmanager/conditions.go
Owners: @luomingmeng

refactor(hintoptimizer): move metric preferred numa allocation to hint optimizer config
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/hintoptimizer/metricbased.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/config/agent/qrm/hintoptimizer/metricbased.go
Owners: @luomingmeng

fix reject rnb pod with sidecar
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng

fix(memory): copy missing annotations in sidecar allocation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
Owners: @luomingmeng

feat(cpu-eviction): add grace period support for pod eviction
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_suppression.go
Owners: @luomingmeng

feat(evictionmanager): add pod uid to eviction key and fetcher support
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/podkiller/podkiller.go
Owners: @luomingmeng

update
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

appli resource config for cgroup v1
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat: relax cgv1 for quota control knob
  pkg/agent/sysadvisor/metacache/util.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/quota_ctrl_knob.go
Owners: @xu282934741, @luomingmeng

open feature gate
  pkg/agent/sysadvisor/metacache/util.go
  pkg/agent/utilcomponent/featuregatenegotiation/finders/feature_cpu/quota_ctrl_knob.go
Owners: @xu282934741, @luomingmeng

fix(qrm-plugins): improve hint generation logic for best effort allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

fix(memory/dynamicpolicy): correct error message in reclaimedCoresWithNUMABindingHintHandler
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat: calculate critical watermark by high watermark of normal zone
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/config/agent/sysadvisor/qosaware/resource/memory/plugins/common.go
  pkg/config/agent/sysadvisor/qosaware/resource/memory/plugins/memory_guard.go
  pkg/util/machine/zone.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(qrm): numa cpu eviction filter out consumer pod
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper_test.go
  pkg/util/native/pods.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

add uts
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

format
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

refine
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

refine UTs
  .editorconfig
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

add tests and refine code
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

add tests and refine code
  Makefile
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

setup only once
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

refine
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

remove useless file
  .editorconfig
Owners: @xu282934741, @waynepeking348

remove
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

test ut only
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng

test again
  Makefile
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

test again
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

add UT
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

add ut
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

refine ut
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

add uts
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
