Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

feat: develop device affinity binding and filtering strategies
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/util.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
Owners: @luomingmeng

Update gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
Owners: @luomingmeng

refactor: remove unused GenerateDummyGPUTopology function
  pkg/util/machine/topology.go
Owners: @luomingmeng

refactor(gpu-strategy): make strategy fields private and add accessors
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
Owners: @luomingmeng

refactor(gpu): restructure device plugin and resource management
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/machine/device.go
Owners: @luomingmeng

chore: rebase katalyst-api
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(gpu): add canonical strategy implementation and refactor gpu memory strategy
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
Owners: @luomingmeng

fix: handling of nil device req
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
Owners: @luomingmeng

refactor(gpu/strategy): optimize device affinity allocation algorithm
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
Owners: @luomingmeng

fix(gpu): handle NUMA node edge cases and improve logging
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor: make allocation recursive to simplify logic
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
Owners: @luomingmeng

fix: maintain affinity subgroup sequence in larger affinity groups
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

chore: fix unit test, format and lint issues
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
Owners: @luomingmeng

refactor: simplify the grouping of device affinity
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor: simplify code by deleting redundant parameters and refactor function for allocating devices
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
Owners: @luomingmeng

chore: add unit tests
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/custom_device_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/util.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/device_stub.go
  pkg/util/machine/device_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

chore: add context to interface methods
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/custom_device_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

refactor(qrm): remove unused state file directory fields
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng

fix(gpu): skip zero requests in GetGPUCount and optimize logging
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/util/util.go
Owners: @luomingmeng

fix(gpumemory): handle unhealthy devices and correct capacity values
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

refactor(gpumemory): move nil device request check after qos validation
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

feat(gpumemory): add numa binding check and health status filter
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
Owners: @luomingmeng

fix(gpumemory): handle numa topology not ready case gracefully
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @luomingmeng

feat(state): enhance gpu state management using refactored migration logic
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/generator_stub.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(cnr): report gpu device topology to cnr
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/cnr.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

feat(gpu): add device name tracking and allocation filtering
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
Owners: @luomingmeng

fix: do not store state when getting topology hints
  go.sum
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/state.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

use share group including share-xx subgroups
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/group_sort_test.go
  pkg/agent/qrm-plugins/mb/advisor/quota/capacity_reserve.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
  pkg/agent/qrm-plugins/mb/advisor/sankey/flow.go
  pkg/agent/qrm-plugins/mb/monitor/group_stat.go
  pkg/agent/qrm-plugins/mb/monitor/group_stat_test.go
  pkg/agent/qrm-plugins/mb/plan/types.go
  pkg/agent/qrm-plugins/mb/plan/types_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
  pkg/consts/resctrl.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_mb_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/mb.go
Owners: @luomingmeng, @xu282934741, @waynepeking348, @JulyWindK

feat(cpu): enable cpu burst support
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/consts/consts.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

chore: add unit tests
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/util/cgroup/common/cgroup_linux.go
  pkg/util/qos/cpu_enhancement.go
Owners: @luomingmeng

feat: implement aqc kcc control for default cpu burst values
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/adminqos_base.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/fine_grained_resource.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: PR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
  pkg/util/qos/cpu_enhancement.go
Owners: @luomingmeng

feat: ensure dedicated cores with no cpu burst policy still set cpu burst to 0
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng

feat: add closed policy for cpu burst
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix: do not store state when getting topology hints
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/cnr.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(qrm): add key logs for qrm network plugin
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
Owners: @luomingmeng

fix: corner case bug
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
Owners: @luomingmeng

fix: change none policy to default policy
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng
