Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @gary-lgy, @WangZzzhe, @nightmeng

feat(qrm): fix reclaimed cores topology hints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @nightmeng

reduce move_pages granularity
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_linux_amd64.go
Owners: @luomingmeng, @nightmeng

wip - mbm + brief logging msg
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/mbm/control.go
Owners: @luomingmeng, @nightmeng

wip: mbm trouble shooting
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/mbm/control.go
Owners: @luomingmeng, @nightmeng

wip: mbm trouble shooting
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/mbm/control.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
Owners: @luomingmeng, @nightmeng

wip: package map explicit set
  cmd/katalyst-agent/app/agent.go
Owners: @xu282934741, @waynepeking348

mbm: throttle troubleshoot logging
  pkg/mbw/monitor/controller.go
Owners: @xu282934741, @waynepeking348

mbm: debug crash on load
  pkg/mbw/monitor/controller.go
  pkg/mbw/monitor/types.go
Owners: @xu282934741, @waynepeking348

mbm: debug logging
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/mbm/control.go
Owners: @luomingmeng, @nightmeng

mbm: debug logging new set.int
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/mbm/control.go
Owners: @luomingmeng, @nightmeng

feat: add test file
  pkg/controller/resource-recommend/controller/oom_recorder_controller.go
  pkg/controller/resource-recommend/controller/oom_recorder_controller_test.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller.go
  pkg/controller/resource-recommend/controller/resourcerecommend_controller_test.go
  pkg/controller/resource-recommend/processor/percentile/task/histogram_task.go
  pkg/util/resource-recommend/resource/k8s_resource.go
  pkg/util/resource-recommend/resource/k8s_resource_test.go
  pkg/util/resource-recommend/resource/k8s_resource_test_util.go
  pkg/util/resource-recommend/types/error/validate.go
  pkg/util/resource-recommend/types/recommendation/recommendation_test.go
  pkg/util/resource-recommend/types/recommendation/validate.go
  pkg/util/resource-recommend/types/recommendation/validate_test.go
Owners: @luomingmeng

mbm: wip - hard coded 3 instances specifically for validation test case - MUST remove after validation
  pkg/mbw/monitor/monitor.go
  pkg/mbw/monitor/types.go
Owners: @xu282934741, @waynepeking348

mbm: hard coded instances
  pkg/mbw/monitor/monitor.go
Owners: @xu282934741, @waynepeking348

mbm: wip - tmp disable entry.used check
  pkg/mbw/monitor/controller.go
Owners: @xu282934741, @waynepeking348

mbm: debug logging for not-to-throttle issue
  pkg/mbw/monitor/controller.go
Owners: @xu282934741, @waynepeking348

mbm - revised hard coded 3 dummy instances
  pkg/mbw/monitor/monitor.go
Owners: @xu282934741, @waynepeking348

Revert "mbm - revised hard coded 3 dummy instances"
  pkg/mbw/monitor/monitor.go
Owners: @xu282934741, @waynepeking348

mbm: + 100 division
  pkg/mbw/monitor/controller.go
  pkg/mbw/monitor/monitor.go
Owners: @xu282934741, @waynepeking348

cpu regulator support config parameter
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/provision/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/regulator/regulator.go
  pkg/agent/sysadvisor/types/consts.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/provision/policy_base.go
Owners: @nightmeng

feat: add npd controller
  cmd/katalyst-controller/app/controller/npd.go
  cmd/katalyst-controller/app/enablecontrollers.go
  cmd/katalyst-controller/app/options/controller.go
  cmd/katalyst-controller/app/options/npd.go
  pkg/client/control/npd.go
  pkg/config/controller/controller_base.go
  pkg/config/controller/npd.go
  pkg/controller/npd/handler.go
  pkg/controller/npd/indicator-plugin/manager.go
  pkg/controller/npd/indicator-plugin/plugin.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_indicator.go
  pkg/controller/npd/npd_test.go
  pkg/util/npd.go
  pkg/util/npd_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

use metrics instead of indicator in NPD controller
  cmd/katalyst-controller/app/options/npd.go
  pkg/config/controller/npd.go
  pkg/controller/npd/handler.go
  pkg/controller/npd/metrics-plugin/manager.go
  pkg/controller/npd/metrics-plugin/plugin.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_metric.go
  pkg/controller/npd/npd_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

send npd update message by workqueue
  pkg/controller/npd/handler.go
  pkg/controller/npd/indicator-plugin/manager.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_indicator.go
Owners: @xu282934741, @waynepeking348

feat: add MaxNodeUtilizationPercent in ReclaimedResourceConfiguration
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/memory_provisioner.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/reclaimedresource_base_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @nightmeng

modifications made according to code review
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/manager.go
Owners: @luomingmeng, @nightmeng

feat(qrm): fix reclaimed cores topology hints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @nightmeng

feat: add npd controller
  cmd/katalyst-controller/app/controller/npd.go
  cmd/katalyst-controller/app/enablecontrollers.go
  cmd/katalyst-controller/app/options/controller.go
  cmd/katalyst-controller/app/options/npd.go
  pkg/client/control/npd.go
  pkg/config/controller/controller_base.go
  pkg/config/controller/npd.go
  pkg/controller/npd/handler.go
  pkg/controller/npd/indicator-plugin/manager.go
  pkg/controller/npd/indicator-plugin/plugin.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_indicator.go
  pkg/controller/npd/npd_test.go
  pkg/util/npd.go
  pkg/util/npd_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

send npd update message by workqueue
  pkg/controller/npd/handler.go
  pkg/controller/npd/indicator-plugin/manager.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_indicator.go
Owners: @xu282934741, @waynepeking348

use metrics instead of indicator in NPD controller
  cmd/katalyst-controller/app/options/npd.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_linux_test.go
  pkg/config/controller/npd.go
  pkg/controller/npd/handler.go
  pkg/controller/npd/metrics-plugin/manager.go
  pkg/controller/npd/metrics-plugin/plugin.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_metric.go
  pkg/controller/npd/npd_test.go
Owners: @luomingmeng, @caohe, @nightmeng, @xu282934741, @waynepeking348

feat(qrm): fix cpu admit failed and optimize get cpu requested cores
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/vpa_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng, @nightmeng

feat(qrm): return errors instead of empty array in hints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/vpa_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @nightmeng

add log cache evict
  cmd/katalyst-agent/app/options/qrm/memory_plugin.go
  pkg/agent/qrm-plugins/memory/consts/consts.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_linux.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_linux_test.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/cache_evictor_unsupported.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/interface.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/manager.go
  pkg/agent/qrm-plugins/memory/handlers/logcache/manager_test.go
  pkg/config/agent/qrm/memory_plugin.go
Owners: @nightmeng, @luomingmeng

feat(qrm): return errors instead of empty array in hints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/vpa_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @nightmeng

use metrics instead of indicator in NPD controller
  cmd/katalyst-controller/app/options/npd.go
  pkg/config/controller/npd.go
  pkg/controller/npd/handler.go
  pkg/controller/npd/metrics-plugin/manager.go
  pkg/controller/npd/metrics-plugin/plugin.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_metric.go
  pkg/controller/npd/npd_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

feat: add npd controller
  cmd/katalyst-controller/app/controller/npd.go
  cmd/katalyst-controller/app/enablecontrollers.go
  cmd/katalyst-controller/app/options/controller.go
  cmd/katalyst-controller/app/options/npd.go
  pkg/client/control/npd.go
  pkg/config/controller/controller_base.go
  pkg/config/controller/npd.go
  pkg/controller/npd/handler.go
  pkg/controller/npd/indicator-plugin/manager.go
  pkg/controller/npd/indicator-plugin/plugin.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_indicator.go
  pkg/controller/npd/npd_test.go
  pkg/util/npd.go
  pkg/util/npd_test.go
Owners: @luomingmeng, @caohe, @xu282934741, @waynepeking348

feat(qrm): fix cpu admit failed and optimize get cpu requested cores
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/vpa_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/vpa_test.go
Owners: @luomingmeng, @nightmeng

send npd update message by workqueue
  pkg/controller/npd/handler.go
  pkg/controller/npd/indicator-plugin/manager.go
  pkg/controller/npd/npd.go
  pkg/controller/npd/npd_indicator.go
Owners: @xu282934741, @waynepeking348

feat(qrm): fix reclaimed cores topology hints
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @nightmeng

fix(*): adapt to kubelet configz endpoint changes
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime_test.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/reporter/reporter_test.go
  pkg/metaserver/agent/agent_test.go
  pkg/metaserver/agent/kubeletconfig/fake_kubeletconfig.go
  pkg/metaserver/agent/kubeletconfig/kubeletconfig.go
  pkg/util/kubelet/config/kubeletconfig.go
  pkg/util/kubelet/config/kubeletconfig_test.go
  pkg/util/native/kubelet.go
  pkg/util/native/kubelet_test.go
Owners: @luomingmeng, @nightmeng, @xu282934741, @waynepeking348, @caohe

feat(tmo): block config support kcc and optimize target size calc
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
Owners: @xu282934741, @waynepeking348, @nightmeng

topology adapter support configure custom kubelet resource plugin state file
  cmd/katalyst-agent/app/options/reporter/kubelet_plugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/kubeletplugin.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/reporter/kubelet_plugin.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @gary-lgy @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/eviction @gary-lgy @luomingmeng
/cmd/katalyst-agent/app/options/qrm @nightmeng @luomingmeng
/cmd/katalyst-agent/app/options/reporter @luomingmeng
/cmd/katalyst-agent/app/options/sysadvisor @nightmeng

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @gary-lgy @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng @nightmeng
/pkg/config/agent/eviction/ @gary-lgy @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/ @nightmeng

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng @nightmeng
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @nightmeng
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng @nightmeng
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @nightmeng
/pkg/agent/sysadvisor/plugin/inference @nightmeng
/pkg/agent/sysadvisor/plugin/metric-emitter @gary-lgy @luomingmeng
/pkg/agent/utilcomponent/ @luomingmeng @nightmeng

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @nightmeng
/pkg/util/cgroup/ @nightmeng
/pkg/util/credential/ @gary-lgy @luomingmeng
/pkg/util/eviction/ @gary-lgy @luomingmeng
/pkg/util/external/ @nightmeng
/pkg/util/metric/ @nightmeng
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @gary-lgy @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng @gary-lgy
