Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

fix: correct 17 klog format-string bugs across the codebase
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/orm/manager_nri.go
  pkg/agent/orm/resourceprovider.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime.go
  pkg/controller/monitor/cnr.go
  pkg/controller/overcommit/node/node.go
  pkg/controller/vpa/vpa.go
  pkg/custom-metric/collector/prometheus/collector_promethes.go
  pkg/scheduler/eventhandlers/handler.go
  pkg/scheduler/plugins/noderesourcetopology/filter_native.go
  pkg/scheduler/plugins/noderesourcetopology/reserve.go
  pkg/util/general/healthz.go
  pkg/webhook/mutating/pod/pod.go
  pkg/webhook/mutating/pod/resource_mutator.go
Owners: @luomingmeng, @caohe, @WangZzzhe, @xu282934741, @JulyWindK, @waynepeking348

feat: setting of env variables for weight of gpu memory and milligpu
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpucompute/gpu_compute.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

refactor allocation logic to use strategy and simplify topology hints
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpucompute/gpu_compute.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpucompute/gpu_compute_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_compute/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_compute/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_compute/gpu_compute.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_compute/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_compute/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort_test.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

feat: support scheduler gpu allocation
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/scheduler.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/sort_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor(gpu): improve device allocation strategy with better error handling and logging
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
Owners: @luomingmeng

refactor(gpu): rename fractional GPU to virtual GPU and optimize allocation logic
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/sort.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/virtual_gpu/sort_test.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

memory_offloading: adding reclaiming time metrics
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

feat(tmo): update go.mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

tmo: split mem.reclaim
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

tmo: support reservedInactiveFile
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/config/agent/dynamic/tmo/tmo_base.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741, @waynepeking348

feat(eviction): add dedicated CpuUsageRatioThreshold for NUMA CPU pressure eviction
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_usage_numa_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction_test.go
  pkg/config/agent/sysadvisor/qosaware/model/borwein/borwein.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat: support to modify log level
  cmd/base/context.go
  cmd/base/context_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_pod.go
  pkg/metaserver/spd/fetcher.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng, @JulyWindK

feat(agent/metaserver): add cached resource pool validator to reduce NPD fetches
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_pool_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_resource_pool_test.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/cached_provider.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/cached_provider_test.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/mask_test.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/validator.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/validator_test.go
  pkg/metaserver/resourcepool/manager.go
  pkg/metaserver/resourcepool/manager_test.go
  pkg/util/resource-pool/convert.go
  pkg/util/resource-pool/convert_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat: remove EnableReclaimNUMABinding switch
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/config/agent/qrm/qrm_base.go
Owners: @luomingmeng

refactor(qrm-plugins): rewrite resource pool mask validation for multi-NUMA cases
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_resource_pool_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_resource_pool.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/mask.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/mask_test.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/validator.go
  pkg/agent/qrm-plugins/util/resourcepoolvalidator/validator_test.go
Owners: @luomingmeng

feat: new memory headroom policy
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_request_aware.go
  pkg/agent/sysadvisor/types/memory.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

metaserver: auto-register missing malachite cgroup paths and expire stale ones
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/util/metric/store.go
Owners: @JulyWindK

feat: add new sort rule
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/system_load_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/system_load_eviction.go
Owners: @xu282934741, @waynepeking348

qrm: skip setting sockmem if Pod is deleting
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
Owners: @luomingmeng

refactor(pod): replace custom cgroup watcher with shared subdir watcher
  pkg/metaserver/agent/pod/pod.go
  pkg/util/general/file.go
  pkg/util/general/file_test.go
Owners: @luomingmeng

chore: watch events of pod cgroup paths CREATE and REMOVE
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
Owners: @luomingmeng

metrics(sys-advisor): power advisor - add node_power_advisor_health metric with 30s periodic health reporting
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor_test.go
  pkg/agent/sysadvisor/plugin/poweraware/health_monitor.go
  pkg/agent/sysadvisor/plugin/poweraware/metric/emit_metric.go
  pkg/agent/sysadvisor/plugin/poweraware/metric/metric_tag.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware_test.go
Owners: @xu282934741

fix: enable rama when cgroup=v1 for empty numa region
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provision/policy_dynamic_quota.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_empty_numa.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

feat(spd): support cluster-level default SPD fallback
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/consts/common.go
  pkg/controller/spd/cnc.go
  pkg/controller/spd/cnc_test.go
  pkg/controller/spd/spd.go
  pkg/metaserver/spd/cache.go
  pkg/metaserver/spd/cache_test.go
  pkg/metaserver/spd/fetcher.go
  pkg/metaserver/spd/fetcher_test.go
  pkg/metaserver/spd/manager_test.go
  pkg/util/spd.go
  pkg/util/spd_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(sys): power-aware advisor uses kcc delivered pmc
  cmd/katalyst-agent/app/options/dynamic/power/power_management.go
  cmd/katalyst-agent/app/options/dynamic/power/power_management_test.go
  cmd/katalyst-agent/app/options/sysadvisor/poweraware/power_aware_plugin.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/strategy/dvfs_tracker.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/strategy/dvfs_tracker_test.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/strategy/evict_first.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/action/strategy/evict_first_test.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor.go
  pkg/agent/sysadvisor/plugin/poweraware/advisor/advisor_test.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/dynamic_capper.go
  pkg/agent/sysadvisor/plugin/poweraware/capper/dynamic_capper_test.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware.go
  pkg/agent/sysadvisor/plugin/poweraware/power_aware_test.go
  pkg/config/agent/dynamic/crd/dynamic_crd.go
  pkg/config/agent/dynamic/dynamic_base.go
  pkg/config/agent/dynamic/power/power_management.go
  pkg/config/agent/dynamic/power/power_management_test.go
  pkg/config/agent/sysadvisor/poweraware/power_aware_plugin.go
Owners: @xu282934741, @waynepeking348

cache the l3cache to numa mapping, reduce running cost
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @JulyWindK

add CpuUsageRatioThreshold field for NUMA CPU pressure eviction config and update cpu indicator target by sgc's threshold scope instead of berwein
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction_test.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_usage_numa_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/modelctrl/borwein/borwein.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction_test.go
  pkg/metaserver/kcc/manager.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

feat(sysadvisor): fix-mbw-overhead-calculation
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_calculate.go
Owners: @JulyWindK

dynamic power option values as args
  cmd/katalyst-agent/app/options/dynamic/dynamic_base.go
  cmd/katalyst-agent/app/options/dynamic/dynamic_base_test.go
  cmd/katalyst-agent/app/options/dynamic/power/power_management.go
  pkg/config/agent/dynamic/power/power_management.go
  pkg/config/agent/dynamic/power/power_management_test.go
Owners: @xu282934741, @waynepeking348

wip: api provate replace
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

docs(readme): simplify wording in feature list
  README.md
Owners: @xu282934741, @waynepeking348

feat(gpu-plugin): set default affinity to false
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

feat(eviction): add pid overuse eviction plugin
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/cpu_pressure_eviction.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/plugin/cpu/pid_overuse.go
  pkg/agent/evictionmanager/plugin/cpu/pid_overuse_test.go
  pkg/config/agent/dynamic/adminqos/eviction/cpu_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/cpu_pressure_eviction_test.go
  pkg/consts/metric.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/types/consts.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

feat(eviction): add pod overuse candidate pods selector
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/cpu_pressure_eviction.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/plugin/cpu/pid_overuse.go
  pkg/agent/evictionmanager/plugin/cpu/pid_overuse_test.go
  pkg/config/agent/dynamic/adminqos/eviction/cpu_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/cpu_pressure_eviction_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(eviction): add network bandwidth eviction plugin
  cmd/base/options/generic.go
  cmd/base/options/generic_test.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/cpu_pressure_eviction.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/network_eviction.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/plugin/network/bandwidth_helpers.go
  pkg/agent/evictionmanager/plugin/network/network.go
  pkg/agent/evictionmanager/plugin/network/network_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/agent/qrm-plugins/network/staticpolicy/util_test.go
  pkg/config/agent/dynamic/adminqos/eviction/network_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/network_eviction_test.go
  pkg/config/generic/generic_base.go
  pkg/metaserver/agent/metric/fake_metric.go
  pkg/metaserver/agent/metric/metric_impl.go
  pkg/metaserver/agent/metric/metric_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_system_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/types/system.go
  pkg/metaserver/agent/metric/types/metric.go
  pkg/util/machine/network.go
  pkg/util/machine/network_identifier_test.go
  pkg/util/metric/store.go
  pkg/util/metric/store_test.go
  pkg/util/native/pod_sorter.go
  pkg/util/native/pods.go
  pkg/util/native/pods_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

realtime_mb toleration cutoff time from 3s to 4s
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
Owners: @luomingmeng

feat(eviction): optimize nic state sync
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/network_eviction.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/plugin/network/bandwidth_helpers.go
  pkg/agent/evictionmanager/plugin/network/network.go
  pkg/agent/evictionmanager/plugin/network/network_test.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

decreasing only ccd cap
  pkg/agent/qrm-plugins/mb/advisor/advisor_metrics.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state.go
  pkg/agent/qrm-plugins/mb/advisor/uniq_priority_advisor.go
Owners: @luomingmeng

feat(util): add reusable cgroup and procfs helpers
  pkg/util/cgroup/client/cache.go
  pkg/util/cgroup/client/cache_test.go
  pkg/util/cgroup/client/client.go
  pkg/util/cgroup/client/client_test.go
  pkg/util/cgroup/common/errors.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/fs/fs.go
  pkg/util/fs/fs_test.go
  pkg/util/procfs/common/proc_reader.go
  pkg/util/procfs/common/proc_reader_linux.go
  pkg/util/procfs/common/proc_reader_other.go
  pkg/util/procfs/common/proc_reader_test.go
Owners: @luomingmeng
