Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

refactor(gpu): improve device topology handling and reporting
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

feat(qrm, sysadvisor): Periodically (every 300s) clean up excessive (>2000) dying mem cgroups.
  pkg/agent/qrm-plugins/memory/dynamicpolicy/memoryadvisor/types.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/util/consts.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(cgroup): Add logging for dying memcg reclamation amount
  pkg/util/cgroup/manager/cgroup.go
Owners: @luomingmeng

fix(sys-advisor, qrm): encapsulate `GetCgroupNrDyingDescendants` in common `manager.go` interface, and using `MemoryOffloadingWithAbsolutePath` instead of self-written `invokeMemoryReclaim`
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/fake_manager.go
  pkg/util/cgroup/manager/manager.go
  pkg/util/cgroup/manager/v1/fs_linux.go
  pkg/util/cgroup/manager/v2/fs_linux.go
Owners: @luomingmeng

fix(sys-advisor, qrm-plugin): add unit tests, and remove duplicate path calc
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler_dying_memcg_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading_test.go
  pkg/util/cgroup/manager/cgroup_test.go
  pkg/util/cgroup/manager/v2/fs_linux_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

feat(sys-advisor): add a control switch for enabling or disabling dying memcg reclaim
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/qos_aware_plugin.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_offloading_test.go
  pkg/config/agent/sysadvisor/qosaware/qos_aware_plugin.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

test(evictionmanager): add test for Run method with health checks
  pkg/agent/evictionmanager/manager_test.go
Owners: @luomingmeng

fix(ut): data race
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
Owners: @luomingmeng

feat(gpu): start device topology registry in base plugin
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

feat: enable default cpu burst for shared cores pods
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/dynamic/adminqos/finegrainedresource/cpu_burst.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: enable default cpu burst through core configuration
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/config/agent/qrm/cpu_plugin.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(device): handle nil return from PickLatestDeviceTopology
  pkg/util/machine/device.go
Owners: @luomingmeng

feat: support align by socket, full pcpus pairing and distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/calculator/cpu_assignment.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: support numa number and numa ids
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/config/agent/dynamic/adminqos/eviction/memory_pressure_eviction.go
  pkg/config/agent/dynamic/adminqos/eviction/util.go
  pkg/config/agent/qrm/cpu_plugin.go
  pkg/util/qos/cpu_enhancement.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: MR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: numa number needs to be more than 1 to cross numa
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/util/qos/cpu_enhancement_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix(gpu/staticpolicy): handle ensureState failures gracefully
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy_test.go
  pkg/util/machine/device.go
Owners: @luomingmeng

fix: implement interface methods in the unsupportedManagers of cgv1 and cgv2
  pkg/util/cgroup/manager/v1/fs_unsupported.go
  pkg/util/cgroup/manager/v2/fs_unsupported.go
Owners: @luomingmeng

add new test cases
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/consts/resctrl.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

refactor
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
Owners: @luomingmeng

refactor code
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
Owners: @luomingmeng

add missing file
  pkg/agent/qrm-plugins/mb/monitor/domain_stat.go
Owners: @luomingmeng

refactor advisor
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

support same priority
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/resource/types.go
Owners: @luomingmeng

add more tests
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
Owners: @luomingmeng

feat: topology annotations for allocations
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/util/util.go
  pkg/agent/qrm-plugins/cpu/util/util_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/util.go
  pkg/agent/qrm-plugins/network/staticpolicy/util_test.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/util/general/common.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

args --mb-extra-group-priorities=machine=9000 --mb-group-priority-unique=false; simplify test cases
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/advisor.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_decorator.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_decorator_test.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_helper_test.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/distributor/types.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/domain_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/priority/group_priority.go
  pkg/agent/qrm-plugins/mb/advisor/priority/group_sort.go
  pkg/agent/qrm-plugins/mb/advisor/priority/group_sort_test.go
  pkg/agent/qrm-plugins/mb/monitor/domain_stat.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/config/agent/qrm/mb_plugin.go
  pkg/consts/resctrl.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(*): add flags to support disabling some modules
  cmd/katalyst-agent/app/options/reporter/reporter_base.go
  cmd/katalyst-controller/app/controller/lifecycle.go
  cmd/katalyst-controller/app/options/lifecycle.go
  pkg/agent/resourcemanager/reporter/manager.go
  pkg/config/agent/reporter/reporter_base.go
  pkg/config/controller/lifecycle.go
Owners: @yehlemias, @luomingmeng, @caohe

feat(*): add switch to support disabling some reporters
  cmd/katalyst-agent/app/options/reporter/reporter_base.go
  pkg/agent/resourcemanager/reporter/manager.go
  pkg/config/agent/reporter/reporter_base.go
Owners: @yehlemias, @luomingmeng

feat(*): add switch to support disabling cnr lifecycle
  cmd/katalyst-controller/app/controller/lifecycle.go
  cmd/katalyst-controller/app/options/lifecycle.go
  pkg/config/controller/lifecycle.go
Owners: @luomingmeng, @caohe

feat: support align by socket, full pcpus pairing and distribute evenly across numa
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: support numa number and numa ids
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: MR comments
  cmd/katalyst-agent/app/options/qrm/cpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

fix: numa number needs to be more than 1 to cross numa
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

feat: support numa number and numa ids
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

fix(memory): exclude static huge pages from total memory calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/policy/policy_canonical_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(memory): use normal memory capacity excluding static hugepages
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime.go
  pkg/agent/sysadvisor/plugin/overcommitmentaware/realtime/realtime_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/provisioner/memory_provisioner.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng

feat(memory): add static hugepages tracking to memory topology
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat(memory): add memory topology discovery with hugepages support
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat(memory): add memory topology support for accurate capacity calculation
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng
