Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

feat(cpu): use pod aggregated request for NUMA binding allocation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng

feat(cnr): report gpu device topology to cnr
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base_test.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter.go
  pkg/agent/qrm-plugins/gpu/baseplugin/reporter/reporter_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/util/cnr.go
  pkg/util/machine/device.go
  pkg/util/machine/device_test.go
Owners: @luomingmeng

feat(qrm): support move page for aarch64
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_linux.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_linux_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/util_unsupported.go
Owners: @luomingmeng

fix(cpu): correct numa binding flag usage and simplify block assembly
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): split pod entry assembly for numa binding and normal pods
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): support dedicated numa-exclusive and non-exclusive regions
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_advisor.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/headroomassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/headroompolicy/policy_numa_dedicated_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_canonical_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/provisionpolicy/policy_rama_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_share.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/helper.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

refactor(cpu): remove ReclaimedCoresSize and adjust cpu requirement calculation
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/region/region_dedicated.go
  pkg/agent/sysadvisor/types/types.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(resource/cpu): correct reclaim pool size calculation and add debug logs
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/types/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

refactor(qosaware): improve reclaim pool handling logic in cpu server
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(cpu): enhance pool entry handling for dedicated pods
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu/assembler): correct share pool size calculation in reclaim logic
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(cpu): update test cases for reclaim pool sizing and overlap info
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix test
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/helper.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(qosaware): update cpu server test cases with new pool info
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

fix(cpu-advisor): skip validation for non-numa_exclusive allocations
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/validator/validator_cpu_advisor.go
Owners: @luomingmeng

refactor(resource/cpu): improve pool size calculation and naming clarity
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

feat(metrics): add flag to disable cgroup v2 task load metrics
  cmd/katalyst-agent/app/options/global/base.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/provisioner/malachite/provisioner.go
Owners: @xu282934741, @waynepeking348, @JulyWindK

feat(agent): eviction enhancement
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  cmd/katalyst-agent/app/options/eviction/eviction_base.go
  go.mod
  go.sum
  pkg/agent/evictionmanager/eviction_resp_collector.go
  pkg/agent/evictionmanager/manager.go
  pkg/agent/evictionmanager/manager_test.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_numa_resources.go
  pkg/agent/evictionmanager/plugin/resource/reclaimed_resources.go
  pkg/agent/evictionmanager/plugin/resource/resources.go
  pkg/agent/evictionmanager/plugin/resource/resources_test.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources_test.go
  pkg/agent/evictionmanager/plugin/resource/zone_resources_threshold_test.go
  pkg/agent/evictionmanager/podnotifier/notifier.go
  pkg/agent/evictionmanager/podnotifier/notifier_test.go
  pkg/agent/evictionmanager/podnotifier/podnotifier.go
  pkg/agent/evictionmanager/podnotifier/podnotifier_test.go
  pkg/config/agent/dynamic/adminqos/eviction/reclaimed_resources_eviction.go
  pkg/config/agent/eviction/eviciton_base.go
  pkg/consts/common.go
  pkg/consts/evictionmanager.go
  pkg/controller/kcc/kcct_integration_test.go
  pkg/util/general/slice.go
  pkg/util/general/slice_test.go
  pkg/util/kcct_test.go
  pkg/util/native/pods.go
  pkg/util/native/pods_test.go
Owners: @xu282934741, @waynepeking348, @yehlemias, @luomingmeng

feat(agent): eviction enhancement
  pkg/agent/evictionmanager/plugin/resource/resources.go
Owners: @luomingmeng

refactor(topology): skip add zone node which is not a child of socket or numa zone node
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
Owners: @luomingmeng

feat(gpu): add static policy implementation for GPU resource management
  cmd/katalyst-agent/app/agent/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/enableagents.go
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/state/state_mem.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/util/machine/gpu.go
  pkg/util/native/kubelet.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat(gpu): enhance GPU memory allocation with NUMA awareness
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/device.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
  pkg/agent/qrm-plugins/util/util_test.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(qrm-plugins): embed UnimplementedResourcePluginServer in policy structs
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/io/staticpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
Owners: @luomingmeng

feat(resource-plugin): add associated device allocation support
  pkg/agent/orm/endpoint/resource_plugin_stub.go
Owners: @caohe, @WangZzzhe

refactor(cpu): remove unused preferredHintIndexes variable
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
Owners: @luomingmeng

feat(gpu): add associated device topology hints support
  go.mod
  go.sum
  pkg/agent/orm/endpoint/resource_plugin_stub.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @xu282934741, @waynepeking348, @caohe, @WangZzzhe, @luomingmeng

fix typo and add logs
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/gpu.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat: introduce rdma state and allow states to share within gpu sub-plugins
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/util.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
  pkg/util/machine/rdma.go
Owners: @luomingmeng

feat: refactor code into resource plugins and custom device plugins
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

feat(gpu): optimize GPU allocation by preferring NUMA nodes with most allocated memory
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

feat: refactor state to only be in one file
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/state/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/gpumemory/util.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/resourceplugin/rdma/util.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/util/machine/device.go
Owners: @luomingmeng

chore: add unit tests
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/test_util.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/registry.go
  pkg/util/machine/gpu.go
  pkg/util/machine/topology.go
Owners: @luomingmeng

refactor(gpu): remove redundant non-numa-affinity gpu allocation logic
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
Owners: @luomingmeng

feat: implement rdma custom device plugin and implement logic for accompany resource allocation
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/consts/consts.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/registry/registry.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/util/machine/device.go
  pkg/util/machine/gpu.go
  pkg/util/machine/rdma.go
Owners: @luomingmeng, @xu282934741, @waynepeking348

feat: implement binding strategy to prioritise device affinity during allocation
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/bind_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/util/machine/device.go
  pkg/util/machine/device_affinity.go
Owners: @luomingmeng

refactor(gpu-strategy): reorganize gpu allocation strategy components
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/gpu_memory.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
Owners: @luomingmeng

feat(gpu): implement strategy-based GPU allocation framework
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/allocation/generic.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/bind/default.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/filter/gpu_memory.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/helper.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/sort/gpu_memory.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/types.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/agent/qrm-plugins/util/util.go
Owners: @luomingmeng

feat: implement allocation of accompany resource first before device
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/test_util.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem_test.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/util/util.go
  pkg/util/machine/device.go
Owners: @luomingmeng

feat(device): add device affinity group support
  pkg/util/machine/device.go
Owners: @luomingmeng

refactor(gpu): restructure GPU strategy and state management
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  cmd/katalyst-agent/app/options/qrm/gpustrategy/allocate.go
  cmd/katalyst-agent/app/options/qrm/gpustrategy/strategy_base.go
  pkg/agent/qrm-plugins/gpu/baseplugin/base.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/rdma/rdma.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/gpumemory/gpu_mem.go
  pkg/agent/qrm-plugins/gpu/state/interface.go
  pkg/agent/qrm-plugins/gpu/state/state.go
  pkg/agent/qrm-plugins/gpu/state/state_checkpoint.go
  pkg/agent/qrm-plugins/gpu/state/state_mem.go
  pkg/agent/qrm-plugins/gpu/state/util.go
  pkg/agent/qrm-plugins/gpu/staticpolicy/policy.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/defaults.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/manager/manager_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/registry/registry.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/registry/registry_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/allocation/generic.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/canonical/canonical.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/deviceaffinity/device_affinity.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/filter.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/gpu_memory/sort.go
  pkg/config/agent/qrm/gpu_plugin.go
  pkg/config/agent/qrm/gpustrategy/allocate.go
  pkg/config/agent/qrm/gpustrategy/strategy_base.go
  pkg/util/machine/device.go
Owners: @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
