Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

add test lock
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
Owners: @luomingmeng

fix(*): fix unit-test
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/tuner/irq_tuner_stub.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/cgroup_linux.go
  pkg/util/machine/cpu_test.go
  pkg/util/machine/network.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/process/system.go
  pkg/util/procfs/manager/manager_linux.go
  pkg/util/procfs/manager/proc.go
  pkg/util/procfs/manager/proc_linux.go
  pkg/util/procfs/manager/procfs_linux.go
Owners: @luomingmeng

fix(*): supplemented and fixed the problem of unit test running failure on Mac system
  pkg/util/machine/network_linux.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/machine/topology_linux_test.go
  pkg/util/machine/topology_test.go
  pkg/util/sysfs/manager/manage_unsupported.go
  pkg/util/sysfs/manager/manager_linux.go
  pkg/util/sysfs/manager/sys.go
  pkg/util/sysfs/manager/sys_linux.go
  pkg/util/sysfs/manager/sysfs_linux.go
Owners: @luomingmeng

fix(qrm): fix the bug in the CPU pressure eviction plugin related to accumulating shared pool limits when SNB pods are present
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
Owners: @luomingmeng

feat(cpu/memory): add pre-occupation support for NUMA binding pods
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/util.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/util/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_hint_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/util/preoccupation/preoccupation.go
Owners: @luomingmeng

fix: PR comments
  pkg/metaserver/agent/metric/provisioner/rodan/client/client_node_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/pod/kata.go
  pkg/metaserver/agent/pod/kata_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_stub.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_stub.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
Owners: @JulyWindK, @luomingmeng

fix: unit tests
  pkg/metaserver/agent/pod/pod_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
Owners: @luomingmeng

chore: documentation and logging
  pkg/util/cgroup/common/path.go
Owners: @luomingmeng

feat: add kata runtime check
  pkg/metaserver/agent/pod/pod.go
Owners: @luomingmeng

feat: get kata container cgroup path
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_pod.go
  pkg/metaserver/agent/metric/provisioner/rodan/client/client_node_test.go
  pkg/metaserver/agent/metric/provisioner/rodan/provisioner_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_stub.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/path_test.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/external/network/manager.go
  pkg/util/external/network/manager_linux.go
  pkg/util/external/network/manager_unsupported.go
Owners: @luomingmeng, @JulyWindK, @yehlemias

fix: unit tests and documentation
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path_test.go
Owners: @luomingmeng

chore: format strict
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux.go
  pkg/agent/qrm-plugins/memory/handlers/sockmem/sockmem_linux_test.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/metaserver/agent/metric/provisioner/malachite/client/client_pod.go
  pkg/metaserver/agent/pod/pod.go
  pkg/metaserver/agent/pod/pod_test.go
  pkg/metaserver/agent/pod/runtime_test.go
  pkg/util/cgroup/common/path.go
  pkg/util/cgroup/common/types.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/external/network/manager.go
  pkg/util/external/network/manager_linux.go
  pkg/util/external/network/manager_unsupported.go
Owners: @luomingmeng, @JulyWindK, @yehlemias

change numa metric tag to numa_id to avoid conflict with node tag numa_bit_mask
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/node/node.go
Owners: @xu282934741, @luomingmeng

chore(*): update go mod
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix ut
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
Owners: @luomingmeng

feat(controller): add metric agent_deployed_node_total
  pkg/controller/lifecycle/agent-healthz/helper/healthz_check.go
Owners: @luomingmeng

fix: ut compile failure
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_linux.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_unsupported.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/tuner/irq_tuner_stub.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/cgroup/manager/cgroup_linux.go
  pkg/util/machine/network_linux_test.go
  pkg/util/machine/network_unsuppored.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_linux.go
  pkg/util/machine/util_test.go
  pkg/util/process/system.go
  pkg/util/process/system_test.go
  pkg/util/procfs/manager/manager.go
  pkg/util/procfs/manager/proc.go
  pkg/util/sysfs/manager/manager.go
  pkg/util/sysfs/manager/sys.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

feat(eviction): add frequency control, filters and scorers for numa cpu pressure eviction
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/util/metric_ring.go
  pkg/agent/qrm-plugins/cpu/util/numa_history.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(qrm-plugins): improve pre-occupation pod entries handling
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/util.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/util.go
Owners: @luomingmeng

chore(*): fix
  pkg/util/machine/cpu_linux_test.go
  pkg/util/machine/cpu_test.go
  pkg/util/machine/topology_linux_test.go
  pkg/util/machine/topology_test.go
Owners: @luomingmeng

feat: remove old checkpoint file
  cmd/katalyst-agent/app/options/qrm/qrm_base.go
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  cmd/katalyst-agent/app/options/sysadvisor/sysadvisor_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/cpu_eviciton_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/canonical/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy.go
  pkg/agent/qrm-plugins/cpu/nativepolicy/policy_test.go
  pkg/agent/qrm-plugins/inmemorystate/inmemorystate.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy.go
  pkg/agent/qrm-plugins/network/staticpolicy/policy_test.go
  pkg/agent/sysadvisor/metacache/inmemorystate.go
  pkg/agent/sysadvisor/metacache/metacache.go
  pkg/config/agent/qrm/qrm_base.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/config/agent/sysadvisor/sysadvisor_base.go
Owners: @luomingmeng, @xu282934741

feat(eviction): add frequency control, filters and scorers for numa cpu pressure eviction
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/util/metric_ring.go
  pkg/agent/qrm-plugins/cpu/util/numa_history.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

Revert "feat(eviction): add frequency control, filters and scorers for numa cpu pressure eviction"
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/candidates_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/filter_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/score_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/rules/types.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/numa_history.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_load_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_metric.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_numa_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpueviction/strategy/pressure_threshold_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/metricbased/optimizer_test.go
  pkg/config/agent/dynamic/adminqos/eviction/numa_cpu_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

refactor(memory): simplify numa binding allocation logic
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/reactor/numa_allocation_reactor_test.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

update logic of exclusive bytes
  cmd/katalyst-agent/app/options/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
  pkg/config/agent/dynamic/adminqos/eviction/rootfs_pressure_eviction.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

add dynamic numa memory bandwidth capacity
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

add dynamic numa memory bandwidth capacity
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

fix fmt
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
Owners: @luomingmeng

add license
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
Owners: @luomingmeng

fix(qrm-plugins): bypass cache when fetching pod for allocation update
  pkg/agent/qrm-plugins/util/reactor/pod_allocation_reactor.go
Owners: @luomingmeng

feat: implement pre-stop support and checkpoint fallback
  cmd/katalyst-agent/app/options/qrm/statedirectory/statedirectory_base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/network/state/state_checkpoint.go
  pkg/config/agent/qrm/statedirectory/statedirectory_base.go
  pkg/util/file/file.go
  pkg/util/file/file_test.go
Owners: @luomingmeng

feat: support to isolate pods by cpu utilization
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_load.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_perf.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/isolation/isolator_test.go
  pkg/config/agent/sysadvisor/qosaware/resource/cpu/cpu_isolation.go
  pkg/consts/strategy_names.go
Owners: @xu282934741, @cheney-lin, @sun-yuliang, @luomingmeng, @waynepeking348

fix vet and lint
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
Owners: @luomingmeng

fix unsafe pointer in test
  pkg/agent/evictionmanager/plugin/rootfs/prjquota_utils.go
  pkg/agent/evictionmanager/plugin/rootfs/rootfs_pressure_test.go
Owners: @luomingmeng

feat(resource): add disable reclaim level support for numa allocation
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/helper_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/helper/memory_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/headroompolicy/policy_canonical_test.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(*): fix the issue that map is not fully initialized
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
Owners: @luomingmeng

add dynamic numa memory bandwidth capacity
  cmd/katalyst-agent/app/options/global/base.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/memorybandwidth/optimizer_test.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter.go
  pkg/agent/resourcemanager/fetcher/kubelet/topology/topology_adapter_test.go
  pkg/config/agent/global/base.go
  pkg/metaserver/agent/metric/helper/system.go
  pkg/metaserver/agent/metric/helper/system_test.go
  pkg/util/machine/topology.go
  pkg/util/machine/topology_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @JulyWindK

fix lose percision
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
Owners: @luomingmeng

feat(metric-emitter): add NUMA CPU and memory usage metrics
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/metric-emitter/syncer/node/node.go
Owners: @xu282934741, @waynepeking348, @luomingmeng

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng
