Repository kubewharf/katalyst-core, changes with the owners that CODEOWNERS names for each.
All owners: @xu282934741, @waynepeking348, @pendoragon, @caohe, @luomingmeng, @JulyWindK, @WangZzzhe, @yehlemias, @cheney-lin, @sun-yuliang

CODEOWNERS:

### pls reference the following link for detailed info
### https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### default owners for everything in the repo unless a later match takes precedence.
* @xu282934741 @waynepeking348

### owners for community
/build/ @pendoragon @caohe
/docs/ @pendoragon @caohe
/examples/ @pendoragon @caohe

### owners for command lines
/cmd/katalyst-controller/ @luomingmeng @caohe
/cmd/katalyst-metric/ @JulyWindK @luomingmeng
/cmd/katalyst-scheduler/ @caohe @WangZzzhe
/cmd/katalyst-webhook/ @caohe @luomingmeng

/cmd/katalyst-agent/app/agent/qrm/ @luomingmeng 
/cmd/katalyst-agent/app/options/eviction @yehlemias @luomingmeng
/cmd/katalyst-agent/app/options/qrm @luomingmeng
/cmd/katalyst-agent/app/options/reporter @yehlemias
/cmd/katalyst-agent/app/options/sysadvisor  @xu282934741

### owners for configurations
/pkg/config/controller/ @luomingmeng @caohe
/pkg/config/metric/ @JulyWindK @luomingmeng
/pkg/config/webhook/ @caohe @luomingmeng

/pkg/config/agent/orm/ @caohe @WangZzzhe
/pkg/config/agent/qrm/ @luomingmeng 
/pkg/config/agent/eviction/ @yehlemias @luomingmeng
/pkg/config/agent/reporter/ @luomingmeng
/pkg/config/agent/sysadvisor/  @xu282934741

### owners for controllers
/pkg/controller/kcc/ @luomingmeng
/pkg/controller/lifecycle/ @luomingmeng 
/pkg/controller/monitor/ @luomingmeng  @JulyWindK
/pkg/controller/overcommit/ @caohe @WangZzzhe
/pkg/controller/tide/ @caohe @WangZzzhe
/pkg/controller/spd/ @luomingmeng
/pkg/controller/vap/ @luomingmeng
/pkg/controller/resource-recommend/ @luomingmeng

### owners for metaserver
/pkg/metaserver/spd/ @luomingmeng
/pkg/metaserver/config/ @luomingmeng
/pkg/metaserver/external/ @luomingmeng @caohe
/pkg/metaserver/agent/cnc/ @luomingmeng
/pkg/metaserver/agent/cnr/ @luomingmeng
/pkg/metaserver/agent/metric/ @JulyWindK
/pkg/metaserver/agent/kubeletconfig/ @caohe 
/pkg/metaserver/agent/node/  @luomingmeng
/pkg/metaserver/agent/pod/  @luomingmeng

### owners for agent
/pkg/agent/orm/ @caohe @WangZzzhe
/pkg/agent/evictionmanager/ @luomingmeng
/pkg/agent/qrm-plugins/ @luomingmeng 
/pkg/agent/resourcemanager/ @luomingmeng
/pkg/agent/sysadvisor/ @xu282934741
/pkg/agent/sysadvisor/plugin/inference @xu282934741
/pkg/agent/sysadvisor/plugin/metric-emitter @xu282934741 @luomingmeng
/pkg/agent/sysadvisor/plugin/qosaware  @cheney-lin @sun-yuliang @luomingmeng @xu282934741
/pkg/agent/utilcomponent/ @luomingmeng  @xu282934741

### owners for util
/pkg/util/  @luomingmeng
/pkg/util/asyncworker/ @luomingmeng
/pkg/util/cgroup/ @luomingmeng
/pkg/util/credential/ @yehlemias 
/pkg/util/eviction/ @yehlemias 
/pkg/util/external/ @yehlemias
/pkg/util/metric/  @JulyWindK
/pkg/util/service-discovery/ @luomingmeng

### owners for scheduler
/pkg/scheduler/ @caohe @WangZzzhe

### owners for webhook
/pkg/webhook/ @caohe @luomingmeng

### owners for custom-metric
/pkg/custom-metric/ @JulyWindK @luomingmeng

### owners for metrics-emitter
/pkg/metrics/ @luomingmeng

ccd suppression status accumulated
  pkg/agent/qrm-plugins/mb/advisor/advisor_metrics.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/uniq_priority_advisor.go
Owners: @luomingmeng

introduced cap recovery moderator interface
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state.go
Owners: @luomingmeng

fix(qrm): mbm-plugin uses 1000*1000 not 1024*1024 for mb usage
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/advisor_metrics.go
  pkg/agent/qrm-plugins/mb/allocator/resctrl_allocator_test.go
  pkg/agent/qrm-plugins/mb/plan/types.go
  pkg/agent/qrm-plugins/mb/plan/types_test.go
  pkg/agent/qrm-plugins/mb/policy/capacity.go
  pkg/agent/qrm-plugins/mb/policy/consts/consts.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader.go
  pkg/agent/qrm-plugins/mb/reader/mb_reader_test.go
Owners: @luomingmeng

trivial doc strings
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state.go
Owners: @luomingmeng

various ccd cap recover moderators
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor_test.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state_test.go
Owners: @luomingmeng

+argc --mb-cap-recovery-mode=slow-cool-down
  cmd/katalyst-agent/app/options/qrm/mb_plugin.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_advisor.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state.go
  pkg/agent/qrm-plugins/mb/advisor/pcontroller_group_state_test.go
  pkg/agent/qrm-plugins/mb/advisor/uniq_priority_advisor.go
  pkg/agent/qrm-plugins/mb/policy/plugin.go
  pkg/config/agent/qrm/mb_plugin.go
Owners: @luomingmeng

feat: add agents.md
  AGENTS.md
Owners: @xu282934741, @waynepeking348

feat: update agents.md
  AGENTS.md
Owners: @xu282934741, @waynepeking348

feat: update agents.md
  AGENTS.md
Owners: @xu282934741, @waynepeking348

feat(cpu): add metrics for cpu weight and system exclusive pool
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuweight/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuweight/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_async_handler_test.go
  pkg/agent/qrm-plugins/util/consts.go
Owners: @luomingmeng

fix: guard NodeResourceTopology score strategies against divide-by-zero
  pkg/scheduler/plugins/noderesourcetopology/least_allocated.go
  pkg/scheduler/plugins/noderesourcetopology/most_allocated.go
  pkg/scheduler/plugins/noderesourcetopology/score_test.go
  pkg/scheduler/plugins/noderesourcetopology/score_weightsum_test.go
Owners: @caohe, @WangZzzhe

fix(cpuburst): skip updating burst when cpu quota is max
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuburst/manager_test.go
Owners: @luomingmeng

test: add mutex to serialize package data races from mockey global patching
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_irq_tuner_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler_dying_memcg_test.go
  pkg/agent/qrm-plugins/memory/dynamicpolicy/policy_advisor_handler_memory_high_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/advisor_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

test(reporter): stabilize TestNodeMetricUpdate
  pkg/agent/sysadvisor/plugin/qosaware/reporter/nodemetric_reporter_test.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741

test(virtualgpu): fix data race in shouldSkipEnvInjection parallel subtests
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
Owners: @luomingmeng

test(irqtuner/controller): move controller init into subtests for isolation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/irqtuner/controller/controller_test.go
Owners: @luomingmeng

feat(gpu-qrm): add support for multiple weight env variables
  cmd/katalyst-agent/app/options/qrm/gpu_plugin.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu.go
  pkg/agent/qrm-plugins/gpu/resourceplugin/virtualgpu/virtual_gpu_test.go
  pkg/config/agent/qrm/gpu_plugin.go
Owners: @luomingmeng

test(provider): add readiness wait to fix flaky remote store tests
  pkg/custom-metric/provider/provider_test.go
Owners: @JulyWindK, @luomingmeng

docs: plan bulkhead healthz diagnostics
  docs/superpowers/plans/2026-07-25-bulkhead-healthz-diagnostics.md
Owners: @pendoragon, @caohe

refactor(bulkhead): replace legacy writer with phase pipeline
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/systemservice/plugin_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/convergence.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/domain.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/domain_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/gate.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/gate_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/reclaim_domain.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/reset.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/snapshot_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/target_normalization.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/transition.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/transition_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
Owners: @luomingmeng

perf(cgroup): log slow AttachPID writes
  pkg/util/cgroup/client/client.go
  pkg/util/cgroup/client/client_test.go
Owners: @luomingmeng

docs(bulkhead): document reclaim partition invariants in view
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
Owners: @luomingmeng

fix(config): validate reclaimed max ratio and round cpu cap
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom.go
Owners: @cheney-lin, @sun-yuliang, @luomingmeng, @xu282934741, @waynepeking348

build(deps): bump katalyst-api replace to 20260717084125-4a8dbf141210
  go.mod
  go.sum
Owners: @xu282934741, @waynepeking348

fix(dynamicpolicy): prefer reclaim-free dedicated allocation
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_source_pool_test.go
Owners: @luomingmeng

feat(reclaimed-resource): add reclaimed max ratios
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom_base.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

fix(dynamicpolicy): preserve advisor reclaim for seed pools
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers_test.go
Owners: @luomingmeng

perf(bulkhead): gate debug logs by level and fix slow-log timing
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/plugins/cpusettopology/plugin.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/util/cgroup/client/client.go
Owners: @luomingmeng

fix(bulkhead): bound reclaim affinity by advisor raw pool
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/view_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
Owners: @luomingmeng, @cheney-lin, @sun-yuliang, @xu282934741

fix(bulkhead): clamp reclaim descendants to NUMA bucket and propagate mems
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/phase_pipeline_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/safe_writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology/writer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/utils/topology_inputs.go
Owners: @luomingmeng

fix(gpu): gpu topology hints consider scheduler assignment for preferred hints
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu.go
  pkg/agent/qrm-plugins/gpu/customdeviceplugin/gpu/gpu_test.go
  pkg/agent/qrm-plugins/gpu/strategy/allocate/strategies/scheduler/filter.go
  pkg/agent/qrm-plugins/gpu/util/util.go
Owners: @luomingmeng

feat: add per-resource max reclaim ratio controls for CPU and memory
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  cmd/katalyst-agent/app/options/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom_base.go
  cmd/katalyst-agent/app/options/global/base.go
  cmd/katalyst-agent/app/options/sysadvisor/qosaware/resource/memory/memory_advisor.go
  go.mod
  go.sum
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/memory/plugin/memory_guard_test.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/adminqos/reclaimedresource/memoryheadroom/memory_headroom.go
  pkg/config/agent/global/base.go
  pkg/config/agent/sysadvisor/qosaware/resource/memory/memory_advisor.go
  pkg/util/cgroup/common/path.go
Owners: @xu282934741, @waynepeking348, @cheney-lin, @sun-yuliang, @luomingmeng

feat(cpu): enforce dedicated reclaim isolation
  cmd/katalyst-agent/app/options/dynamic/adminqos/advisor/cpu_provision.go
  go.mod
  go.sum
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.pb_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/cpuadvisor/cpu.proto
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/advisor.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common.go
  pkg/agent/sysadvisor/plugin/qosaware/resource/cpu/assembler/provisionassembler/assembler_common_test.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server.go
  pkg/agent/sysadvisor/plugin/qosaware/server/cpu_server_linux_test.go
  pkg/agent/sysadvisor/types/cpu.go
  pkg/agent/sysadvisor/types/types.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision.go
  pkg/config/agent/dynamic/adminqos/advisor/cpu_provision_test.go
Owners: @xu282934741, @waynepeking348, @luomingmeng, @cheney-lin, @sun-yuliang

docs(cpu): describe non-WAL advisor reconciliation
  docs/superpowers/specs/2026-07-28-remove-cpuset-wal-design.md
Owners: @pendoragon, @caohe

refactor(cpu): reconcile advisor cpusets without WAL
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_allocation_handlers.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/target_state.go
Owners: @luomingmeng

refactor(cpu-state): remove unused isolation state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
Owners: @luomingmeng

refactor(cpu-state): simplify checkpoint state
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/target_state.go
Owners: @luomingmeng

refactor(cpu): delegate cpuset updates to kubelet
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_advisor_handler_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_cpuset_adjustment_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_checkpoint.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_mem.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/target_state.go
Owners: @luomingmeng

feat(util): add filesystem, procfs, and cgroup client helpers
  pkg/util/cgroup/client/cache.go
  pkg/util/cgroup/client/cache_test.go
  pkg/util/cgroup/client/client.go
  pkg/util/cgroup/client/client_test.go
  pkg/util/fs/fs.go
  pkg/util/fs/fs_test.go
  pkg/util/procfs/common/proc_reader.go
  pkg/util/procfs/common/proc_reader_linux.go
  pkg/util/procfs/common/proc_reader_other.go
  pkg/util/procfs/common/proc_reader_test.go
Owners: @luomingmeng

fix(cpu): address bulkhead review comments
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bulkhead/manager_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/bypass_cpuset_adjustment_handler.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/resourcepackage/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/hintoptimizer/policy/totalrequestthreshold/optimizer_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/policy_bypass_cpuset_test.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state.go
  pkg/agent/qrm-plugins/cpu/dynamicpolicy/state/state_snapshot_test.go
  pkg/util/cgroup/client/cache.go
  pkg/util/cgroup/client/cache_test.go
  pkg/util/cgroup/client/client.go
  pkg/util/cgroup/client/fake.go
  pkg/util/cgroup/manager/cgroup.go
  pkg/util/fs/fs.go
  pkg/util/fs/fs_test.go
  pkg/util/procfs/common/proc_reader.go
  pkg/util/procfs/common/proc_reader_linux.go
  pkg/util/procfs/common/proc_reader_test.go
Owners: @luomingmeng
